ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          INCH
UNITS-WEIGHT            KGS
UID                     2FA67E05-ED3D-4488-8E8E-9FF59F1A1C1D
PIPELINE-REFERENCE      C49002
    UID                 E6263BB0-6D6F-4181-8771-53BAD3963496
    AREA                1
    DATE-DMY            17/04/18
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    ITEM-ATTRIBUTE1     -81
    START-CO-ORDS       42341.0000       86940.9000       101033.0800
FLANGE-BLIND
    COMPONENT-IDENTIFIER 2
    END-POINT           42341.0000    86940.9000    101043.5300 0.7500
    END-POINT           42341.0000    86940.9000    101033.0800 0.7500
    SKEY                FLBL
    MATERIAL-IDENTIFIER 1
    UID                 510F667E-21E0-49C6-87A9-564D4190E32A
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10.1
    UCI                 @@@@@@@3     913   26512     578   26512
    MESSAGE             
    TEXT                INSULATION H THK. 30  MM
END-POSITION-CLOSED
    CO-ORDS             42341.0000    86940.9000    101033.0800
GASKET
    COMPONENT-IDENTIFIER 4
    END-POINT           42341.0000    86940.9000    101043.5300 0.7500
    END-POINT           42341.0000    86940.9000    101047.9800 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 00A8C8B5-0F8D-48F2-8A52-C419CE9BC802
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 952E9860-9DED-477A-A89D-CDACAC364C1D
BOLT
    COMPONENT-IDENTIFIER 5
    CO-ORDS             42341.0000    86940.9000    101047.9800
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  9
    MATERIAL-IDENTIFIER 3
    UID                 366298A4-8E08-4214-A570-A3B4EF6A9F54
    UCI                 E83E6DAA-001C-4F10-86C9-76C8AD24A7EC
VALVE
    COMPONENT-IDENTIFIER 6
    END-POINT           42341.0000    86940.9000    101047.9800 0.7500
    END-POINT           42341.0000    86940.9000    101165.3800 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 4
    UID                 AB325DDC-1357-47F8-BBA7-8EC75EDFF522
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  11.1
    SPINDLE-DIRECTION   WEST
    UCI                 @@@@@@@3     912   26512     578   26512
GASKET
    COMPONENT-IDENTIFIER 7
    END-POINT           42341.0000    86940.9000    101165.3800 0.7500
    END-POINT           42341.0000    86940.9000    101169.8300 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 646C0824-4FC1-46FC-AC9A-2F1B48FBDA27
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 0CD3F296-527D-415A-910C-607C3AF08F13
BOLT
    COMPONENT-IDENTIFIER 8
    CO-ORDS             42341.0000    86940.9000    101169.8300
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  9
    MATERIAL-IDENTIFIER 3
    UID                 3CC93B5D-2ED2-4225-AD06-1AC63978FFE0
    UCI                 C25A6171-A657-4BE7-AA9B-174F285EC4EA
FLANGE
    COMPONENT-IDENTIFIER 9
    END-POINT           42341.0000    86940.9000    101169.8300 0.7500
    END-POINT           42341.0000    86940.9000    101222.1800 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 E245B75D-10AC-4716-AD09-0D5F6EAF9465
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.1
    UCI                 @@@@@@@3     911   26512     578   26512
WELD
    COMPONENT-IDENTIFIER 115
    END-POINT           42341.0000    86940.9000    101222.1800 0.7500
    END-POINT           42341.0000    86940.9000    101222.1800 0.7500
    SKEY                WW
    UID                 CB0960BA-8AC4-4D00-A1D8-F643EA44B617
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 1
    WELD-TYPE           BW
    UCI                 A44A746D-9F43-40EF-A37B-E8EFBC949F54
PIPE
    COMPONENT-IDENTIFIER 11
    END-POINT           42341.0000    86940.9000    101222.1800 0.7500
    END-POINT           42341.0000    86940.9000    101272.1800 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 2FCDB337-9EB0-4A47-BC49-5969B19197F1
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.1
    UCI                 @@@@@@@5     503   26512     578   26512
FLOW-ARROW
    CO-ORDS             42341.0000    86940.9000    101247.1800
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 116
    END-POINT           42341.0000    86940.9000    101272.1800 0.7500
    END-POINT           42341.0000    86940.9000    101272.1800 0.7500
    SKEY                WW
    UID                 66507E54-7AE1-4B1D-8729-2831EA72429F
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 2
    WELD-TYPE           BW
    UCI                 7B8EDB98-42B8-4F9C-A893-84FEA1488DD4
TEE
    COMPONENT-IDENTIFIER 12
    END-POINT           42341.0000    86940.9000    101272.1800 0.7500
    END-POINT           42341.0000    86940.9000    101329.3200 0.7500
    CENTRE-POINT        42341.0000    86940.9000    101300.7600
    BRANCH1-POINT       42341.0000    86912.3300    101300.7600 0.7500
    SKEY                TEBW
    MATERIAL-IDENTIFIER 7
    UID                 42840092-3BBB-4AF5-9AC3-EB77713A5F1E
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.1
    UCI                 @@@@@@@3     904   26512     578   26512
WELD
    COMPONENT-IDENTIFIER 119
    END-POINT           42341.0000    86940.9000    101329.3200 0.7500
    END-POINT           42341.0000    86940.9000    101329.3200 0.7500
    SKEY                WW
    UID                 6E24234D-F02D-4B44-A0CE-CD4163B8AF91
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 5
    WELD-TYPE           BW
    UCI                 AA692349-33EE-4D3C-B659-3DB59AD25CD7
FLANGE
    COMPONENT-IDENTIFIER 24
    END-POINT           42341.0000    86940.9000    101329.3200 0.7500
    END-POINT           42341.0000    86940.9000    101381.6700 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 0D320D68-BDE3-4470-B050-E1EE8D791ACB
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.3
    UCI                 @@@@@@@3     908   26512     773   26512
GASKET
    COMPONENT-IDENTIFIER 25
    END-POINT           42341.0000    86940.9000    101381.6700 0.7500
    END-POINT           42341.0000    86940.9000    101386.1200 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 CD2A678B-C3E6-4A69-B0AF-06A40457A8A0
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 85DD96B4-4E79-4D1C-AC80-A01FF68D7F9F
BOLT
    COMPONENT-IDENTIFIER 26
    CO-ORDS             42341.0000    86940.9000    101386.1200
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  9
    MATERIAL-IDENTIFIER 3
    UID                 D1693963-3E42-473C-A92F-53EF8517DE01
    UCI                 3A259700-AE97-47F2-8C7B-7702F79512CF
VALVE
    COMPONENT-IDENTIFIER 27
    END-POINT           42341.0000    86940.9000    101386.1200 0.7500
    END-POINT           42341.0000    86940.9000    101503.5200 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 4
    UID                 1174C79A-ED19-40D7-A249-9ADC54900968
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  11.2
    SPINDLE-DIRECTION   WEST
    UCI                 @@@@@@@3     909   26512     773   26512
GASKET
    COMPONENT-IDENTIFIER 28
    END-POINT           42341.0000    86940.9000    101503.5200 0.7500
    END-POINT           42341.0000    86940.9000    101507.9700 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 C47AF83A-B8D5-414E-8D06-76D3589E7881
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 04C5DBB7-AE48-42CA-8EA2-D66719E85643
BOLT
    COMPONENT-IDENTIFIER 29
    CO-ORDS             42341.0000    86940.9000    101507.9700
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  9
    MATERIAL-IDENTIFIER 3
    UID                 251D290D-C991-4C0B-9B88-9A0292F02DAC
    UCI                 AD48B3E0-2DD7-4378-AE5B-8378D960529C
FLANGE
    COMPONENT-IDENTIFIER 30
    END-POINT           42341.0000    86940.9000    101507.9700 0.7500
    END-POINT           42341.0000    86940.9000    101560.3200 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 99B004B1-9712-4D53-9D4C-E8B31ED88AE1
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.4
    UCI                 @@@@@@@3     910   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 120
    END-POINT           42341.0000    86940.9000    101560.3200 0.7500
    END-POINT           42341.0000    86940.9000    101560.3200 0.7500
    SKEY                WW
    UID                 5FD4C02F-8DD0-44CD-AF61-43A096947452
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 6
    WELD-TYPE           BW
    UCI                 3A7E6607-4F8E-40E9-8662-AB829A7805C6
PIPE
    COMPONENT-IDENTIFIER 32
    END-POINT           42341.0000    86940.9000    101560.3200 0.7500
    END-POINT           42341.0000    86940.9000    104654.9200 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 B1DB30AD-7D95-4884-B0C7-EFD8454D0423
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.3
    UCI                 @@@@@@@5     505   26512     773   26512
FLOW-ARROW
    CO-ORDS             42341.0000    86940.9000    101954.8700
    SKEY                FLOW
SUPPORT
    COMPONENT-IDENTIFIER 33
    CO-ORDS             42341.0000    86940.9000    102349.4200 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 8
    UID                 5892FEB3-DBC6-4502-B946-D4F2005E6356
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FP06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  12.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8     155   26512     773   26512
    MESSAGE             
    TEXT                058S013, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 36
    CO-ORDS             42341.0000    86940.9000    104249.7300 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 9
    UID                 A27F4A1B-1A6F-48D7-BB22-6EA875BDE37F
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  13.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8     156   26512     773   26512
    MESSAGE             
    TEXT                058S012, TP F 80
WELD
    COMPONENT-IDENTIFIER 121
    END-POINT           42341.0000    86940.9000    104654.9200 0.7500
    END-POINT           42341.0000    86940.9000    104654.9200 0.7500
    SKEY                WW
    UID                 B1AD9F90-CD80-410F-A2FA-2AD033674864
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 7
    WELD-TYPE           BW
    UCI                 8B46CB8A-DA66-4C94-8C52-FA8F974219A0
ELBOW
    COMPONENT-IDENTIFIER 39
    END-POINT           42341.0000    86940.9000    104654.9200 0.7500
    END-POINT           42367.9300    86967.8300    104693.0100 0.7500
    CENTRE-POINT        42341.0000    86940.9000    104693.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 694174AA-29F7-42EE-9A68-AE9E08A42319
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.1
    UCI                 @@@@@@@3     924   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 122
    END-POINT           42367.9300    86967.8300    104693.0100 0.7500
    END-POINT           42367.9300    86967.8300    104693.0100 0.7500
    SKEY                WW
    UID                 A282C8E9-2DA8-4AD9-AC83-E00B7AE22986
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 8
    WELD-TYPE           BW
    UCI                 FEEBE879-7C8C-4705-B9B8-92468B4C84C0
PIPE
    COMPONENT-IDENTIFIER 41
    END-POINT           42367.9300    86967.8300    104693.0100 0.7500
    END-POINT           42476.6300    87076.5500    104693.0100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 E7BCD1C4-1FDB-442E-A78E-608ACF5B9CA8
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.4
    UCI                 @@@@@@@5     673   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 123
    END-POINT           42476.6300    87076.5500    104693.0100 0.7500
    END-POINT           42476.6300    87076.5500    104693.0100 0.7500
    SKEY                WW
    UID                 E2DE5F64-0DB8-46F5-BA86-27151D576831
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 9
    WELD-TYPE           BW
    UCI                 D2021A27-A107-4AD8-9E9F-97166AA65748
ELBOW
    COMPONENT-IDENTIFIER 42
    END-POINT           42476.6300    87076.5500    104693.0100 0.7500
    END-POINT           42509.1500    87090.0100    104693.0000 0.7500
    CENTRE-POINT        42490.1100    87090.0100    104693.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               4496
    UID                 1E1B283B-2A6A-4BCB-BAD6-B0EE70009E42
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5.1
    UCI                 @@@@@@@3    1237   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 124
    END-POINT           42509.1500    87090.0100    104693.0000 0.7500
    END-POINT           42509.1500    87090.0100    104693.0000 0.7500
    SKEY                WW
    UID                 E66F2D6A-E833-4670-BDAD-5CEA77000990
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 10
    WELD-TYPE           BW
    UCI                 4E564405-5810-43D7-9FA1-184486B7EDFD
PIPE
    COMPONENT-IDENTIFIER 44
    END-POINT           42509.1500    87090.0000    104692.9800 0.7500
    END-POINT           42798.0300    87090.0000    104692.8300 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 5F24962C-2A10-4FED-B314-A826060402D5
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.5
    UCI                 @@@@@@@5     672   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 125
    END-POINT           42798.0300    87090.0000    104692.8300 0.7500
    END-POINT           42798.0300    87090.0000    104692.8300 0.7500
    SKEY                WW
    UID                 22127DF4-2B90-4E0B-84F2-C16F7095EBA3
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 11
    WELD-TYPE           BW
    UCI                 B8914E91-2A29-4F51-82FE-8A01F990A061
ELBOW
    COMPONENT-IDENTIFIER 45
    END-POINT           42798.0300    87090.0000    104692.8300 0.7500
    END-POINT           42836.1200    87090.0000    104730.9200 0.7500
    CENTRE-POINT        42836.1200    87090.0000    104692.8300
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 9B83C4B2-7158-479E-939D-E8C83CB00A6A
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.2
    UCI                 @@@@@@@3     942   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 126
    END-POINT           42836.1200    87090.0000    104730.9200 0.7500
    END-POINT           42836.1200    87090.0000    104730.9200 0.7500
    SKEY                WW
    UID                 7D877F3A-8BB6-4C9D-96AB-46F95D8F010A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 12
    WELD-TYPE           BW
    UCI                 DA459219-4280-47B8-8C6D-4857E8867F15
PIPE
    COMPONENT-IDENTIFIER 47
    END-POINT           42836.1200    87090.0000    104730.9200 0.7500
    END-POINT           42836.1200    87090.0000    104780.9200 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 B47B66AE-6EB2-448F-9EA7-660D3CA77371
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.6
    UCI                 @@@@@@@5     671   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 127
    END-POINT           42836.1200    87090.0000    104780.9200 0.7500
    END-POINT           42836.1200    87090.0000    104780.9200 0.7500
    SKEY                WW
    UID                 071F5063-23FC-4396-A2E1-E8E594AD4DDD
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 13
    WELD-TYPE           BW
    UCI                 BDB57585-63AE-4321-9BE4-1D51B9054A22
ELBOW
    COMPONENT-IDENTIFIER 48
    END-POINT           42836.1200    87090.0000    104780.9200 0.7500
    END-POINT           42836.1200    87128.0800    104819.0100 0.7500
    CENTRE-POINT        42836.1200    87090.0000    104819.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 0CE248AA-524C-4FC3-9B59-636EED5210FE
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.3
    UCI                 @@@@@@@3    1236   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 128
    END-POINT           42836.1200    87128.0800    104819.0100 0.7500
    END-POINT           42836.1200    87128.0800    104819.0100 0.7500
    SKEY                WW
    UID                 2981DA0F-45D4-4296-85E3-5DA17718EDC7
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 14
    WELD-TYPE           BW
    UCI                 408C8FE5-69A4-4731-9F10-4194DFC0FAD7
PIPE
    COMPONENT-IDENTIFIER 50
    END-POINT           42836.1200    87128.0800    104819.0100 0.7500
    END-POINT           42836.1200    89701.9100    104819.0100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 309C4FD3-3756-4B23-A21B-65DD58F24FA7
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.7
    UCI                 @@@@@@@5     516   26512     773   26512
SUPPORT
    COMPONENT-IDENTIFIER 51
    CO-ORDS             42836.1200    87250.1800    104819.0100 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 1B9381AE-658A-469E-BF68-2E5AEFF227E0
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  14.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     162   26512     773   26512
    MESSAGE             
    TEXT                058S011, TP F 80
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
SUPPORT
    COMPONENT-IDENTIFIER 55
    CO-ORDS             42836.1200    89250.1800    104819.0100 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 13
    UID                 9F34C613-BC66-42AB-A301-6D96D2A56835
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                GL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     161   26512     773   26512
    MESSAGE             
    TEXT                058S010, TP F 80
    MESSAGE             
    TEXT                POS:0 2-WAY SUPPORT
WELD
    COMPONENT-IDENTIFIER 129
    END-POINT           42836.1200    89701.9100    104819.0100 0.7500
    END-POINT           42836.1200    89701.9100    104819.0100 0.7500
    SKEY                WW
    UID                 2EE6AF6E-2936-443D-9F51-61E99773890C
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 15
    WELD-TYPE           BW
    UCI                 E86D6FC6-9817-4AE0-B01D-6DC284F78384
ELBOW
    COMPONENT-IDENTIFIER 59
    END-POINT           42836.1200    89701.9100    104819.0100 0.7500
    END-POINT           42874.2100    89740.0000    104819.0100 0.7500
    CENTRE-POINT        42836.1200    89740.0000    104819.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 97B34EC1-1F03-4FE9-BB54-B0F98BF3F11E
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.4
    UCI                 @@@@@@@3     927   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 130
    END-POINT           42874.2100    89740.0000    104819.0100 0.7500
    END-POINT           42874.2100    89740.0000    104819.0100 0.7500
    SKEY                WW
    UID                 8062879D-F22E-4F42-8AE5-F5777F9C26F1
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 16
    WELD-TYPE           BW
    UCI                 C5334821-AF6F-4E9E-A07D-D0A217B97903
PIPE
    COMPONENT-IDENTIFIER 61
    END-POINT           42874.2100    89740.0000    104819.0100 0.7500
    END-POINT           43757.8500    89740.0000    104819.0100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 2021EFC0-40DF-4783-AFA7-36DE72E2AC14
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.8
    UCI                 @@@@@@@5     517   26512     773   26512
SUPPORT
    COMPONENT-IDENTIFIER 62
    CO-ORDS             43610.0000    89740.0000    104819.0100 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 FF1457EF-A369-4581-854A-CD3C8E70FA65
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     160   26512     773   26512
    MESSAGE             
    TEXT                058S003, AKF83
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
WELD
    COMPONENT-IDENTIFIER 131
    END-POINT           43757.8500    89740.0000    104819.0100 0.7500
    END-POINT           43757.8500    89740.0000    104819.0100 0.7500
    SKEY                WW
    UID                 D65F6F87-90D5-4505-B70E-42CEF13056DC
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 17
    WELD-TYPE           BW
    UCI                 43594C2E-4807-4A1D-9D89-E662AF373E40
ELBOW
    COMPONENT-IDENTIFIER 66
    END-POINT           43757.8500    89740.0000    104819.0100 0.7500
    END-POINT           43795.9300    89778.0800    104819.0100 0.7500
    CENTRE-POINT        43795.9300    89740.0000    104819.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 A944D2D4-E6A8-4BE7-8A06-9A550FE3A3A5
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.5
    UCI                 @@@@@@@3     929   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 132
    END-POINT           43795.9300    89778.0800    104819.0100 0.7500
    END-POINT           43795.9300    89778.0800    104819.0100 0.7500
    SKEY                WW
    UID                 61A8F026-F608-4DA7-BFCF-8F36230448EA
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 18
    WELD-TYPE           BW
    UCI                 A1CC1B62-CE83-44D0-AA5F-488922B371AD
PIPE
    COMPONENT-IDENTIFIER 68
    END-POINT           43795.9300    89778.0800    104819.0100 0.7500
    END-POINT           43795.9300    90128.0800    104819.0100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 38F02A93-0A08-4845-BC68-528414D15474
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.9
    UCI                 @@@@@@@5     519   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 133
    END-POINT           43795.9300    90128.0800    104819.0100 0.7500
    END-POINT           43795.9300    90128.0800    104819.0100 0.7500
    SKEY                WW
    UID                 784E0E06-C32E-4DB3-9BC5-18357E9B6D67
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 19
    WELD-TYPE           BW
    UCI                 59DAB52F-693D-49AB-81F4-CCC011E572B5
ELBOW
    COMPONENT-IDENTIFIER 69
    END-POINT           43795.9300    90128.0800    104819.0100 0.7500
    END-POINT           43795.9300    90166.1700    104857.1000 0.7500
    CENTRE-POINT        43795.9300    90166.1700    104819.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 A91A9C38-6B08-49A6-8E54-454BB0427DB4
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.6
    UCI                 @@@@@@@3     930   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 134
    END-POINT           43795.9300    90166.1700    104857.1000 0.7500
    END-POINT           43795.9300    90166.1700    104857.1000 0.7500
    SKEY                WW
    UID                 90025CB1-624F-4974-97A9-3A8998ED89EA
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 20
    WELD-TYPE           BW
    UCI                 F6603238-A2B1-401D-871B-0B13AEB0A864
PIPE
    COMPONENT-IDENTIFIER 71
    END-POINT           43795.9300    90166.1700    104857.1000 0.7500
    END-POINT           43795.9300    90166.1700    105717.5200 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 7ED9E0A1-0F90-497D-8C7C-16665A3D1C1A
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.10
    UCI                 @@@@@@@5     520   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 135
    END-POINT           43795.9300    90166.1700    105717.5200 0.7500
    END-POINT           43795.9300    90166.1700    105717.5200 0.7500
    SKEY                WW
    UID                 B383783F-9C95-476B-9D2E-CD5E33866429
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 21
    WELD-TYPE           BW
    UCI                 BFE4E51A-57B2-4271-A4F5-DECE52B350E2
ELBOW
    COMPONENT-IDENTIFIER 72
    END-POINT           43795.9300    90166.1700    105717.5200 0.7500
    END-POINT           43795.9300    90204.2600    105755.6100 0.7500
    CENTRE-POINT        43795.9300    90166.1700    105755.6100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 754B6A14-D0C8-40B0-9240-68D84857118A
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.7
    UCI                 @@@@@@@3     931   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 136
    END-POINT           43795.9300    90204.2600    105755.6100 0.7500
    END-POINT           43795.9300    90204.2600    105755.6100 0.7500
    SKEY                WW
    UID                 CBA4BB4C-2482-4A93-8BF0-C258C169F74B
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 22
    WELD-TYPE           BW
    UCI                 60715AF5-3A67-4DCE-B1C7-CA56E97E1213
PIPE
    COMPONENT-IDENTIFIER 74
    END-POINT           43795.9300    90204.2600    105755.6100 0.7500
    END-POINT           43795.9300    93326.4500    105755.6100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 D78D4BA0-8183-4181-8B7E-38C2677FF70E
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.11
    UCI                 @@@@@@@5     518   26512     773   26512
SUPPORT
    COMPONENT-IDENTIFIER 75
    CO-ORDS             43795.9300    91272.0000    105755.6100 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 BA2E131A-F62D-46E1-8F3A-746B49D554BD
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  17.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     159   26512     773   26512
    MESSAGE             
    TEXT                058S002, AKF80
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
SUPPORT
    COMPONENT-IDENTIFIER 79
    CO-ORDS             43795.9300    93172.0000    105755.6100 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 A09F34D2-C4FC-4035-9829-3E663B9C5B61
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     157   26512     773   26512
    MESSAGE             
    TEXT                058S001, AKF80
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
WELD
    COMPONENT-IDENTIFIER 137
    END-POINT           43795.9300    93326.4500    105755.6100 0.7500
    END-POINT           43795.9300    93326.4500    105755.6100 0.7500
    SKEY                WW
    UID                 2E17C6F0-9390-44A5-ADB5-F1D9F7862604
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 23
    WELD-TYPE           BW
    UCI                 97725546-10A2-4BD2-9491-FD0BC1DEA995
ELBOW
    COMPONENT-IDENTIFIER 83
    END-POINT           43795.9300    93326.4500    105755.6100 0.7500
    END-POINT           43757.8500    93364.5300    105755.6100 0.7500
    CENTRE-POINT        43795.9300    93364.5300    105755.6100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 1C7BDA86-A719-4263-A017-7F6BDD3CB9C5
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.8
    UCI                 @@@@@@@3     932   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 138
    END-POINT           43757.8500    93364.5300    105755.6100 0.7500
    END-POINT           43757.8500    93364.5300    105755.6100 0.7500
    SKEY                WW
    UID                 F9260920-4D6E-4213-9F5F-69EDB0EA0FA4
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 24
    WELD-TYPE           BW
    UCI                 1B73617F-C187-4FAE-9EBB-2AE26BAC6C43
PIPE
    COMPONENT-IDENTIFIER 85
    END-POINT           43757.8600    93364.5300    105755.6100 0.7500
    END-POINT           42099.0600    93364.5200    105755.6100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 B9A2F288-E9EA-4895-B75E-1623E18C91C1
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.12
    UCI                 @@@@@@@5     524   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 139
    END-POINT           42099.0600    93364.5200    105755.6100 0.7500
    END-POINT           42099.0600    93364.5200    105755.6100 0.7500
    SKEY                WW
    UID                 8B95D066-81E1-4F5D-AD5D-511E6D3CF4BA
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 25
    WELD-TYPE           BW
    UCI                 33BDAB1F-89ED-4461-9EA1-8E92A0049D93
ELBOW
    COMPONENT-IDENTIFIER 86
    END-POINT           42099.0600    93364.5200    105755.6100 0.7500
    END-POINT           42066.5500    93378.0000    105755.6100 0.7500
    CENTRE-POINT        42080.0100    93364.5300    105755.6100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               4499
    UID                 B352E812-425C-40CB-8088-F694317184CC
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5.2
    UCI                 @@@@@@@3     937   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 140
    END-POINT           42066.5500    93378.0000    105755.6100 0.7500
    END-POINT           42066.5500    93378.0000    105755.6100 0.7500
    SKEY                WW
    UID                 477C9462-4119-4A6D-941F-2446FC75A23A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 26
    WELD-TYPE           BW
    UCI                 511FFDFC-8241-42B4-8AE4-8464FBF9B1F2
PIPE
    COMPONENT-IDENTIFIER 88
    END-POINT           42066.5500    93378.0000    105755.6100 0.7500
    END-POINT           41926.9600    93517.5800    105755.6100 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 A9EC3125-96C1-4D46-AB18-3FF8FF607B81
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.13
    UCI                 @@@@@@@5     525   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 141
    END-POINT           41926.9600    93517.6000    105755.6100 0.7500
    END-POINT           41926.9600    93517.6000    105755.6100 0.7500
    SKEY                WW
    UID                 C2A38669-887A-41E9-93BE-A3A972A2329F
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 27
    WELD-TYPE           BW
    UCI                 5B5209EB-6D9C-40D5-975C-798981B55005
ELBOW
    COMPONENT-IDENTIFIER 89
    END-POINT           41926.9600    93517.6000    105755.6100 0.7500
    END-POINT           41900.0200    93544.5300    105793.7000 0.7500
    CENTRE-POINT        41900.0200    93544.5300    105755.6100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               9000
    UID                 5C6F1328-E0DA-4B04-B8EF-99283BB7CDF1
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.9
    UCI                 @@@@@@@3     936   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 142
    END-POINT           41900.0200    93544.5300    105793.7000 0.7500
    END-POINT           41900.0200    93544.5300    105793.7000 0.7500
    SKEY                WW
    UID                 046B17B1-F6A9-4054-8635-AB348EEEFD79
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 28
    WELD-TYPE           BW
    UCI                 DA0AE1AE-2228-4805-9941-61C9ED3A97C2
REDUCER-CONCENTRIC
    COMPONENT-IDENTIFIER 91
    END-POINT           41900.0200    93544.5300    105793.7000 0.7500
    END-POINT           41900.0200    93544.5300    105844.4800 1.0000
    SKEY                RCBW
    MATERIAL-IDENTIFIER 14
    UID                 79BF07D8-1786-4E25-BFAF-73C2E5920163
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.1
    UCI                 @@@@@@@3     934   26512     773   26512
WELD
    COMPONENT-IDENTIFIER 143
    END-POINT           41900.0200    93544.5300    105844.4800 1.0000
    END-POINT           41900.0200    93544.5300    105844.4800 1.0000
    SKEY                WW
    UID                 4DCC046E-9AAD-4A07-85E7-708699EF8874
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 29
    WELD-TYPE           BW
    UCI                 5FCAC5DE-CC4D-464C-8306-C7F2344C310B
FLANGE
    COMPONENT-IDENTIFIER 93
    END-POINT           41900.0200    93544.5300    105844.4800 1.0000
    END-POINT           41900.0200    93544.5300    105900.0000 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 890F8BC8-ABAB-4A50-9949-56732530D6EA
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  6.1
    UCI                 @@@@@@@3     935   26512     597   26512
    END-CONNECTION-PIPELINE 
    CO-ORDS             41900.0200    93544.5300    105900.0000
    PIPELINE-REFERENCE  NOT FOUND
WELD
    COMPONENT-IDENTIFIER 117
    END-POINT           42341.0000    86912.3300    101300.7600 0.7500
    END-POINT           42341.0000    86912.3300    101300.7600 0.7500
    SKEY                WW
    UID                 41259A99-C967-48E7-A283-E88993D26638
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 3
    WELD-TYPE           BW
    UCI                 971E8F88-B258-491B-8010-B4C32E5C6C50
PIPE
    COMPONENT-IDENTIFIER 16
    END-POINT           42341.0000    86912.3300    101300.7600 0.7500
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 EE70DE04-6949-4F76-A4AB-4ABBF165D776
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         B
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.2
    UCI                 @@@@@@@5     506   26512     580   26512
FLOW-ARROW
    CO-ORDS             42341.0000    86881.8700    101300.7600
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 118
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    SKEY                WW
    UID                 00FBF577-161C-4BD1-94F2-D38B7AA155F7
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 4
    WELD-TYPE           BW
    UCI                 50715519-D94B-492B-927E-BDA8820603A7
FLANGE
    COMPONENT-IDENTIFIER 17
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    END-POINT           42341.0000    86799.0400    101300.7600 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 353A3719-7F66-42D8-ADCD-7AB9A33B7751
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.2
    UCI                 @@@@@@@3     918   26512     580   26512
GASKET
    COMPONENT-IDENTIFIER 18
    END-POINT           42341.0000    86799.0400    101300.7600 0.7500
    END-POINT           42341.0000    86794.5900    101300.7600 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 4818EFD0-89C4-4BE3-B587-76EEED2693E3
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 42D565EE-E9DF-4B08-BF99-A651351A865C
BOLT
    COMPONENT-IDENTIFIER 19
    CO-ORDS             42341.0000    86794.5900    101300.7600
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  9
    MATERIAL-IDENTIFIER 3
    UID                 8908BA5C-E261-4E4A-BC94-57F94E1AD286
    UCI                 CA92C326-A254-46CF-A34A-0CF349CC8FFC
MISC-COMPONENT
    COMPONENT-IDENTIFIER 20
    END-POINT           42341.0000    86794.5900    101300.7600 0.7500
    END-POINT           42341.0000    86644.6400    101300.7600 0.7500
    CENTRE-POINT        42341.0000    86719.6200    101300.7600
    SKEY                NCFL
    MATERIAL-IDENTIFIER 1
    UID                 2F6FBBBC-A885-41BA-A523-24A22BFE2B7F
    CATEGORY            FABRICATION
    FLOW                2
    MATERIAL-LIST       EXCLUDE
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 @@@@@@@3     657   26512     560   26512
    END-CONNECTION-PIPELINE 
    CO-ORDS             42341.0000    86644.6400    101300.7600
    PIPELINE-REFERENCE  LINE LS49047-PA12S$AREA 058
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE FBC9-551-150
    DESCRIPTION BLIND FLANGE ASME B16.5 RF, CL150, ASTM A105
    -81                 FBC9-551-150
MATERIAL-IDENTIFIER 2
    ITEM-CODE DM-551-RF-150
    DESCRIPTION SPIRAL-WOUND GASKET SS316/GRAPHITE ASME B16.20, INNER-/CENTERING RING, FOR FLANGE ACC. ASME B16.5 RF, CL150
    -81                 DM-551-RF-150
MATERIAL-IDENTIFIER 3
    ITEM-CODE SBC-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A193 GR. B7 / ASTM A194 GR. 2H, METRIC SIZE, 75.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBC-551
MATERIAL-IDENTIFIER 4
    ITEM-CODE AS1502-C9-150-RF
    DESCRIPTION GATE VALVE API 602, FTF DIM. ASME B16.10, CL150, FACE RF, ASTM A105, TRIM 5-HARDFACED, HANDWHEEL
    -81                 AS1502-C9-150-RF
MATERIAL-IDENTIFIER 5
    ITEM-CODE FC9-551-150-XS
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS XS, ASTM A105
    -81                 FC9-551-150-XS
MATERIAL-IDENTIFIER 6
    ITEM-CODE RC9-551-XS
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A106 GR. B
    -81                 RC9-551-XS
MATERIAL-IDENTIFIER 7
    ITEM-CODE TC9-551-XS
    DESCRIPTION TEE STRAIGHT SEAMLESS, ASME B16.9, XS, ASTM A234 GR. WPB
    -81                 TC9-551-XS
MATERIAL-IDENTIFIER 8
    ITEM-CODE FP06A
    DESCRIPTION FIXED SUPPORT
MATERIAL-IDENTIFIER 9
    ITEM-CODE FL06A
    DESCRIPTION GUIDING SUPPORT
MATERIAL-IDENTIFIER 10
    ITEM-CODE BC9-551-90-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-90°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-90-XS
MATERIAL-IDENTIFIER 11
    ITEM-CODE BC9-551-45-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-45°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-45-XS
MATERIAL-IDENTIFIER 12
    ITEM-CODE FL06A
    DESCRIPTION GUIDING SUPPORT
    -81                 FL06A
MATERIAL-IDENTIFIER 13
    ITEM-CODE GL06A
    DESCRIPTION SLIDING SUPPORT
    -81                 GL06A
MATERIAL-IDENTIFIER 14
    ITEM-CODE RKC9-551-XS
    DESCRIPTION CONCENTRIC REDUCER SEAMLESS, ASME B16.9, XS, ASTM A234 GR. WPB
    -81                 RKC9-551-XS
