ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     B820B030-C3A9-4F24-96DF-246DAFB55B4A
PIPELINE-REFERENCE      TP008B
    UID                 887D5C1B-B393-4EC9-ADB9-D20C6300FAE2
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 4"-1150047-37724-86
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J014
    ATTRIBUTE108        H10-F007
    ATTRIBUTE109        5311500
    ATTRIBUTE11         550005
    ATTRIBUTE110        -
    ATTRIBUTE111        6"-1150054-39724-86
    ATTRIBUTE112        2"-004082-36724-12
    ATTRIBUTE116        nein
    ATTRIBUTE117        tw.W
    ATTRIBUTE118        -
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        G1
    ATTRIBUTE121        -
    ATTRIBUTE122        -
    ATTRIBUTE123        37724-86
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        18.06.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         ja
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         H2+H2S+Kohlenw.
    ATTRIBUTE3          
    ATTRIBUTE32         44
    ATTRIBUTE33         38
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP008B;  (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch 2"/600lbs/RTJ auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H11500-1150047-86
    ATTRIBUTE50         550005
    ATTRIBUTE54         38
    ATTRIBUTE55         44
    ATTRIBUTE56         -
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         hoch
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704884
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 16
    END-POINT           0.0000        -100.0000     0.0000 2.0000
    END-POINT           0.0000        0.0000        0.0000 2.0000
    MATERIAL-IDENTIFIER 1
    UID                 BCBFE6D3-F1B3-4909-AE31-80E9ACB30727
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 9BD3A2A8-E6FA-4DB5-80A3-623C730E0820
ELBOW
    COMPONENT-IDENTIFIER 17
    END-POINT           0.0000        -176.0000     76.0000 2.0000
    END-POINT           0.0000        -100.0000     0.0000 2.0000
    CENTRE-POINT        0.0000        -176.0000     0.0000
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 B9DBBB8C-614C-4F9C-926E-90B9FC187C78
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F2EA2B8C-8F9C-443C-99D9-A48AEC7BF580
TEE
    COMPONENT-IDENTIFIER 19
    END-POINT           0.0000        -176.0000     76.0000 2.0000
    END-POINT           0.0000        -176.0000     204.0000 2.0000
    CENTRE-POINT        0.0000        -176.0000     140.0000
    BRANCH1-POINT       -51.0000      -176.0000     140.0000 1.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 3
    UID                 82FB00B8-F953-4E45-8544-F73E643956A7
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 E16464F3-2B4C-4D54-BAEA-0A39221E6699
PIPE
    COMPONENT-IDENTIFIER 20
    END-POINT           0.0000        -176.0000     204.0000 2.0000
    END-POINT           0.0000        -176.0000     397.5000 2.0000
    MATERIAL-IDENTIFIER 1
    UID                 6D5766D0-6FAD-4A17-8297-6CA6C5FCD5C4
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F4938F34-1148-4675-BFFD-F50D61F7B533
FLANGE
    COMPONENT-IDENTIFIER 15
    END-POINT           0.0000        -176.0000     477.5000 2.0000
    END-POINT           0.0000        -176.0000     397.5000 2.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 1F8950F6-8A7C-4C9E-AB14-8FC71C547BDF
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 0FB8F7B1-FBD0-45B6-8C0A-E225BC9E130A
BOLT
    COMPONENT-IDENTIFIER 30
    CO-ORDS             0.0000        -176.0000     477.5000
    BOLT-DIA            15.88
    BOLT-LENGTH         110
    BOLT-QUANTITY       8
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 5
    UID                 19A7B710-EF73-4AD6-8659-A4EE2494BD4C
    UCI                 2FDAF0E9-54AB-4FAC-951A-A574F8CA76CF
GASKET
    COMPONENT-IDENTIFIER 13
    END-POINT           0.0000        -176.0000     477.5000 2.0000
    END-POINT           0.0000        -176.0000     481.0000 2.0000
    MATERIAL-IDENTIFIER 6
    UID                 F78C9337-4195-4A2F-AE46-7470940FC506
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 350DFF3D-72D4-431A-8927-A094F8F05E3D
VALVE
    COMPONENT-IDENTIFIER 12
    END-POINT           0.0000        -176.0000     773.0000 2.0000
    END-POINT           0.0000        -176.0000     481.0000 2.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 7
    UID                 9D1017D8-96E0-433F-9715-76E49F47F9FC
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   WEST
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 3A40F3EF-EDDE-4685-9131-4339FAB9D576
BOLT
    COMPONENT-IDENTIFIER 29
    CO-ORDS             0.0000        -176.0000     773.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         115
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 8
    UID                 BE3FE77E-A4AB-40C8-9093-CC6B8E47C2D6
    UCI                 E4F76205-8C3D-400F-9FF9-66BF830E8D83
    MESSAGE-CIRCLE      
    STATUS              DIMENSIONED
    TEXT                TP$008B
GASKET
    COMPONENT-IDENTIFIER 14
    END-POINT           0.0000        -176.0000     773.0000 2.0000
    END-POINT           0.0000        -176.0000     783.0000 2.0000
    MATERIAL-IDENTIFIER 9
    UID                 D433950D-3A0F-4578-856E-15F0A639B0F5
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 EE3346EF-44DA-428A-90ED-C4D474524D00
    WEIGHT              0.0000
FLANGE-BLIND
    COMPONENT-IDENTIFIER 26
    END-POINT           0.0000        -176.0000     783.0000 2.0000
    END-POINT           0.0000        -176.0000     815.4000 2.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 10
    UID                 36F25B5D-1DA7-4DDD-9B85-A8C808FA3F7B
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 DB067D55-7652-4729-9030-A84ADAC49A02
    WEIGHT              0.0000
PIPE
    COMPONENT-IDENTIFIER 18
    END-POINT           -51.0000      -176.0000     140.0000 1.0000
    END-POINT           -251.0000     -176.0000     140.0000 1.0000
    MATERIAL-IDENTIFIER 11
    UID                 5C38B634-1EE1-4FCF-86BB-C3567A16C18A
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 2D319694-B80B-4C7E-9AF0-D7F432D7E5D2
FLANGE
    COMPONENT-IDENTIFIER 24
    END-POINT           -320.0000     -176.0000     140.0000 1.0000
    END-POINT           -251.0000     -176.0000     140.0000 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 12
    UID                 8E186EF1-2BD6-4C60-AE74-63E085393C67
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 583D4F3D-F275-471C-B283-03CF0CE05CA8
BOLT
    COMPONENT-IDENTIFIER 28
    CO-ORDS             -320.0000     -176.0000     140.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 13
    UID                 68154023-EAAD-456E-8EB4-D7671040B904
    UCI                 2332F970-FA3A-4D83-9E64-EA0A7672BF0F
GASKET
    COMPONENT-IDENTIFIER 22
    END-POINT           -320.0000     -176.0000     140.0000 1.0000
    END-POINT           -323.5000     -176.0000     140.0000 1.0000
    MATERIAL-IDENTIFIER 14
    UID                 E2A87332-80BC-4052-BD55-2DCC78967FA3
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 0908F8B1-DEB7-48FC-9FE5-6F98AB1648BF
VALVE
    COMPONENT-IDENTIFIER 21
    END-POINT           -539.5000     -176.0000     140.0000 1.0000
    END-POINT           -323.5000     -176.0000     140.0000 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 15
    UID                 CA613A96-44FB-4520-88F7-EA5C13C3B8DD
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   UP
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 BAF0437A-197D-4111-ACC0-0846B230002F
BOLT
    COMPONENT-IDENTIFIER 27
    CO-ORDS             -539.5000     -176.0000     140.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 13
    UID                 0C5818E1-B9AF-481F-8EC5-AB29AA23A53F
    UCI                 8D4A50F9-B076-45A5-98CF-6C0385FA9CDC
GASKET
    COMPONENT-IDENTIFIER 23
    END-POINT           -539.5000     -176.0000     140.0000 1.0000
    END-POINT           -543.0000     -176.0000     140.0000 1.0000
    MATERIAL-IDENTIFIER 14
    UID                 EAACC428-4634-4650-A3D7-62B86ABE71DB
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 C45FAD09-63FD-440C-987A-E4C7ABB5C259
FLANGE-BLIND
    COMPONENT-IDENTIFIER 25
    END-POINT           -543.0000     -176.0000     140.0000 1.0000
    END-POINT           -567.5000     -176.0000     140.0000 1.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 16
    UID                 CC94A8CA-FE57-40FC-A1D9-63D271CC33B7
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 22D7820C-165C-4130-99D9-4DDE638D601A
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 60,3x8,7 
MATERIAL-IDENTIFIER 2
    ITEM-CODE ELCA_16
    DESCRIPTION Bogen 90° LR 60,3x8,7 
MATERIAL-IDENTIFIER 3
    ITEM-CODE TRCA_1616
    DESCRIPTION T-Red 60,3x8,7/33,4x6,3 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 60,3x8,7 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.625x110
    DESCRIPTION Schraubenbolzen 5/8"x110 
MATERIAL-IDENTIFIER 6
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 2" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE VG06CAS
    DESCRIPTION Schieber 600RF 2" 
MATERIAL-IDENTIFIER 8
    ITEM-CODE BNCT0.625x115
    DESCRIPTION Schraubenbolzen 5/8"x115 
MATERIAL-IDENTIFIER 9
    ITEM-CODE SP_GASK-R23
    DESCRIPTION Oval Ring Joint Dichtung 2"/600#/RTJ
MATERIAL-IDENTIFIER 10
    ITEM-CODE SP_FLBL-RTJ
    DESCRIPTION Bl-Flansch 2"/600#/RTJ
MATERIAL-IDENTIFIER 11
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 33,4x6,3 
MATERIAL-IDENTIFIER 12
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 33,4x6,3 
MATERIAL-IDENTIFIER 13
    ITEM-CODE BNCT0.625x95
    DESCRIPTION Schraubenbolzen 5/8"x95 
MATERIAL-IDENTIFIER 14
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 1" 
MATERIAL-IDENTIFIER 15
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 1" 
MATERIAL-IDENTIFIER 16
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF 1" 
