ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     1149B45E-33AF-4B31-8D0A-B40F5D49CED7
PIPELINE-REFERENCE      TP005D
    UID                 482BE33C-3F67-4BF0-8333-2C95A4C2B706
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 40-0040141-31311-73
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J008
    ATTRIBUTE108        H10-F008
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35
    ATTRIBUTE111        2"-04216-AJ52113C
    ATTRIBUTE112        40-0040138-BG31173B
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        21.2
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        -
    ATTRIBUTE122        -
    ATTRIBUTE123        31311-73
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        19.06.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Slop
    ATTRIBUTE3          
    ATTRIBUTE32         14.1
    ATTRIBUTE33         120
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP005D; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: I / Herst.
    ATTRIBUTE40         Blindflansch 1" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040141-73
    ATTRIBUTE50         550005
    ATTRIBUTE54         120
    ATTRIBUTE55         14.1
    ATTRIBUTE56         21.2
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705077
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
TEE
    COMPONENT-IDENTIFIER 9
    END-POINT           0.0000        0.0000        57.0000 1.5000
    END-POINT           0.0000        0.0000        -57.0000 1.5000
    CENTRE-POINT        0.0000        0.0000        0.0000
    BRANCH1-POINT       57.0000       0.0000        0.0000 1.5000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 1
    UID                 1C2C6B7A-A454-4E80-B1AC-BA80C9D06966
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 1966EAE6-167F-4E57-BAA3-1BFACE044CF3
FLANGE
    COMPONENT-IDENTIFIER 59
    END-POINT           134.0000      0.0000        0.0000 1.5000
    END-POINT           57.0000       0.0000        0.0000 1.5000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 2
    UID                 C075EE1F-823D-406C-B623-3BC7CC7C269A
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 091ACE5F-B0FF-472E-909F-C0A5E26225DF
BOLT
    COMPONENT-IDENTIFIER 67
    CO-ORDS             134.0000      0.0000        0.0000
    BOLT-DIA            19.05
    BOLT-LENGTH         110
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 3
    UID                 DD7B4798-AADB-4EB7-A98E-825ED2B13B1E
    UCI                 826CE88F-64E5-4CB7-A2D7-2307D748BEED
GASKET
    COMPONENT-IDENTIFIER 58
    END-POINT           134.0000      0.0000        0.0000 1.5000
    END-POINT           137.5000      0.0000        0.0000 1.5000
    MATERIAL-IDENTIFIER 4
    UID                 C406D685-4E7D-4DBD-BA9E-864F099B8302
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 94EA2F0D-C1B0-4245-BF85-248C062C44FC
FLANGE
    COMPONENT-IDENTIFIER 13
    END-POINT           137.5000      0.0000        0.0000 1.5000
    END-POINT           214.5000      0.0000        0.0000 1.5000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 2
    UID                 AD201152-34DD-4AF6-8453-EE2ED5F07FC5
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 452D766F-906D-4CE4-87C3-8D1AA80292E6
TEE
    COMPONENT-IDENTIFIER 3
    END-POINT           214.5000      0.0000        0.0000 1.5000
    END-POINT           328.5000      0.0000        0.0000 1.5000
    CENTRE-POINT        271.5000      0.0000        0.0000
    BRANCH1-POINT       271.5000      0.0000        -57.0000 1.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 5
    UID                 616E7B02-618B-4F9C-A221-997F4FF33F3C
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 ED586DEE-8E41-44F3-BF44-F6B322AF3EA0
PIPE
    COMPONENT-IDENTIFIER 4
    END-POINT           328.5000      0.0000        0.0000 1.5000
    END-POINT           528.5000      0.0000        0.0000 1.5000
    MATERIAL-IDENTIFIER 6
    UID                 E281A1C6-7DF8-4C1D-A185-C69EB4536848
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F0D1ECDF-4188-4AB2-AFA9-10AE7BEF8AC2
FLANGE
    COMPONENT-IDENTIFIER 63
    END-POINT           271.5000      0.0000        -126.0000 1.0000
    END-POINT           271.5000      0.0000        -57.0000 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 7
    UID                 AB31E4AE-692C-4F8A-8B5B-1C7A1763E396
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 11A7CE06-5F02-4EB0-9CC6-CA105167C1BE
BOLT
    COMPONENT-IDENTIFIER 65
    CO-ORDS             271.5000      0.0000        -126.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 8
    UID                 C3D394BE-7DE2-4242-97E1-084B026C3C4B
    UCI                 A355B7EA-5AF1-4025-8A5E-E71D0A3B07B1
GASKET
    COMPONENT-IDENTIFIER 61
    END-POINT           271.5000      0.0000        -126.0000 1.0000
    END-POINT           271.5000      0.0000        -129.5000 1.0000
    MATERIAL-IDENTIFIER 9
    UID                 5F4BB9C1-16FE-4A4C-8D6F-6D78EFA02BB3
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 8D74593F-3A18-46D0-86BE-F3F426C83910
VALVE
    COMPONENT-IDENTIFIER 60
    END-POINT           271.5000      0.0000        -345.5000 1.0000
    END-POINT           271.5000      0.0000        -129.5000 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 10
    UID                 9D9FA886-1A63-4EB7-824C-3AF317BCB7E7
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   NORTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 28754860-7160-46E4-A5AA-D316A8693757
BOLT
    COMPONENT-IDENTIFIER 66
    CO-ORDS             271.5000      0.0000        -345.5000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 8
    UID                 7ADCF71B-65C9-45B3-B602-7D7E6B88DF30
    UCI                 E7D2A67F-2575-44A4-8F57-E1D38224FC2A
GASKET
    COMPONENT-IDENTIFIER 62
    END-POINT           271.5000      0.0000        -345.5000 1.0000
    END-POINT           271.5000      0.0000        -349.0000 1.0000
    MATERIAL-IDENTIFIER 9
    UID                 8173176E-1081-48F4-98A5-E7847FDB6FAD
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 C6472B20-3220-4D57-8098-5C4C6FCE6D40
FLANGE-BLIND
    COMPONENT-IDENTIFIER 64
    END-POINT           271.5000      0.0000        -349.0000 1.0000
    END-POINT           271.5000      0.0000        -373.5000 1.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 11
    UID                 57255E86-E6B9-44FE-8F0A-F3A7B760DD1D
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 A5C24041-C1AA-4AE0-B2D5-5E8F9DD5430B
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE TSCA_16
    DESCRIPTION T-Egal 48,3x7,1 
MATERIAL-IDENTIFIER 2
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 48,3x7,1 
MATERIAL-IDENTIFIER 3
    ITEM-CODE BNCT0.75x110
    DESCRIPTION Schraubenbolzen 3/4"x110 
MATERIAL-IDENTIFIER 4
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 1 1/2" 
MATERIAL-IDENTIFIER 5
    ITEM-CODE TRCA_1616
    DESCRIPTION T-Red 48,3x7,1/33,4x6,3 
MATERIAL-IDENTIFIER 6
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 48,3x7,1 
MATERIAL-IDENTIFIER 7
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 33,4x6,3 
MATERIAL-IDENTIFIER 8
    ITEM-CODE BNCT0.625x95
    DESCRIPTION Schraubenbolzen 5/8"x95 
MATERIAL-IDENTIFIER 9
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 1" 
MATERIAL-IDENTIFIER 10
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 1" 
MATERIAL-IDENTIFIER 11
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF 1" 
