ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     5618BA71-E09E-41B4-A3FD-7DFBA2A39986
PIPELINE-REFERENCE      TP106G
    UID                 4F08C43C-04AC-446E-BF6B-B793FF08E8B8
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-0040093-A1-73
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J120
    ATTRIBUTE108        H10-F006
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35
    ATTRIBUTE111        F403
    ATTRIBUTE112        20-0040018-31311-73
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        12.9
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        31311-73
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Slop
    ATTRIBUTE3          
    ATTRIBUTE32         8.6
    ATTRIBUTE33         121
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP106G; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch 3/4" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040093-73
    ATTRIBUTE50         550005
    ATTRIBUTE54         121
    ATTRIBUTE55         8.6
    ATTRIBUTE56         12.9
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705066
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 19
    END-POINT           196040.0000   -55125.0000   163050.0000 6.0000
    END-POINT           196040.0000   -55125.0000   162750.0000 6.0000
    MATERIAL-IDENTIFIER 1
    UID                 0C80D246-4DE3-40C3-A4EF-3BE7826036DF
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 8EED3674-1242-4872-A43E-827A9F711FA2
OLET
    COMPONENT-IDENTIFIER 20
    CENTRE-POINT        196040.0000   -55125.0000   162850.0000 0.7500
    BRANCH1-POINT       195950.8000   -55125.0000   162850.0000 0.7500
    MATERIAL-IDENTIFIER 2
    SKEY                WTBW
    UID                 05454906-5EC5-4805-B1F5-A4FC1193C230
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 88B539DD-634A-4A02-8442-1BF814ABAF28
PIPE
    COMPONENT-IDENTIFIER 9
    END-POINT           195870.8000   -55125.0000   162850.0000 0.7500
    END-POINT           195950.8000   -55125.0000   162850.0000 0.7500
    MATERIAL-IDENTIFIER 3
    UID                 91F51775-16AD-4E46-8E87-7738846BE55B
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 2615697C-C045-4BCA-A459-5BE724E4F69D
FLANGE
    COMPONENT-IDENTIFIER 17
    END-POINT           195806.8000   -55125.0000   162850.0000 0.7500
    END-POINT           195870.8000   -55125.0000   162850.0000 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 B5B2B84A-3F64-4CD3-86A7-EADD9D230108
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 84A6DCAA-A534-4025-9401-587140A794D1
BOLT
    COMPONENT-IDENTIFIER 22
    CO-ORDS             195806.8000   -55125.0000   162850.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 5
    UID                 151A6D04-59C3-46F8-98C8-4892F6F82185
    UCI                 796CFB3F-638D-45DA-A3BA-4B1C53B8633F
GASKET
    COMPONENT-IDENTIFIER 16
    END-POINT           195806.8000   -55125.0000   162850.0000 0.7500
    END-POINT           195803.3000   -55125.0000   162850.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 0F4CE7E1-CAD1-41A4-904A-7333B25E3344
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 17F1BFE3-76E4-49F4-A939-14ECB9E6E7DC
VALVE
    COMPONENT-IDENTIFIER 8
    END-POINT           195613.3000   -55125.0000   162850.0000 0.7500
    END-POINT           195803.3000   -55125.0000   162850.0000 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 7
    UID                 E9FC0E0B-1AB4-4426-A091-B7213B7EE192
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH3480
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   NORTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 566184DB-AC86-48D6-913F-82C184BBD144
BOLT
    COMPONENT-IDENTIFIER 21
    CO-ORDS             195613.3000   -55125.0000   162850.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 BF2F19F5-2FC2-4420-B23C-052EBD0EF592
    UCI                 82BE880E-095E-45B7-A60A-C466083E8E9D
GASKET
    COMPONENT-IDENTIFIER 15
    END-POINT           195609.8000   -55125.0000   162850.0000 0.7500
    END-POINT           195613.3000   -55125.0000   162850.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 1366BE71-A44F-4317-8453-35042FDB7CCB
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 A137A801-FF79-421B-BD53-73C079A07862
FLANGE-BLIND
    COMPONENT-IDENTIFIER 18
    END-POINT           195609.8000   -55125.0000   162850.0000 0.7500
    END-POINT           195586.9000   -55125.0000   162850.0000 0.7500
    SKEY                FLBL
    MATERIAL-IDENTIFIER 8
    UID                 81496553-3AAE-4192-B2F0-AA6D9971B682
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 A3A3CDE5-5639-4F9A-B761-52F13B253C2B
MESSAGE-CIRCLE
    CO-ORDS             195586.9000   -55125.0000   162850.0000
    STATUS              DIMENSIONED
    TEXT                TP$106G
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_12
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 2
    ITEM-CODE WCA_1616
    DESCRIPTION Weldolet 3/4"x2 1/2-6" 160/160 
MATERIAL-IDENTIFIER 3
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 26,7x5,5 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 26,7x5,5 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.625x90
    DESCRIPTION Schraubenbolzen 5/8"x90 
MATERIAL-IDENTIFIER 6
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600  3/4" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 3/4" 
MATERIAL-IDENTIFIER 8
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF  3/4" 
