ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     1C866233-C30B-41C0-8EAC-77C78B5A1834
PIPELINE-REFERENCE      TP108B
    UID                 31FEB278-E04F-43FD-8A2E-C675A6FC839A
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 10"-0040151-AJ52113C
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J122
    ATTRIBUTE108        H10-F009
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35.8 I
    ATTRIBUTE111        10"-0040151-AJ52113C
    ATTRIBUTE112        100-04351-31311-73
    ATTRIBUTE116        nein
    ATTRIBUTE117        W
    ATTRIBUTE118        15
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        AJ52113C
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kohlenw. Flüssig
    ATTRIBUTE3          
    ATTRIBUTE32         10
    ATTRIBUTE33         310
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP108B; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch 3/4" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040151-13
    ATTRIBUTE50         550005
    ATTRIBUTE54         310
    ATTRIBUTE55         10
    ATTRIBUTE56         12.9
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         hoch
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705076
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 4
    END-POINT           198130.0000   -54805.0000   163350.0000 10.0000
    END-POINT           198130.0000   -54805.0000   163550.0000 10.0000
    MATERIAL-IDENTIFIER 1
    UID                 F797302B-B1C1-4C29-8873-DFEDF81F2F88
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 870C5775-AD85-4E49-A7D7-23A50FE7005A
MESSAGE
    CO-ORDS             198130.0000   -54805.0000   163350.0000
    STATUS              DIMENSIONED
    TEXT                SL G404A
OLET
    COMPONENT-IDENTIFIER 8
    CENTRE-POINT        198130.0000   -54805.0000   163450.0000 0.7500
    BRANCH1-POINT       197961.5000   -54805.0000   163450.0000 0.7500
    MATERIAL-IDENTIFIER 2
    SKEY                WTBW
    UID                 E9C850F5-8D7D-4EA8-944E-F1FFF479C3E6
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 EAAB7ADF-EA40-412C-90EA-3B4EEFD7DC8E
PIPE
    COMPONENT-IDENTIFIER 7
    END-POINT           197961.5000   -54805.0000   163450.0000 0.7500
    END-POINT           197861.5000   -54805.0000   163450.0000 0.7500
    MATERIAL-IDENTIFIER 3
    UID                 280D2154-E788-4AA0-B4F2-1E7B4E6FB438
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 2247014F-EBCD-4225-8D4A-B7E5D674589D
FLANGE
    COMPONENT-IDENTIFIER 12
    END-POINT           197797.5000   -54805.0000   163450.0000 0.7500
    END-POINT           197861.5000   -54805.0000   163450.0000 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 70CCBE94-967C-4429-A6BF-1A3A61DE9036
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 4B50B58F-BAEC-4CD3-9341-8412B8530DB4
BOLT
    COMPONENT-IDENTIFIER 15
    CO-ORDS             197797.5000   -54805.0000   163450.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 5
    UID                 91D8795C-16BA-4B0A-A143-D521856CF33C
    UCI                 88B4B775-7E8E-485C-98E2-FBEFF5D5B5AC
GASKET
    COMPONENT-IDENTIFIER 11
    END-POINT           197797.5000   -54805.0000   163450.0000 0.7500
    END-POINT           197794.0000   -54805.0000   163450.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 0D3C103A-E794-4DD2-AB47-420D657805B9
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 52A2195B-6242-4118-B21A-875F5DB465D9
VALVE
    COMPONENT-IDENTIFIER 9
    END-POINT           197794.0000   -54805.0000   163450.0000 0.7500
    END-POINT           197604.0000   -54805.0000   163450.0000 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 7
    UID                 4A1D3432-B7AC-488E-B0A3-6C2B2A244CD4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH0264
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   NORTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 6DE174B0-04BD-4FF4-8CDD-DC0A67DBE9FC
BOLT
    COMPONENT-IDENTIFIER 14
    CO-ORDS             197604.0000   -54805.0000   163450.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 EC5DA838-2C56-4BF8-B988-2F748C17B8AC
    UCI                 0A16218E-5213-4FFC-AE8F-EFDBDF1064D4
GASKET
    COMPONENT-IDENTIFIER 10
    END-POINT           197604.0000   -54805.0000   163450.0000 0.7500
    END-POINT           197600.5000   -54805.0000   163450.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 4A47B2BA-6D38-4A0B-AF63-90B1B404F5D7
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 EC050B7B-13E0-48A3-92B5-B4815EA834BB
FLANGE-BLIND
    COMPONENT-IDENTIFIER 13
    END-POINT           197600.5000   -54805.0000   163450.0000 0.7500
    END-POINT           197577.6000   -54805.0000   163450.0000 0.7500
    SKEY                FLBL
    MATERIAL-IDENTIFIER 8
    UID                 CD4FEF95-397B-4AAC-9701-062421143938
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 5327969E-84BE-4DF6-8F36-471D31C60557
MESSAGE-CIRCLE
    CO-ORDS             197577.6000   -54805.0000   163450.0000
    STATUS              DIMENSIONED
    TEXT                TP$108B
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_00
    DESCRIPTION Rohr 273x18,2 
MATERIAL-IDENTIFIER 2
    ITEM-CODE WCA_1616
    DESCRIPTION Weldolet  3/4"x8-24" 160/160 
MATERIAL-IDENTIFIER 3
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 26,7x5,5 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 26,7x5,5 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.625x90
    DESCRIPTION Schraubenbolzen 5/8"x90 
MATERIAL-IDENTIFIER 6
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600  3/4" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 3/4" 
MATERIAL-IDENTIFIER 8
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF  3/4" 
