ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     B1C517CD-6C3E-4AFC-95ED-D86034CCAD86
PIPELINE-REFERENCE      TP109C
    UID                 CDE1D74D-E6C3-408E-B129-BA90803F9D42
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-0040048-A3-13
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J126
    ATTRIBUTE108        H10-F009
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        C-Stahl
    ATTRIBUTE111        G404A/B
    ATTRIBUTE112        B402
    ATTRIBUTE116        nein
    ATTRIBUTE117        W
    ATTRIBUTE118        9.2
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        A3-13
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kohlenw. Flüssig
    ATTRIBUTE3          
    ATTRIBUTE32         6.1
    ATTRIBUTE33         310
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP109C; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: I / TÜV
    ATTRIBUTE40         Blindflansch 3/4" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040048-13
    ATTRIBUTE50         550005
    ATTRIBUTE54         310
    ATTRIBUTE55         6.1
    ATTRIBUTE56         9.2
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705059
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 1
    END-POINT           200120.0000   -55730.0000   162720.0000 6.0000
    END-POINT           200120.0000   -55730.0000   162580.0000 6.0000
    MATERIAL-IDENTIFIER 1
    UID                 320E1FA8-B19D-40FF-80B8-C6C2AD54D736
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 9F801E7D-40BC-44C5-AFB0-A4D124BC81C0
MESSAGE
    CO-ORDS             200120.0000   -55730.0000   162580.0000
    STATUS              DIMENSIONED
    TEXT                DL G404B
OLET
    COMPONENT-IDENTIFIER 3
    CENTRE-POINT        200120.0000   -55730.0000   162650.0000 0.7500
    BRANCH1-POINT       200003.8000   -55730.0000   162650.0000 0.7500
    MATERIAL-IDENTIFIER 2
    SKEY                WTBW
    UID                 EAAE8E82-91F9-4A27-839B-4E1E82CA902D
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 438A375E-7824-486C-B084-EA107AF9917B
PIPE
    COMPONENT-IDENTIFIER 2
    END-POINT           200003.8000   -55730.0000   162650.0000 0.7500
    END-POINT           199923.8000   -55730.0000   162650.0000 0.7500
    MATERIAL-IDENTIFIER 3
    UID                 E43E601E-8127-4276-98BB-DD07DDC71C5E
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F6ACDD1C-79BC-4CD4-8081-DC1B3991F3B7
PIPE
    COMPONENT-IDENTIFIER 10
    END-POINT           199923.8000   -55730.0000   162650.0000 0.7500
    END-POINT           199923.8000   -55730.0000   162650.0000 0.7500
    MATERIAL-IDENTIFIER 1
    UID                 EA0AE9AF-D293-47B2-A7E1-F9648FC3E535
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 341626C5-1720-4007-B40C-8147D6201B67
FLANGE
    COMPONENT-IDENTIFIER 9
    END-POINT           199859.8000   -55730.0000   162650.0000 0.7500
    END-POINT           199923.8000   -55730.0000   162650.0000 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 85564A19-536E-4D3A-BD0F-AEB473F6CED5
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 22101E2C-400E-4040-A148-122B0D4F1C65
BOLT
    COMPONENT-IDENTIFIER 12
    CO-ORDS             199859.8000   -55730.0000   162650.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 5
    UID                 78A3F943-BD8B-4AF6-A8AF-083D4357493A
    UCI                 CB2FF6FB-8173-4198-B8CC-B562606C0D09
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           199859.8000   -55730.0000   162650.0000 0.7500
    END-POINT           199856.3000   -55730.0000   162650.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 72103837-E056-4508-BED0-A8F26914D39E
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 739489EA-7775-496C-A566-DD27A6B8296C
VALVE
    COMPONENT-IDENTIFIER 4
    END-POINT           199666.3000   -55730.0000   162650.0000 0.7500
    END-POINT           199856.3000   -55730.0000   162650.0000 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 7
    UID                 D1570CB2-9E68-4D82-89C3-676C72F852F7
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH0149
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   SOUTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 88CE6CF6-B482-47FC-825A-CE8FD2DEFBC4
BOLT
    COMPONENT-IDENTIFIER 11
    CO-ORDS             199666.3000   -55730.0000   162650.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         90
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 76979701-BCEC-4A07-8560-CE1C4CE1F42D
    UCI                 9380BB00-53B8-40E8-82B6-37AE2F91ED94
GASKET
    COMPONENT-IDENTIFIER 7
    END-POINT           199666.3000   -55730.0000   162650.0000 0.7500
    END-POINT           199662.8000   -55730.0000   162650.0000 0.7500
    MATERIAL-IDENTIFIER 6
    UID                 FADC2846-E99F-4CD1-A0BF-AFBFF69D054A
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 D79200E4-9ED3-471F-BB47-E98D657133B2
FLANGE-BLIND
    COMPONENT-IDENTIFIER 8
    END-POINT           199662.8000   -55730.0000   162650.0000 0.7500
    END-POINT           199639.9000   -55730.0000   162650.0000 0.7500
    SKEY                FLBL
    MATERIAL-IDENTIFIER 8
    UID                 2573EC93-E8C2-4194-B289-132432A0FF09
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 32DCBBAA-9551-43BE-A8F3-336688609FA4
MESSAGE-CIRCLE
    CO-ORDS             199639.9000   -55730.0000   162650.0000
    STATUS              DIMENSIONED
    TEXT                TP$109C
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_12
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 2
    ITEM-CODE WCA_1616
    DESCRIPTION Weldolet 3/4"x2 1/2-6" 160/160 
MATERIAL-IDENTIFIER 3
    ITEM-CODE PCA_16
    DESCRIPTION Rohr 26,7x5,5 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FW06CAS_16
    DESCRIPTION V-Flansch 600RF 26,7x5,5 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.625x90
    DESCRIPTION Schraubenbolzen 5/8"x90 
MATERIAL-IDENTIFIER 6
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600  3/4" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 3/4" 
MATERIAL-IDENTIFIER 8
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF  3/4" 
