ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     D84B6602-D611-4D7B-9803-47808C4347F8
PIPELINE-REFERENCE      TP111E
    UID                 164BD0F2-E34A-4C28-9E22-694D5918FCA5
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-04160-36521-13
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J134
    ATTRIBUTE108        H10-F009
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35
    ATTRIBUTE111        E415
    ATTRIBUTE112        6"-04162-36521-13
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        23.6
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        36521-13
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kohlenw. Flüssig
    ATTRIBUTE3          
    ATTRIBUTE32         15.7
    ATTRIBUTE33         175
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP111E; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch 1" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-04160-13
    ATTRIBUTE50         550005
    ATTRIBUTE54         175
    ATTRIBUTE55         15.7
    ATTRIBUTE56         23.6
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         hoch
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705074
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 33
    END-POINT           199045.0000   -63630.0000   163420.0000 6.0000
    END-POINT           199045.0000   -63630.0000   163220.0000 6.0000
    MATERIAL-IDENTIFIER 1
    UID                 E170C07D-30D5-4736-8E4B-DEAF641A9FD0
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 C026676A-7061-4524-99A8-62DF88BC721D
MESSAGE
    CO-ORDS             199045.0000   -63630.0000   163420.0000
    STATUS              DIMENSIONED
    TEXT                SL G465B
TEE-SET-ON
    COMPONENT-IDENTIFIER 34
    CENTRE-POINT        199045.0000   -63630.0000   163320.0000 1.0000
    BRANCH1-POINT       199045.0000   -63551.3000   163320.0000 1.0000
    MATERIAL-IDENTIFIER 2
    SKEY                TESO
    UID                 118EDA79-50BD-46FA-BDE3-22863EA2C601
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 6D001341-BB9A-492E-9BD7-2354881617D4
FLANGE
    COMPONENT-IDENTIFIER 38
    END-POINT           199045.0000   -63364.3000   163320.0000 1.0000 FL
    END-POINT           199045.0000   -63551.3000   163320.0000 1.0000
    SKEY                FLST
    MATERIAL-IDENTIFIER 3
    UID                 DB581B03-0B15-4A29-AAD9-A2DB8FFCA61D
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 49732FD0-458B-4D43-B249-13C8334753BA
BOLT
    COMPONENT-IDENTIFIER 44
    CO-ORDS             199045.0000   -63364.3000   163320.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 4
    UID                 B621286C-E72F-4363-AC05-B2AF5C9F130B
    UCI                 F9667936-6F49-4F80-BB94-9C151C25694B
GASKET
    COMPONENT-IDENTIFIER 37
    END-POINT           199045.0000   -63364.3000   163320.0000 1.0000
    END-POINT           199045.0000   -63360.8000   163320.0000 1.0000
    MATERIAL-IDENTIFIER 5
    UID                 230C7634-B132-48BF-A774-CD43C9EE0E9B
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 6B59A8F1-9648-47F9-8641-79C0E284CE30
VALVE
    COMPONENT-IDENTIFIER 35
    END-POINT           199045.0000   -63360.8000   163320.0000 1.0000
    END-POINT           199045.0000   -63144.8000   163320.0000 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 6
    UID                 A7E383B2-BD44-4745-9694-8D4494468009
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH0385
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   UP
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 1CEE75A9-4C0D-4F2D-8F0A-B46A6280E2D8
BOLT
    COMPONENT-IDENTIFIER 40
    CO-ORDS             199045.0000   -63144.8000   163320.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 4
    UID                 18F91293-AB91-4897-9DF9-D188EE249D2D
    UCI                 CD174BD9-5C51-4006-A9BC-602C51AFF4EE
GASKET
    COMPONENT-IDENTIFIER 36
    END-POINT           199045.0000   -63144.8000   163320.0000 1.0000
    END-POINT           199045.0000   -63141.3000   163320.0000 1.0000
    MATERIAL-IDENTIFIER 5
    UID                 F74E7256-9097-41CD-BB74-6BCD49BBF0A8
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 4B878394-6B0A-48F9-8860-43AED26CFC19
FLANGE-BLIND
    COMPONENT-IDENTIFIER 39
    END-POINT           199045.0000   -63141.3000   163320.0000 1.0000
    END-POINT           199045.0000   -63116.8000   163320.0000 1.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 7
    UID                 2066A93B-3CC6-42EE-997E-709E9FAC4B36
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 2075FA19-0217-4316-9426-65A379190F41
MESSAGE-CIRCLE
    CO-ORDS             199045.0000   -63141.3000   163320.0000
    STATUS              DIMENSIONED
    TEXT                TP$111E
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_12
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 2
    ITEM-CODE Z0027541
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 3
    ITEM-CODE FL06CAS
    DESCRIPTION LWNF 600RF 1"x180 
MATERIAL-IDENTIFIER 4
    ITEM-CODE BNCT0.625x95
    DESCRIPTION Schraubenbolzen 5/8"x95 
MATERIAL-IDENTIFIER 5
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 1" 
MATERIAL-IDENTIFIER 6
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 1" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF 1" 
