ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     A22687D8-A519-4C09-8059-837B979E36E9
PIPELINE-REFERENCE      TP119B
    UID                 2DA67FCB-C149-4853-B586-C7C52380B555
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 2"-0051023-01CX3S-XD
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J155
    ATTRIBUTE108        H10-F318
    ATTRIBUTE109        5300510
    ATTRIBUTE11         550005
    ATTRIBUTE110        ASTM A 106 Grade B
    ATTRIBUTE111        D511
    ATTRIBUTE112        F415
    ATTRIBUTE116        OMV-CS-2B
    ATTRIBUTE117        tw. W
    ATTRIBUTE118        30
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        01CX3S
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         DGA+H2S+Kohlenw.
    ATTRIBUTE3          
    ATTRIBUTE32         5
    ATTRIBUTE33         200
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP119B; (PT=61bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D4CA1S; Kat.: I / Herst.
    ATTRIBUTE40         Blindflansch DN50 PN40 auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00510-0051023-XD
    ATTRIBUTE50         550005
    ATTRIBUTE54         200
    ATTRIBUTE55         5
    ATTRIBUTE56         30
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704877
    ATTRIBUTE9          
    PIPING-SPEC         D4CA1S
PIPE
    COMPONENT-IDENTIFIER 11
    END-POINT           236585.0000   -60639.0000   160550.0000 50.0000
    END-POINT           236685.0000   -60639.0000   160550.0000 50.0000
    MATERIAL-IDENTIFIER 1
    UID                 E179F421-AA7B-480A-B38E-75B7859F20F4
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 0A927C1B-727A-422A-B33A-35EE3B731174
ELBOW
    COMPONENT-IDENTIFIER 12
    END-POINT           236509.0000   -60715.0000   160550.0000 50.0000
    END-POINT           236585.0000   -60639.0000   160550.0000 50.0000
    CENTRE-POINT        236509.0000   -60639.0000   160550.0000
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 16EB903A-24E3-4A99-83AF-FBED2C5DB491
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 16399BAC-F310-4614-8ACE-53B96B35E9CD
FLANGE
    COMPONENT-IDENTIFIER 9
    END-POINT           236509.0000   -60763.0000   160550.0000 50.0000
    END-POINT           236509.0000   -60715.0000   160550.0000 50.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 3
    UID                 EFDF5DD7-F837-4204-ABC8-A04883F81F5E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 ED0DE280-51C3-49F2-8BE9-40281C7B0E2F
BOLT
    COMPONENT-IDENTIFIER 14
    CO-ORDS             236509.0000   -60763.0000   160550.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 4
    UID                 18F2C866-0A8A-40F3-843A-8125C9B94F88
    UCI                 069D1DDA-0860-4C08-B458-E32FD4A5181C
GASKET
    COMPONENT-IDENTIFIER 8
    END-POINT           236509.0000   -60766.5000   160550.0000 50.0000
    END-POINT           236509.0000   -60763.0000   160550.0000 50.0000
    MATERIAL-IDENTIFIER 5
    UID                 24BB2CA2-C20D-436D-A340-740AD6C8DE85
    CATEGORY            FABRICATION
    PIPING-SPEC         D4CA1S
    UCI                 D3733C95-1E02-4FF4-B01B-B1623C03F476
FLANGE-BLIND
    COMPONENT-IDENTIFIER 13
    END-POINT           236509.0000   -60766.5000   160550.0000 50.0000
    END-POINT           236509.0000   -60786.5000   160550.0000 50.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 6
    UID                 347B3675-9E55-4685-A60D-CD8B982023E7
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D4CA1S
    UCI                 C1EA6A36-760B-4094-A5AF-0E7806B9310C
MESSAGE-CIRCLE
    CO-ORDS             236509.0000   -60786.5000   160550.0000
    STATUS              DIMENSIONED
    TEXT                TP$119B
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1s
    DESCRIPTION Rohr 60,3x4 
MATERIAL-IDENTIFIER 2
    ITEM-CODE E9CAD_A4s
    DESCRIPTION Bogen 90° 3D 60,3x4 
MATERIAL-IDENTIFIER 3
    ITEM-CODE FVD4CAB1
    DESCRIPTION V-Flansch PN40B1 60,3x4 
MATERIAL-IDENTIFIER 4
    ITEM-CODE BNCT0.625x85
    DESCRIPTION Schraubenbolzen 5/8"x85 
MATERIAL-IDENTIFIER 5
    ITEM-CODE GSD4CL
    DESCRIPTION Spiraldtg PN40 50 
MATERIAL-IDENTIFIER 6
    ITEM-CODE FBD4CAB1
    DESCRIPTION Bl-Flansch PN40B1 50 
