ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     EF34C45D-2A45-4188-B314-299954B19421
PIPELINE-REFERENCE      TP111D
    UID                 164BD0F2-E34A-4C28-9E22-694D5918FCA5
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-04160-36521-13
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J133
    ATTRIBUTE108        H10-F009
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35
    ATTRIBUTE111        E415
    ATTRIBUTE112        6"-04162-36521-13
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        23.6
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        36521-13
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        16.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kohlenw. Flüssig
    ATTRIBUTE3          
    ATTRIBUTE32         15.7
    ATTRIBUTE33         175
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP111D; (PT=155bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 06CA3S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch 1" / 600lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-04160-13
    ATTRIBUTE50         550005
    ATTRIBUTE54         175
    ATTRIBUTE55         15.7
    ATTRIBUTE56         23.6
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         hoch
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705074
    ATTRIBUTE9          
    PIPING-SPEC         06CA3S
PIPE
    COMPONENT-IDENTIFIER 3
    END-POINT           199670.0000   -61750.0000   164305.0000 6.0000
    END-POINT           199670.0000   -61750.0000   164105.0000 6.0000
    MATERIAL-IDENTIFIER 1
    UID                 4D7ED9E8-FBC3-42A7-875C-8441F0E45484
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F979A3E3-6B03-428A-86F9-49667EC22C94
MESSAGE
    CO-ORDS             199670.0000   -61750.0000   164305.0000
    STATUS              DIMENSIONED
    TEXT                DL G465A
TEE-SET-ON
    COMPONENT-IDENTIFIER 4
    CENTRE-POINT        199670.0000   -61750.0000   164205.0000 1.0000
    BRANCH1-POINT       199670.0000   -61828.7000   164205.0000 1.0000
    MATERIAL-IDENTIFIER 2
    SKEY                TESO
    UID                 88FD11D5-A871-438E-A552-5A6499A72ACF
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 DB2EAF9F-F35C-45D2-AD80-7875C76C1C0B
FLANGE
    COMPONENT-IDENTIFIER 11
    END-POINT           199670.0000   -62015.7000   164205.0000 1.0000 FL
    END-POINT           199670.0000   -61828.7000   164205.0000 1.0000
    SKEY                FLST
    MATERIAL-IDENTIFIER 3
    UID                 5EA86B76-3DFE-47E5-A818-5DD42D38013A
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 57506763-2DF3-4249-93AA-2A6BFDF6EAD3
BOLT
    COMPONENT-IDENTIFIER 12
    CO-ORDS             199670.0000   -62015.7000   164205.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 4
    UID                 B7F8CCA4-1324-4C43-8475-18AB8220AC0B
    UCI                 2B076300-E825-4C42-85C2-09E6BAB7CD2A
GASKET
    COMPONENT-IDENTIFIER 8
    END-POINT           199670.0000   -62015.7000   164205.0000 1.0000
    END-POINT           199670.0000   -62019.2000   164205.0000 1.0000
    MATERIAL-IDENTIFIER 5
    UID                 FDCA0FD3-11E5-44C9-A6A2-E8F984EAFB58
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         06CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 85258560-B230-44EC-8954-505DF38CC235
VALVE
    COMPONENT-IDENTIFIER 6
    END-POINT           199670.0000   -62235.2000   164205.0000 1.0000
    END-POINT           199670.0000   -62019.2000   164205.0000 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 6
    UID                 F4A0136A-CF62-4059-90AF-7656C45B563E
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH0392
    PIPING-SPEC         06CA3S
    SPINDLE-DIRECTION   EAST
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 9EA33D2A-DCBB-4F79-9D01-39101AADB8BE
BOLT
    COMPONENT-IDENTIFIER 13
    CO-ORDS             199670.0000   -62235.2000   164205.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         95
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 4
    UID                 90D9F216-0A8F-452D-AA0B-4D1A360D64F7
    UCI                 F430D06D-5E5B-45F2-8ED0-06EA76693620
GASKET
    COMPONENT-IDENTIFIER 9
    END-POINT           199670.0000   -62235.2000   164205.0000 1.0000
    END-POINT           199670.0000   -62238.7000   164205.0000 1.0000
    MATERIAL-IDENTIFIER 5
    UID                 85A81FE1-6635-4A90-AC80-9DAAB73E7F2A
    CATEGORY            FABRICATION
    PIPING-SPEC         06CA3S
    UCI                 7AE234BB-0131-4BEB-B6C2-CBC859581963
FLANGE-BLIND
    COMPONENT-IDENTIFIER 10
    END-POINT           199670.0000   -62238.7000   164205.0000 1.0000
    END-POINT           199670.0000   -62263.2000   164205.0000 1.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 7
    UID                 86903062-9ABA-4575-879C-E645D9B8BE92
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         06CA3S
    UCI                 BDAC0ADE-2B9C-4E39-A8DC-9D8FD0E0C5A4
MESSAGE-CIRCLE
    CO-ORDS             199670.0000   -62263.2000   164205.0000
    STATUS              DIMENSIONED
    TEXT                TP$111D
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCA_12
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 2
    ITEM-CODE Z0027541
    DESCRIPTION Rohr 168,3x14,2 
MATERIAL-IDENTIFIER 3
    ITEM-CODE FL06CAS
    DESCRIPTION LWNF 600RF 1"x180 
MATERIAL-IDENTIFIER 4
    ITEM-CODE BNCT0.625x95
    DESCRIPTION Schraubenbolzen 5/8"x95 
MATERIAL-IDENTIFIER 5
    ITEM-CODE GS06CL
    DESCRIPTION Spiraldtg 600 1" 
MATERIAL-IDENTIFIER 6
    ITEM-CODE VH06CAS
    DESCRIPTION Schieber-k 600RF 1" 
MATERIAL-IDENTIFIER 7
    ITEM-CODE FB06CAS
    DESCRIPTION Bl-Flansch 600RF 1" 
