ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     BF56D380-F875-4D96-A3D9-3E13AF0DE2BE
PIPELINE-REFERENCE      TP154B
    UID                 0796D263-AFD6-46D8-918D-004245A72E2A
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-0040093-A1-73
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J174
    ATTRIBUTE108        H10-F006
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        C-Stahl
    ATTRIBUTE111        F403
    ATTRIBUTE112        G402A/B
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        12.9
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        A1-73
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        22.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Slop
    ATTRIBUTE3          
    ATTRIBUTE32         8.6
    ATTRIBUTE33         121
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP154B; (PT=61bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D4CA1S; Kat.: II / TÜV
    ATTRIBUTE40         Blindflansch DN50 PN40 auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040093-73
    ATTRIBUTE50         550005
    ATTRIBUTE54         121
    ATTRIBUTE55         8.6
    ATTRIBUTE56         12.9
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10705066
    ATTRIBUTE9          
    PIPING-SPEC         D4CA1S
FLANGE
    COMPONENT-IDENTIFIER 2
    END-POINT           194240.0000   -55125.0000   161670.0000 25.0000 FL
    END-POINT           194240.0000   -55125.0000   161850.0000 25.0000
    SKEY                FLST
    MATERIAL-IDENTIFIER 1
    UID                 C1C0FD63-48C0-46FD-B540-F87DC4764A70
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 B1369777-6B64-4238-9BA0-5B80B9E293EF
GASKET
    COMPONENT-IDENTIFIER 4
    END-POINT           194240.0000   -55125.0000   161670.0000 25.0000
    END-POINT           194240.0000   -55125.0000   161666.5000 25.0000
    MATERIAL-IDENTIFIER 2
    UID                 9AAB7DCB-A3B3-46D8-9E68-36007E338859
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 1F860C95-3541-4CA3-9100-30045AAAD19E
VALVE
    COMPONENT-IDENTIFIER 5
    END-POINT           194240.0000   -55125.0000   161666.5000 25.0000
    END-POINT           194240.0000   -55125.0000   161506.5000 25.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 3
    UID                 288C7294-0795-4182-AB2B-456107D68BCC
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    NAME                004AH0229
    PIPING-SPEC         D4CA1S
    SPINDLE-DIRECTION   WEST
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 709B2964-26F2-4A01-845B-609070F3747C
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           194240.0000   -55125.0000   161506.5000 25.0000
    END-POINT           194240.0000   -55125.0000   161503.0000 25.0000
    MATERIAL-IDENTIFIER 2
    UID                 7ACE9687-1B29-4F30-9723-B0047176E43A
    CATEGORY            FABRICATION
    PIPING-SPEC         D4CA1S
    UCI                 DF6E58CF-16B6-4147-A9DE-73F26D58719B
FLANGE-BLIND
    COMPONENT-IDENTIFIER 7
    END-POINT           194240.0000   -55125.0000   161503.0000 25.0000
    END-POINT           194240.0000   -55125.0000   161485.0000 25.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 4
    UID                 2316C061-003A-4933-B7CC-CBF2C8788248
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D4CA1S
    UCI                 1DC54AB2-A058-4C74-AB9C-4D2F28AA4777
MESSAGE-CIRCLE
    CO-ORDS             194240.0000   -55125.0000   161503.0000
    STATUS              DIMENSIONED
    TEXT                TP$154B
BOLT
    COMPONENT-IDENTIFIER 14
    CO-ORDS             194240.0000   -55125.0000   161503.0000
    BOLT-DIA            12.7
    BOLT-LENGTH         70
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 4B5217B2-E374-4396-AAA3-7D9A9E35CEF2
    UCI                 6ABC8E03-DB71-4B53-B451-C4EF9E6A1F74
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE FLD4CAB1
    DESCRIPTION Flansch-St PN40B1 25x180x5,5 
MATERIAL-IDENTIFIER 2
    ITEM-CODE GSD4CL
    DESCRIPTION Spiraldtg PN40 25 
MATERIAL-IDENTIFIER 3
    ITEM-CODE VID4CAB1
    DESCRIPTION Kolbenschieber PN40B1 25 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FBD4CAB1
    DESCRIPTION Bl-Flansch PN40B1 25 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.5x70
    DESCRIPTION Schraubenbolzen 1/2"x70 
