ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     2E423B6B-5C1D-4A71-A934-021BCEEAA692
PIPELINE-REFERENCE      TP200B
    UID                 B38D4EC1-899E-411A-B7A7-C4DEFABA9057
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 500-04301-31211-33
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J201
    ATTRIBUTE108        H10-F317
    ATTRIBUTE109        5300430
    ATTRIBUTE11         550005
    ATTRIBUTE110        St35
    ATTRIBUTE111        Anlagengrenze LBI
    ATTRIBUTE112        200-042231-BC21133B
    ATTRIBUTE116        ja
    ATTRIBUTE117        -
    ATTRIBUTE118        9,3
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F2
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        31211-33
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        27.06.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kühlwasser VL
    ATTRIBUTE3          
    ATTRIBUTE32         6.2
    ATTRIBUTE33         50
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP200B
    ATTRIBUTE38         Rohrleitungsstrang Ausser Betrieb 
    ATTRIBUTE39         Leitung wird mit Blechplatte verschlossen
    ATTRIBUTE40         und even. mit Beton aufgefüllt
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00430-04301-33
    ATTRIBUTE50         550005
    ATTRIBUTE54         50
    ATTRIBUTE55         6.2
    ATTRIBUTE56         9.3
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         nein
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704842
    ATTRIBUTE9          
    PIPING-SPEC         D1CA1S
PIPE
    COMPONENT-IDENTIFIER 1
    END-POINT           -44550.0000   236380.0000   159150.0000 500.0000
    END-POINT           -43550.0000   236380.0000   159150.0000 500.0000
    MATERIAL-IDENTIFIER 1
    UID                 F958684F-C29F-4B31-B72B-08C5CF32411A
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D1CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 071F4956-5CAA-4180-B226-C0502617FC70
CAP
    COMPONENT-IDENTIFIER 2
    END-POINT           -43550.0000   236380.0000   159150.0000 500.0000
    END-POINT           -43542.0000   236380.0000   159150.0000 500.0000
    SKEY                KABW
    MATERIAL-IDENTIFIER 2
    UID                 E8FA4E96-E180-433D-8561-83870130867B
    CATEGORY            FABRICATION
    PIPING-SPEC         D1CA1S
    UCI                 582142E1-323A-4014-82A1-2B9F65A19C0E
    WEIGHT              0.0000
MESSAGE-CIRCLE
    CO-ORDS             -43550.0000   236380.0000   159150.0000
    STATUS              DIMENSIONED
    TEXT                TP$200B
MESSAGE
    CO-ORDS             -43550.0000   236380.0000   159150.0000
    STATUS              DIMENSIONED
    TEXT                Verschlussplatte anheften!$Dient als Verschluss für etwaiges$Auffüllen mit Beton
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1w
    DESCRIPTION Rohr 508x6,3 
MATERIAL-IDENTIFIER 2
    ITEM-CODE SP_Platte
    DESCRIPTION Blechplatte s=8mm; Durchmesser 530mm
