ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     EEBCE18F-185B-4FC7-8CFA-5FC193A1A2C0
PIPELINE-REFERENCE      TP205B
    UID                 AEE50973-8EEE-4F94-BC5E-174813C0A10F
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO WR-102-A104
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J006
    ATTRIBUTE108        H10-F314
    ATTRIBUTE109        5300430
    ATTRIBUTE11         550005
    ATTRIBUTE110        St35
    ATTRIBUTE111        -
    ATTRIBUTE112        -
    ATTRIBUTE116        ja
    ATTRIBUTE117        -
    ATTRIBUTE118        9.3
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F2
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        A104
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        07.03.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kühlwasser RL
    ATTRIBUTE3          
    ATTRIBUTE32         6.2
    ATTRIBUTE33         50
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP205B
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D1CA1S; Kat.: §7 / A2
    ATTRIBUTE40         RKL Prüfdruck PT: 15bar
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         
    ATTRIBUTE50         550005
    ATTRIBUTE54         50
    ATTRIBUTE55         6.2
    ATTRIBUTE56         9.3
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Sternig
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         
    ATTRIBUTE82         
    ATTRIBUTE83         
    ATTRIBUTE84         
    ATTRIBUTE85         
    ATTRIBUTE86         
    ATTRIBUTE87         
    ATTRIBUTE9          
    PIPING-SPEC         D1CA1S
PIPE
    COMPONENT-IDENTIFIER 88
    END-POINT           231048.0000   -22405.0000   158790.0000 300.0000
    END-POINT           231370.0000   -22405.0000   158790.0000 300.0000
    MATERIAL-IDENTIFIER 1
    UID                 A2DF8BEE-79F2-424B-BC44-B95E47119374
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D1CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 7362F209-CE41-41F2-BA46-4A0C3234EC49
FLANGE
    COMPONENT-IDENTIFIER 89
    END-POINT           231438.0000   -22405.0000   158790.0000 300.0000
    END-POINT           231370.0000   -22405.0000   158790.0000 300.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 2
    UID                 5B69C173-2594-49DB-ACA6-94E4A6FA3882
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D1CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 2B4CD29D-1AE6-4CD3-B8B4-BCA898CCBC21
GASKET
    COMPONENT-IDENTIFIER 90
    END-POINT           231438.0000   -22405.0000   158790.0000 300.0000
    END-POINT           231441.5000   -22405.0000   158790.0000 300.0000
    MATERIAL-IDENTIFIER 3
    UID                 08B02253-0B09-4193-A559-0A20F337ABD0
    CATEGORY            FABRICATION
    PIPING-SPEC         D1CA1S
    UCI                 922276E5-8A37-4DAC-B789-45C14414C368
FLANGE-BLIND
    COMPONENT-IDENTIFIER 91
    END-POINT           231441.5000   -22405.0000   158790.0000 300.0000
    END-POINT           231467.5000   -22405.0000   158790.0000 300.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 4
    UID                 6EE00148-82BB-4578-AC95-1513DAE0F614
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D1CA1S
    UCI                 667DA5ED-66E8-4544-86FC-E78E7AFAB31E
MESSAGE-CIRCLE
    CO-ORDS             231467.5000   -22405.0000   158790.0000
    STATUS              DIMENSIONED
    TEXT                TP205B
BOLT
    COMPONENT-IDENTIFIER 92
    CO-ORDS             231467.5000   -22405.0000   158790.0000
    BOLT-DIA            19.05
    BOLT-LENGTH         110
    BOLT-QUANTITY       12
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 03E4DACD-4B10-441D-A3B6-CFF8E8EFA31D
    UCI                 98A60CFB-99AE-4CDB-BCD1-FC62FF3353A8
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1w
    DESCRIPTION Rohr 323,9x5,6 
MATERIAL-IDENTIFIER 2
    ITEM-CODE FVD1CAB1
    DESCRIPTION V-Flansch PN10B1 323,9x5,6 
MATERIAL-IDENTIFIER 3
    ITEM-CODE GSD1CL
    DESCRIPTION Spiraldtg PN10 300 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FBD1CAB1
    DESCRIPTION Bl-Flansch PN10B1 300 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.75x110
    DESCRIPTION Schraubenbolzen 3/4"x110 
