ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     BFA3BC89-BF08-4D6D-8355-0408F8DD6E31
PIPELINE-REFERENCE      TP217
    UID                 1984FD4F-CC71-4E41-84B1-4CBAD7CCA313
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 150-042231-BC21133B
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J223
    ATTRIBUTE108        H10-F317
    ATTRIBUTE109        5300430
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 37.0
    ATTRIBUTE111        500-04301-31211-33
    ATTRIBUTE112        E455
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        14
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F2
    ATTRIBUTE121        Hersteller
    ATTRIBUTE122        -
    ATTRIBUTE123        BC21133B
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        26.06.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kühlwasser RL
    ATTRIBUTE3          
    ATTRIBUTE32         6.2
    ATTRIBUTE33         50
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP217; (PT=15bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D1CA1S; Kat.: §7 / Herst.
    ATTRIBUTE40         Blindflansch DN200 PN10 auf best. V-Flansch
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00430-042232-34
    ATTRIBUTE50         550005
    ATTRIBUTE54         50
    ATTRIBUTE55         6.2
    ATTRIBUTE56         14
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704835
    ATTRIBUTE9          
    PIPING-SPEC         D1CA1S
PIPE
    COMPONENT-IDENTIFIER 1
    END-POINT           0.0000        0.0000        0.0000 200.0000
    END-POINT           0.0000        0.0000        150.0000 200.0000
    MATERIAL-IDENTIFIER 1
    UID                 2C7012E1-7041-48BE-AE3F-99CC0C3C6EEB
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D1CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 3D88A060-5BFD-4CA3-A3F8-BEFBAAC1C469
FLANGE
    COMPONENT-IDENTIFIER 2
    END-POINT           0.0000        0.0000        212.0000 200.0000
    END-POINT           0.0000        0.0000        150.0000 200.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 2
    UID                 A1CE4E78-0D31-4ECA-8C07-8AE6B354BC3E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D1CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 3F67023C-972D-4D8B-9649-631A924BCC53
BOLT
    COMPONENT-IDENTIFIER 5
    CO-ORDS             0.0000        0.0000        212.0000
    BOLT-DIA            19.05
    BOLT-LENGTH         105
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 3
    UID                 BEA1BC17-D433-4583-BD71-8AABA08BCD44
    UCI                 3E6FFE7C-E8C1-4A77-9A5C-3B7F8D647976
GASKET
    COMPONENT-IDENTIFIER 3
    END-POINT           0.0000        0.0000        212.0000 200.0000
    END-POINT           0.0000        0.0000        215.5000 200.0000
    MATERIAL-IDENTIFIER 4
    UID                 A02AF579-6BCA-4046-8D1A-998B69569135
    CATEGORY            FABRICATION
    PIPING-SPEC         D1CA1S
    UCI                 6F860D86-8FF3-401B-944F-622450C3D51C
FLANGE-BLIND
    COMPONENT-IDENTIFIER 4
    END-POINT           0.0000        0.0000        215.5000 200.0000
    END-POINT           0.0000        0.0000        239.5000 200.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 5
    UID                 5A226EA9-F7B0-47C6-B01F-A3049902DEC0
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D1CA1S
    UCI                 2751B759-D7BA-4C4A-BEB2-A4A6AB9C0B31
MESSAGE-CIRCLE
    CO-ORDS             0.0000        0.0000        239.5000
    CONNECTION-REFERENCE E452A/N2
    STATUS              DIMENSIONED
    TEXT                TP$217
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1s
    DESCRIPTION Rohr 219,1x6,3 
MATERIAL-IDENTIFIER 2
    ITEM-CODE FVD1CAB1
    DESCRIPTION V-Flansch PN10B1 219,1x6,3 
MATERIAL-IDENTIFIER 3
    ITEM-CODE BNCT0.75x105
    DESCRIPTION Schraubenbolzen 3/4"x105 
MATERIAL-IDENTIFIER 4
    ITEM-CODE GSD1CL
    DESCRIPTION Spiraldtg PN10 200 
MATERIAL-IDENTIFIER 5
    ITEM-CODE FBD1CAB1
    DESCRIPTION Bl-Flansch PN10B1 200 
