ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     219BF63C-9953-489D-B629-C50525C69C47
PIPELINE-REFERENCE      TP350C
    UID                 9BAFFF0A-CBE3-42C6-9EB7-CC5CD091ABF1
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 100-04473-31311-16
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J352
    ATTRIBUTE108        H10-F010
    ATTRIBUTE109        5300430
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35.8 I
    ATTRIBUTE111        150-04472-31311-16
    ATTRIBUTE112        Anlagengrenze LBI
    ATTRIBUTE116        nein
    ATTRIBUTE117        W
    ATTRIBUTE118        7.5
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        G1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        31311-16
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        23.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         ja
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Heizgas (Mischgas)
    ATTRIBUTE3          
    ATTRIBUTE32         5
    ATTRIBUTE33         60
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP350C; (PT=61bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D4CA1S; Kat.: I / Herst.
    ATTRIBUTE40         Blindflansch DN50 PN40 auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00430-04473-16
    ATTRIBUTE50         550005
    ATTRIBUTE54         60
    ATTRIBUTE55         5
    ATTRIBUTE56         7.5
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704859
    ATTRIBUTE9          
    PIPING-SPEC         D4CA1S
PIPE
    COMPONENT-IDENTIFIER 8
    END-POINT           0.0000        0.0000        164.0000 50.0000
    END-POINT           0.0000        0.0000        64.0000 50.0000
    MATERIAL-IDENTIFIER 1
    UID                 9BD9F2C3-96D9-4826-9D10-42B73B02F723
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 7A3CFBB9-D590-4BDE-8FA6-85F33199140C
TEE
    COMPONENT-IDENTIFIER 9
    END-POINT           0.0000        0.0000        64.0000 50.0000
    END-POINT           0.0000        0.0000        -64.0000 50.0000
    CENTRE-POINT        0.0000        0.0000        0.0000
    BRANCH1-POINT       0.0000        -64.0000      0.0000 50.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 2
    UID                 C18142B0-354F-4192-9F4A-6DCB8F2D8EC4
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 D5D64A96-D234-47D1-8FBE-E8F7DA27821A
PIPE
    COMPONENT-IDENTIFIER 10
    END-POINT           0.0000        0.0000        -64.0000 50.0000
    END-POINT           0.0000        0.0000        -164.0000 50.0000
    MATERIAL-IDENTIFIER 1
    UID                 EADB23C7-960B-4A7C-996D-B30840FC4106
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 694C109E-1FD6-4248-97F1-6FBA471BF1E2
FLANGE
    COMPONENT-IDENTIFIER 7
    END-POINT           0.0000        -112.0000     0.0000 50.0000
    END-POINT           0.0000        -64.0000      0.0000 50.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 3
    UID                 23045F05-A834-493E-AF0A-5951BA182012
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 F55B2D06-7D98-4FE3-BD0C-FA783904A843
BOLT
    COMPONENT-IDENTIFIER 13
    CO-ORDS             0.0000        -112.0000     0.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 4
    UID                 BB1A767C-AD46-4ECD-A5AF-AEDD5C189E6F
    UCI                 4711B861-7C05-4CD2-9551-0FCC25FBDDF9
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           0.0000        -112.0000     0.0000 50.0000
    END-POINT           0.0000        -115.5000     0.0000 50.0000
    MATERIAL-IDENTIFIER 5
    UID                 1A4B67A4-098E-407A-9978-DA9390B33962
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 23249CA3-6274-4861-81E3-50F588C0E6BB
VALVE
    COMPONENT-IDENTIFIER 4
    END-POINT           0.0000        -115.5000     0.0000 50.0000
    END-POINT           0.0000        -365.5000     0.0000 50.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 6
    UID                 143C1437-18F2-4BF4-BE80-88106841FF6B
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    SPINDLE-DIRECTION   UP
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 80F07E59-10BE-4579-A922-0CB0EE0BD141
BOLT
    COMPONENT-IDENTIFIER 12
    CO-ORDS             0.0000        -365.5000     0.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 4
    UID                 8BB25CA5-278B-4993-9026-233D3C0B0BDF
    UCI                 827A98AA-86E0-438B-BCB2-9545BC5E74BE
GASKET
    COMPONENT-IDENTIFIER 3
    END-POINT           0.0000        -365.5000     0.0000 50.0000
    END-POINT           0.0000        -369.0000     0.0000 50.0000
    MATERIAL-IDENTIFIER 5
    UID                 B5ACB8B4-B06D-4307-988D-E98AFF49652F
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 EB6B358D-4F16-45AF-B187-B0EC12E4EE38
VALVE
    COMPONENT-IDENTIFIER 2
    END-POINT           0.0000        -369.0000     0.0000 50.0000
    END-POINT           0.0000        -619.0000     0.0000 50.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 6
    UID                 4B8C902D-5D8E-4BBA-8F74-68762E0A6E12
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    SPINDLE-DIRECTION   UP
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 03B8F5AF-6D13-4C0E-BB09-8145D4C07D49
BOLT
    COMPONENT-IDENTIFIER 14
    CO-ORDS             0.0000        -619.0000     0.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 4
    UID                 8E53A343-C93F-4E67-BC47-0D3CB738F583
    UCI                 38614186-BE04-4034-B121-3534D1BC1EF7
GASKET
    COMPONENT-IDENTIFIER 5
    END-POINT           0.0000        -619.0000     0.0000 50.0000
    END-POINT           0.0000        -622.5000     0.0000 50.0000
    MATERIAL-IDENTIFIER 5
    UID                 4BE640F5-FC90-4617-BD32-B3F022137571
    CATEGORY            FABRICATION
    PIPING-SPEC         D4CA1S
    UCI                 7B02B2CC-740F-4DEC-A6ED-69297115359F
FLANGE-BLIND
    COMPONENT-IDENTIFIER 11
    END-POINT           0.0000        -622.5000     0.0000 50.0000
    END-POINT           0.0000        -642.5000     0.0000 50.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 7
    UID                 E530591C-A2D7-4371-8E01-0768C3E81879
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D4CA1S
    UCI                 5311EBFE-EA88-4BD9-8B99-5B00B410BE39
MESSAGE-CIRCLE
    CO-ORDS             0.0000        -642.5000     0.0000
    STATUS              DIMENSIONED
    TEXT                TP$350C
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1s
    DESCRIPTION Rohr 60,3x4 
MATERIAL-IDENTIFIER 2
    ITEM-CODE TSCAD_A4s
    DESCRIPTION T-Egal 60,3x4 
MATERIAL-IDENTIFIER 3
    ITEM-CODE FVD4CAB1
    DESCRIPTION V-Flansch PN40B1 60,3x4 
MATERIAL-IDENTIFIER 4
    ITEM-CODE BNCT0.625x85
    DESCRIPTION Schraubenbolzen 5/8"x85 
MATERIAL-IDENTIFIER 5
    ITEM-CODE GSD4CL
    DESCRIPTION Spiraldtg PN40 50 
MATERIAL-IDENTIFIER 6
    ITEM-CODE VGD4CAB1
    DESCRIPTION AbspSchieber PN40B1 50 
MATERIAL-IDENTIFIER 7
    ITEM-CODE FBD4CAB1
    DESCRIPTION Bl-Flansch PN40B1 50 
