ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              MM
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     C1F79550-CC26-4756-89CA-FE4CBACE66F1
PIPELINE-REFERENCE      TP351A
    UID                 EE931DCA-7A1A-45E0-8F1B-B04DBDA49C26
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 40-0040155-BD31116B
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J353
    ATTRIBUTE108        H10-F329
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 37
    ATTRIBUTE111        Anlagengrenze KH
    ATTRIBUTE112        40-0040155-BD31116B
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        3.75
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        G1
    ATTRIBUTE121        TÜV
    ATTRIBUTE122        -
    ATTRIBUTE123        BD31116B
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        23.05.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         nein
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Heizgas (Mischgas)
    ATTRIBUTE3          
    ATTRIBUTE32         2.5
    ATTRIBUTE33         60
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP351A; (PT=61bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: D4CA1S; Kat.: I / Herst.
    ATTRIBUTE40         Blindflansch DN50 PN40 auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040155-16
    ATTRIBUTE50         550005
    ATTRIBUTE54         60
    ATTRIBUTE55         2.5
    ATTRIBUTE56         3.75
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         niedrig
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704815
    ATTRIBUTE9          
    PIPING-SPEC         D4CA1S
PIPE
    COMPONENT-IDENTIFIER 9
    END-POINT           -205.0000     0.0000        0.0000 100.0000
    END-POINT           -105.0000     0.0000        0.0000 100.0000
    MATERIAL-IDENTIFIER 1
    UID                 9806F340-01C1-48E6-9DEC-6E5493133BA9
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 87576A91-5F89-4F4B-B6E7-0BEFC7ADA4C1
TEE
    COMPONENT-IDENTIFIER 10
    END-POINT           -105.0000     0.0000        0.0000 100.0000
    END-POINT           105.0000      0.0000        0.0000 100.0000
    CENTRE-POINT        0.0000        0.0000        0.0000
    BRANCH1-POINT       0.0000        0.0000        -89.0000 50.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 2
    UID                 1744CFAF-4DB6-4DD8-ACC2-7906389298CB
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 DA91C99B-5E59-4F74-8E0D-AC14CF212BE7
PIPE
    COMPONENT-IDENTIFIER 11
    END-POINT           105.0000      0.0000        0.0000 100.0000
    END-POINT           205.0000      0.0000        0.0000 100.0000
    MATERIAL-IDENTIFIER 1
    UID                 E029271B-F9B9-449C-93CD-53501597DF26
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 E2AE3FF8-A8A1-493C-87C7-CC350DCC66DA
MESSAGE
    CO-ORDS             205.0000      0.0000        0.0000
    STATUS              DIMENSIONED
    TEXT                100-004473-31311-16
PIPE
    COMPONENT-IDENTIFIER 1
    END-POINT           0.0000        0.0000        -89.0000 50.0000
    END-POINT           0.0000        0.0000        -189.0000 50.0000
    MATERIAL-IDENTIFIER 3
    UID                 4D550050-E736-46E5-8B90-8132D321EAE8
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 9D71491A-90A3-43C0-BCCE-D405C7557BAD
FLANGE
    COMPONENT-IDENTIFIER 7
    END-POINT           0.0000        0.0000        -237.0000 50.0000
    END-POINT           0.0000        0.0000        -189.0000 50.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 2165928B-2D8A-4AF7-B304-F2DA0D5F39FC
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 3683EEC5-E4BA-4538-B238-DCA6F6BBE38B
BOLT
    COMPONENT-IDENTIFIER 12
    CO-ORDS             0.0000        0.0000        -237.0000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    MATERIAL-IDENTIFIER 5
    UID                 18DF4FEE-0DD3-44D1-8721-8D14CFF61CD8
    UCI                 B0711803-EC6E-4C0D-8A9F-F98CC15A8DB8
GASKET
    COMPONENT-IDENTIFIER 5
    END-POINT           0.0000        0.0000        -237.0000 50.0000
    END-POINT           0.0000        0.0000        -240.5000 50.0000
    MATERIAL-IDENTIFIER 6
    UID                 B9B460BF-E16F-4D22-B2F5-E102FDE607DF
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 ADBCD2E2-F15E-4576-9745-BA98C3876758
VALVE
    COMPONENT-IDENTIFIER 2
    END-POINT           0.0000        0.0000        -240.5000 50.0000
    END-POINT           0.0000        0.0000        -490.5000 50.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 7
    UID                 1F488A46-B168-4A88-929D-850E2C046381
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         D4CA1S
    SPINDLE-DIRECTION   SOUTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 C956D316-0266-4390-9444-FD2462FE7F1A
BOLT
    COMPONENT-IDENTIFIER 13
    CO-ORDS             0.0000        0.0000        -490.5000
    BOLT-DIA            15.88
    BOLT-LENGTH         85
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 5
    UID                 78876AA0-7C2D-40B4-AEAA-4B2C986F8D7C
    UCI                 9BE69929-0931-4CB4-BD5D-97083CD5752B
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           0.0000        0.0000        -490.5000 50.0000
    END-POINT           0.0000        0.0000        -494.0000 50.0000
    MATERIAL-IDENTIFIER 6
    UID                 F326BB95-5DC8-4478-9737-3075EBC2E7C0
    CATEGORY            FABRICATION
    PIPING-SPEC         D4CA1S
    UCI                 78BBB81E-FA4E-494F-B0C5-96DD77CE8B02
FLANGE-BLIND
    COMPONENT-IDENTIFIER 8
    END-POINT           0.0000        0.0000        -494.0000 50.0000
    END-POINT           0.0000        0.0000        -514.0000 50.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 8
    UID                 76276F91-A916-47E8-B434-52B0FB08324E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         D4CA1S
    UCI                 5E5CDDA8-A44D-4440-895F-505332B054AA
MESSAGE-CIRCLE
    CO-ORDS             0.0000        0.0000        -494.0000
    STATUS              DIMENSIONED
    TEXT                TP$351A
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE PCAD_R1s
    DESCRIPTION Rohr 114,3x4 
MATERIAL-IDENTIFIER 2
    ITEM-CODE TRCAD_A4s
    DESCRIPTION T-Red 114,3x4a/60,3x4 
MATERIAL-IDENTIFIER 3
    ITEM-CODE PCAD_R1s
    DESCRIPTION Rohr 60,3x4 
MATERIAL-IDENTIFIER 4
    ITEM-CODE FVD4CAB1
    DESCRIPTION V-Flansch PN40B1 60,3x4 
MATERIAL-IDENTIFIER 5
    ITEM-CODE BNCT0.625x85
    DESCRIPTION Schraubenbolzen 5/8"x85 
MATERIAL-IDENTIFIER 6
    ITEM-CODE GSD4CL
    DESCRIPTION Spiraldtg PN40 50 
MATERIAL-IDENTIFIER 7
    ITEM-CODE VGD4CAB1
    DESCRIPTION AbspSchieber PN40B1 50 
MATERIAL-IDENTIFIER 8
    ITEM-CODE FBD4CAB1
    DESCRIPTION Bl-Flansch PN40B1 50 
