ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          MM
UNITS-WEIGHT            KGS
UID                     F08DEA34-3F4C-4C67-A77A-051703CFE6AA
PIPELINE-REFERENCE      TP405C
    UID                 02821578-094D-4EE3-9C51-0531E0C654B7
    AREA                1
    ATTRIBUTE0          
    ATTRIBUTE1          
    ATTRIBUTE10         
    ATTRIBUTE101        
    ATTRIBUTE102        ISO 6"-0040131-AJ72113C
    ATTRIBUTE104        RAF-Schwechat
    ATTRIBUTE106        550005
    ATTRIBUTE107        H10-J411
    ATTRIBUTE108        H10-F007
    ATTRIBUTE109        5300420
    ATTRIBUTE11         550005
    ATTRIBUTE110        St 35.8 I
    ATTRIBUTE111        Anlagengrenze KH
    ATTRIBUTE112        6"-0040131-AJ72113C
    ATTRIBUTE116        ja
    ATTRIBUTE117        nein
    ATTRIBUTE118        84.2
    ATTRIBUTE119        Wasser
    ATTRIBUTE12         
    ATTRIBUTE120        F1
    ATTRIBUTE121        -
    ATTRIBUTE122        -
    ATTRIBUTE123        AJ72113C
    ATTRIBUTE125        
    ATTRIBUTE126        
    ATTRIBUTE127        
    ATTRIBUTE129        00
    ATTRIBUTE13         
    ATTRIBUTE130        Divoky
    ATTRIBUTE131        Pörner
    ATTRIBUTE132        05.06.2018
    ATTRIBUTE133        
    ATTRIBUTE134        
    ATTRIBUTE135        
    ATTRIBUTE136        
    ATTRIBUTE137        
    ATTRIBUTE138        
    ATTRIBUTE139        
    ATTRIBUTE14         
    ATTRIBUTE140        
    ATTRIBUTE141        
    ATTRIBUTE142        
    ATTRIBUTE143        
    ATTRIBUTE144        
    ATTRIBUTE145        
    ATTRIBUTE146        
    ATTRIBUTE147        
    ATTRIBUTE148        
    ATTRIBUTE15         
    ATTRIBUTE16         
    ATTRIBUTE17         
    ATTRIBUTE18         X
    ATTRIBUTE19         ja
    ATTRIBUTE2          
    ATTRIBUTE20         nein
    ATTRIBUTE21         X
    ATTRIBUTE22         
    ATTRIBUTE23         
    ATTRIBUTE24         X
    ATTRIBUTE25         
    ATTRIBUTE26         X
    ATTRIBUTE27         
    ATTRIBUTE28         X
    ATTRIBUTE29         Kohlenw. flüssig
    ATTRIBUTE3          
    ATTRIBUTE32         56.1
    ATTRIBUTE33         176
    ATTRIBUTE34         
    ATTRIBUTE35         
    ATTRIBUTE37         TP405C; (PT=78bar)
    ATTRIBUTE38         Nur für neuen Rohrleitungsabschnitt gültig:
    ATTRIBUTE39         Rohrklasse: 03CA3S; Kat.: III / TÜV
    ATTRIBUTE40         Blindflansch 6" / 300lbs auf best. Armatur
    ATTRIBUTE41         Korr.-schutz OMV-CS-1A; Isolierung: nein
    ATTRIBUTE42         
    ATTRIBUTE43         
    ATTRIBUTE44         
    ATTRIBUTE45         
    ATTRIBUTE46         
    ATTRIBUTE47         
    ATTRIBUTE48         H00420-0040131-13
    ATTRIBUTE50         550005
    ATTRIBUTE54         176
    ATTRIBUTE55         56.1
    ATTRIBUTE56         84.2
    ATTRIBUTE57         
    ATTRIBUTE58         X
    ATTRIBUTE59         
    ATTRIBUTE60         
    ATTRIBUTE61         
    ATTRIBUTE62         
    ATTRIBUTE63         
    ATTRIBUTE64         Ausgabe
    ATTRIBUTE65         Müller
    ATTRIBUTE66         
    ATTRIBUTE67         
    ATTRIBUTE68         
    ATTRIBUTE69         
    ATTRIBUTE70         
    ATTRIBUTE71         
    ATTRIBUTE72         
    ATTRIBUTE73         
    ATTRIBUTE74         
    ATTRIBUTE75         
    ATTRIBUTE76         
    ATTRIBUTE77         hoch
    ATTRIBUTE78         
    ATTRIBUTE79         
    ATTRIBUTE80         
    ATTRIBUTE81         -
    ATTRIBUTE82         -
    ATTRIBUTE83         
    ATTRIBUTE84         -
    ATTRIBUTE85         ja
    ATTRIBUTE86         ja
    ATTRIBUTE87         10704799
    ATTRIBUTE9          
    PIPING-SPEC         03CA3S
FLANGE
    COMPONENT-IDENTIFIER 23
    END-POINT           0.0000        -242.0000     0.0000 6.0000
    END-POINT           0.0000        -143.0000     0.0000 6.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 42A87BA2-B48F-42F3-82C7-C88E67B0E06D
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 78221676-8E91-40AE-BFF2-3815C7B60BEC
TEE
    COMPONENT-IDENTIFIER 13
    END-POINT           0.0000        143.0000      0.0000 6.0000
    END-POINT           0.0000        -143.0000     0.0000 6.0000
    CENTRE-POINT        0.0000        0.0000        0.0000
    BRANCH1-POINT       0.0000        0.0000        143.0000 6.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 2
    UID                 8194E698-555F-4F0A-BA05-DD9D01EB6B39
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 8E3713A2-8B31-4196-8F8B-0A6687A04199
FLANGE
    COMPONENT-IDENTIFIER 8
    END-POINT           0.0000        0.0000        242.0000 6.0000
    END-POINT           0.0000        0.0000        143.0000 6.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 A238E794-CB71-4A90-BEA2-C02F576EF35A
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 211241F8-2B3E-4A1A-926D-503E386DE3CD
GASKET
    COMPONENT-IDENTIFIER 7
    END-POINT           0.0000        0.0000        242.0000 6.0000
    END-POINT           0.0000        0.0000        245.5000 6.0000
    MATERIAL-IDENTIFIER 3
    UID                 2D296917-10BB-4795-84DB-BAE315688328
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 A80FEB74-B634-4877-9D1F-FE64835BDA73
MISC-COMPONENT
    COMPONENT-IDENTIFIER 5
    END-POINT           0.0000        0.0000        245.5000 6.0000
    END-POINT           0.0000        0.0000        270.5000 6.0000
    CENTRE-POINT        0.0000        0.0000        258.0000
    SKEY                SB
    MATERIAL-IDENTIFIER 4
    UID                 D36AEA72-4134-421D-B591-E106ED79A330
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    SLIP-PLATE-TAIL-DIRECTION NORTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 3E2D5C07-C637-4D14-B1A1-1DE71F749CEF
GASKET
    COMPONENT-IDENTIFIER 4
    END-POINT           0.0000        0.0000        270.5000 6.0000
    END-POINT           0.0000        0.0000        274.0000 6.0000
    MATERIAL-IDENTIFIER 3
    UID                 93911675-4097-4CA7-BB65-FB9165919C15
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 2D06ABCD-5D3F-4810-A247-086AA66120F9
VALVE
    COMPONENT-IDENTIFIER 2
    END-POINT           0.0000        0.0000        274.0000 6.0000
    END-POINT           0.0000        0.0000        677.0000 6.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 5
    UID                 C9E180AC-492A-45E6-B433-E6FCA524BF80
    CATEGORY            ERECTION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    SPINDLE-DIRECTION   SOUTH
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 A5CAF2CB-B7D0-4B3F-B30C-7E11A1F975B3
BOLT
    COMPONENT-IDENTIFIER 11
    CO-ORDS             0.0000        0.0000        677.0000
    BOLT-DIA            19.05
    BOLT-LENGTH         130
    BOLT-QUANTITY       12
    CATEGORY            FABRICATION
    MATERIAL-IDENTIFIER 6
    UID                 AB7AF7D0-CD00-42FC-85C0-FC59EB4A5BDA
    UCI                 B84DF8E9-5C0F-4EAE-A0CF-B2E5E27EC670
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           0.0000        0.0000        677.0000 6.0000
    END-POINT           0.0000        0.0000        680.5000 6.0000
    MATERIAL-IDENTIFIER 3
    UID                 CA83EF63-FB99-447C-890D-3DF41D9338CB
    CATEGORY            FABRICATION
    PIPING-SPEC         03CA3S
    UCI                 2E562DC5-BC44-44CA-BE1B-5540330F30E6
FLANGE-BLIND
    COMPONENT-IDENTIFIER 9
    END-POINT           0.0000        0.0000        680.5000 6.0000
    END-POINT           0.0000        0.0000        717.5000 6.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 7
    UID                 425AAB51-CA64-47C3-92AA-736BFAC4090E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    PIPING-SPEC         03CA3S
    UCI                 DBE3F112-0B54-438B-B865-C91379F8E2EF
    MESSAGE-CIRCLE      
    STATUS              DIMENSIONED
    TEXT                TP$405C
REDUCER-CONCENTRIC
    COMPONENT-IDENTIFIER 19
    END-POINT           0.0000        286.0000      143.0000 6.0000
    END-POINT           0.0000        286.0000      283.0000 4.0000
    SKEY                RCBW
    MATERIAL-IDENTIFIER 8
    UID                 89C6552E-B443-414B-A2D3-DEA82316FB52
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 EA979594-6314-4ED3-B0BA-DF71B5423ABF
TEE
    COMPONENT-IDENTIFIER 16
    END-POINT           0.0000        286.0000      143.0000 6.0000
    END-POINT           0.0000        286.0000      -143.0000 6.0000
    CENTRE-POINT        0.0000        286.0000      0.0000
    BRANCH1-POINT       0.0000        143.0000      0.0000 6.0000
    SKEY                TEBW
    MATERIAL-IDENTIFIER 2
    UID                 087E42AC-359F-4657-B4C4-BA76D10ED641
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 17642431-8456-48A9-BDBF-9AB2BFDDC989
REDUCER-ECCENTRIC
    COMPONENT-IDENTIFIER 22
    END-POINT           0.0000        286.0000      -143.0000 6.0000
    END-POINT           -27.0000      286.0000      -283.0000 4.0000
    SKEY                REBW
    MATERIAL-IDENTIFIER 9
    UID                 11282062-CC4A-41A0-9D75-651DE2536C51
    FLAT-DIRECTION      WEST
    MATERIAL-LIST       EXCLUDE
    PIPING-SPEC         03CA3S
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 13ABDA55-7923-41E7-BBDC-09EB30240B56
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE FW03CAS_XS
    DESCRIPTION V-Flansch 300RF 168,3x10,9 
MATERIAL-IDENTIFIER 2
    ITEM-CODE TSCA_XS
    DESCRIPTION T-Egal 168,3x10,9 
MATERIAL-IDENTIFIER 3
    ITEM-CODE GS03CL
    DESCRIPTION Spiraldtg 300 6" 
MATERIAL-IDENTIFIER 4
    ITEM-CODE OF03CAS
    DESCRIPTION Brillenstecksch 300FF 6" 
MATERIAL-IDENTIFIER 5
    ITEM-CODE VG03CAS
    DESCRIPTION Schieber 300RF 6" 
MATERIAL-IDENTIFIER 6
    ITEM-CODE BNCT0.75x130
    DESCRIPTION Schraubenbolzen 3/4"x130 
MATERIAL-IDENTIFIER 7
    ITEM-CODE FB03CAS
    DESCRIPTION Bl-Flansch 300RF 6" 
MATERIAL-IDENTIFIER 8
    ITEM-CODE RCCA_XSXS
    DESCRIPTION RedK 168,3x10,9/114,3x8,5 
MATERIAL-IDENTIFIER 9
    ITEM-CODE RECA_XSXS
    DESCRIPTION RedE 168,3x10,9/114,3x8,5 
