ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          INCH
UNITS-WEIGHT            KGS
UID                     F37AAC85-D20A-480E-9BB9-693888F17789
PIPELINE-REFERENCE      LS49047
    UID                 6517D368-43B6-41B5-88BC-D6DEC3558B2B
    AREA                1
    DATE-DMY            17/04/18
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    ITEM-ATTRIBUTE1     -81
    START-CO-ORDS       49994.7100       91024.5300       107812.5400
FLANGE-BLIND
    COMPONENT-IDENTIFIER 2
    END-POINT           49994.7100    91024.5300    107790.9800 3.0000
    END-POINT           49994.7100    91024.5300    107812.5400 3.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 1
    UID                 10315AF6-CD5F-4EC1-9719-0F3F3082AD29
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  22.1
    UCI                 @@@@@@@3     946   26512     230   26512
    MESSAGE             
    TEXT                INSULATION H THK. 30  MM
END-POSITION-CLOSED
    CO-ORDS             49994.7100    91024.5300    107812.5400
GASKET
    COMPONENT-IDENTIFIER 4
    END-POINT           49994.7100    91024.5300    107790.9800 3.0000
    END-POINT           49994.7100    91024.5300    107786.5300 3.0000
    MATERIAL-IDENTIFIER 2
    UID                 7527EBBD-4B47-4569-B564-8103DCC64767
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16
    UCI                 1AC7A6EF-B42D-4E15-81C4-B3DF39B3CDB6
BOLT
    COMPONENT-IDENTIFIER 5
    CO-ORDS             49994.7100    91024.5300    107786.5300
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  19
    MATERIAL-IDENTIFIER 3
    UID                 2E085ABF-361E-404B-B7B2-68169E7CB3CD
    UCI                 CB6DCD17-707E-45BE-B2E2-8DF2F8CD2A6A
VALVE
    COMPONENT-IDENTIFIER 6
    END-POINT           49994.7100    91024.5300    107786.5300 3.0000
    END-POINT           49994.7100    91024.5300    107583.4000 3.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 4
    UID                 22D51846-FF79-461A-A091-095FBE8983E7
    CATEGORY            FABRICATION
    DIRECTION           W 30.0 S
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  23.1
    SPINDLE-DIRECTION   WEST
    UCI                 @@@@@@@3     945   26512     230   26512
GASKET
    COMPONENT-IDENTIFIER 7
    END-POINT           49994.7100    91024.5300    107583.4000 3.0000
    END-POINT           49994.7100    91024.5300    107578.9500 3.0000
    MATERIAL-IDENTIFIER 2
    UID                 1B8E9176-1B0D-40ED-9272-6D12ADCF6BD7
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16
    UCI                 C0A81791-BD53-40F0-A7B0-62C9E33CCE1F
BOLT
    COMPONENT-IDENTIFIER 8
    CO-ORDS             49994.7100    91024.5300    107578.9500
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  19
    MATERIAL-IDENTIFIER 3
    UID                 B3231F55-F15A-446C-A193-4B10AC8EC869
    UCI                 BA4F3A82-D658-4FDA-8F66-69C2FC4285A8
FLANGE
    COMPONENT-IDENTIFIER 9
    END-POINT           49994.7100    91024.5300    107578.9500 3.0000
    END-POINT           49994.7100    91024.5300    107509.1500 3.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 C7B5488B-6757-4C40-943D-6FC9932177EB
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  13.1
    UCI                 @@@@@@@3     328   26512     230   26512
WELD
    COMPONENT-IDENTIFIER 168
    END-POINT           49994.7100    91024.5300    107509.1500 3.0000
    END-POINT           49994.7100    91024.5300    107509.1500 3.0000
    SKEY                WW
    UID                 C0161163-2ED6-4E2F-BAB5-E7C6F133462F
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 1
    WELD-TYPE           BW
    UCI                 D43F810E-F930-4181-AD83-B87B8F9354D2
PIPE
    COMPONENT-IDENTIFIER 11
    END-POINT           49994.7100    91024.5300    107509.1500 3.0000
    END-POINT           49994.7100    91024.5300    107309.1500 3.0000
    MATERIAL-IDENTIFIER 6
    UID                 9F3C7707-3704-4557-80A0-02D0949E0259
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.1
    UCI                 @@@@@@@5     202   26512     246   26512
FLOW-ARROW
    CO-ORDS             49994.7100    91024.5300    107465.6500
    FLOW                2
    SKEY                FLOW
FLOW-ARROW
    CO-ORDS             49994.7100    91024.5300    107365.6500
    FLOW                2
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 211
    END-POINT           49994.7100    91024.5300    107309.1500 3.0000
    END-POINT           49994.7100    91024.5300    107309.1500 3.0000
    SKEY                WW
    UID                 DE3A6E91-0F6F-479C-A746-118DBCBB8852
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 42
    WELD-TYPE           BW
    UCI                 C1C21863-793A-4D70-8435-F039821B4118
FLANGE
    COMPONENT-IDENTIFIER 140
    END-POINT           49994.7100    91024.5300    107309.1500 3.0000
    END-POINT           49994.7100    91024.5300    107239.3300 3.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 5
    UID                 C348B7F8-2AE5-4070-806E-617D4A9AE73D
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  13.2
    UCI                 @@@@@@@3     327   26512     246   26512
GASKET
    COMPONENT-IDENTIFIER 141
    END-POINT           49994.7100    91024.5300    107239.3300 3.0000
    END-POINT           49994.7100    91024.5300    107234.8800 3.0000
    MATERIAL-IDENTIFIER 2
    UID                 4CA295AD-586E-4F93-A68F-1478F6B39E31
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16
    UCI                 B55241AC-FCD8-40DE-B340-C53520352EB0
BOLT
    COMPONENT-IDENTIFIER 142
    CO-ORDS             49994.7100    91024.5300    107234.8800
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  19
    MATERIAL-IDENTIFIER 3
    UID                 62D10FFB-8217-4CCD-8F8D-91603F97511B
    UCI                 256E5E8D-3E5F-4D60-B49B-E8B93EB28C8A
VALVE
    COMPONENT-IDENTIFIER 143
    END-POINT           49994.7100    91024.5300    107234.8800 3.0000
    END-POINT           49994.7100    91024.5300    107031.7300 3.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 1
    UID                 6EDD4D52-0A92-490D-BC6F-1D30A103AD49
    CATEGORY            ERECTION
    DIRECTION           W 30.0 S
    MATERIAL-LIST       EXCLUDE
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    SPINDLE-DIRECTION   WEST
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 @@@@@@@3      35   28008      36   28008
    END-CONNECTION-PIPELINE 
    CO-ORDS             49994.7100    91024.5300    107031.7300
    PIPELINE-REFERENCE  LINE LS21130-PA12S$AREA 058
OLET
    COMPONENT-IDENTIFIER 14
    CENTRE-POINT        49994.7100    91024.5300    107422.1500 1.0000
    BRANCH1-POINT       49923.3000    91024.5300    107422.1500 1.0000
    MATERIAL-IDENTIFIER 7
    SKEY                WTBW
    UID                 2238D07B-31FB-4978-9684-D28D4B365EF7
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.1
    UCI                 @@@@@@@3     341   26512     230   26512
WELD
    COMPONENT-IDENTIFIER 169
    MASTER-COMPONENT-IDENTIFIER 14 CP
    END-POINT           49994.7100    91024.5300    107422.1500 1.0000
    END-POINT           49994.7100    91024.5300    107422.1500 1.0000
    SKEY                WW
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 2
    WELD-TYPE           LET
    UCI                 C5C3A9D6-1624-47DF-B32D-B2E24C3463EA
    UID                 F198A382-80C6-44C0-A94D-447ECAE17BB2
WELD
    COMPONENT-IDENTIFIER 170
    MASTER-COMPONENT-IDENTIFIER 14 B1P
    END-POINT           49923.3000    91024.5300    107422.1500 1.0000
    END-POINT           49923.3000    91024.5300    107422.1500 1.0000
    SKEY                WW
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 3
    WELD-TYPE           BW
    UCI                 4D3C3C6E-651A-4D52-82A9-4A52702FF66E
    UID                 528DFC3A-AA36-4FD1-AB8D-4191DA4C2EF3
PIPE
    COMPONENT-IDENTIFIER 16
    END-POINT           49923.3000    91024.5300    107422.1500 1.0000
    END-POINT           47122.2500    91024.5300    107422.1500 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 B8426920-2B91-4289-B4B4-6B865A928FAC
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.1
    UCI                 @@@@@@@5     257   26512     244   26512
FLOW-ARROW
    CO-ORDS             49721.1100    91024.5300    107422.1500
    FLOW                2
    SKEY                FLOW
SUPPORT
    COMPONENT-IDENTIFIER 17
    CO-ORDS             49518.9100    91024.5300    107422.1500 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 9
    UID                 6A6B04C3-2EFD-4479-A166-BF9744B5EB04
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                HA01A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  29.1
    SUPPORT-DIRECTION   UP
    UCI                 @@@@@@@8      89   26512     244   26512
WELD
    COMPONENT-IDENTIFIER 171
    END-POINT           47122.2500    91024.5300    107422.1500 1.0000
    END-POINT           47122.2500    91024.5300    107422.1500 1.0000
    SKEY                WW
    UID                 1D2DA484-A881-4F6E-A41F-5786DFD2A523
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 4
    WELD-TYPE           BW
    UCI                 7734FDB9-07D8-41B2-AFDE-E77EDB2DA24B
ELBOW
    COMPONENT-IDENTIFIER 19
    END-POINT           47122.2500    91024.5300    107422.1500 1.0000
    END-POINT           47084.0800    91024.5300    107406.3500 1.0000
    CENTRE-POINT        47099.9100    91024.5300    107422.1500
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               4495
    UID                 04CFE2F0-E588-4A80-8770-AAC55CAE2FA7
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  6.1
    UCI                 @@@@@@@3     370   26512     244   26512
WELD
    COMPONENT-IDENTIFIER 172
    END-POINT           47084.0800    91024.5300    107406.3500 1.0000
    END-POINT           47084.0800    91024.5300    107406.3500 1.0000
    SKEY                WW
    UID                 C35EAAE6-83E4-4021-9154-3F6FE0FCDF94
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 5
    WELD-TYPE           BW
    UCI                 3F9A4968-85F2-4970-80D5-221F1407B559
PIPE
    COMPONENT-IDENTIFIER 21
    END-POINT           47084.0800    91024.5300    107406.3500 1.0000
    END-POINT           47045.8500    91024.5300    107368.0800 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 3B86C1F2-D796-4AC9-BFBA-D50AA64EBE22
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.2
    UCI                 @@@@@@@5     258   26512     244   26512
WELD
    COMPONENT-IDENTIFIER 173
    END-POINT           47045.8500    91024.5300    107368.0800 1.0000
    END-POINT           47045.8500    91024.5300    107368.0800 1.0000
    SKEY                WW
    UID                 E9EFBFA0-39C0-4354-AC44-D7B910F10763
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 6
    WELD-TYPE           BW
    UCI                 9955722D-759A-4ED2-B887-317C57253C2C
ELBOW
    COMPONENT-IDENTIFIER 22
    END-POINT           47045.8500    91024.5300    107368.0800 1.0000
    END-POINT           47018.9100    90986.4500    107341.1500 1.0000
    CENTRE-POINT        47018.9100    91024.5300    107341.1500
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 C3284465-458D-47AA-B9C0-23A7D1AB05BF
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.1
    UCI                 @@@@@@@3     369   26512     244   26512
WELD
    COMPONENT-IDENTIFIER 174
    END-POINT           47018.9100    90986.4500    107341.1500 1.0000
    END-POINT           47018.9100    90986.4500    107341.1500 1.0000
    SKEY                WW
    UID                 87DCB3CB-96BC-4763-9168-0F181E762ABF
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 7
    WELD-TYPE           BW
    UCI                 112447AC-6612-49DC-B33C-58C1890D4F08
PIPE
    COMPONENT-IDENTIFIER 24
    END-POINT           47018.9100    90986.4500    107341.1500 1.0000
    END-POINT           47018.9100    89628.0800    107341.1500 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 736571E2-4AB3-4A20-8D38-D08D03C94D6D
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.3
    UCI                 @@@@@@@5     217   26512     244   26512
SUPPORT
    COMPONENT-IDENTIFIER 25
    CO-ORDS             47018.9100    90906.4500    107341.1500 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 9
    UID                 1592390C-9B4C-49E6-BAE3-E210C4F72420
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                HA01A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  30.1
    SUPPORT-DIRECTION   UP
    UCI                 @@@@@@@8      88   26512     244   26512
SUPPORT
    COMPONENT-IDENTIFIER 27
    CO-ORDS             47018.9100    89890.0000    107341.1500 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 1D97751E-A1E6-4BE8-A757-0D42D98B74AF
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  31.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      87   26512     244   26512
WELD
    COMPONENT-IDENTIFIER 175
    END-POINT           47018.9100    89628.0800    107341.1500 1.0000
    END-POINT           47018.9100    89628.0800    107341.1500 1.0000
    SKEY                WW
    UID                 2A9FB22E-CB9A-4A28-9F50-51AED1B3B153
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 8
    WELD-TYPE           BW
    UCI                 D967EDBD-BA3B-4FDC-88B6-D1302E8AA978
ELBOW
    COMPONENT-IDENTIFIER 29
    END-POINT           47018.9100    89628.0800    107341.1500 1.0000
    END-POINT           47018.9100    89590.0000    107303.0600 1.0000
    CENTRE-POINT        47018.9100    89590.0000    107341.1500
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 BE7BF6BC-59CC-4FF1-A909-19CB665EED12
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.2
    UCI                 @@@@@@@3     323   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 176
    END-POINT           47018.9100    89590.0000    107303.0600 1.0000
    END-POINT           47018.9100    89590.0000    107303.0600 1.0000
    SKEY                WW
    UID                 48C47E5A-113D-48E6-9A8B-35634B8FDB9A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 9
    WELD-TYPE           BW
    UCI                 C44EA3CF-6F12-4091-A699-BC4E428F1490
PIPE
    COMPONENT-IDENTIFIER 31
    END-POINT           47018.9100    89590.0000    107303.0600 1.0000
    END-POINT           47018.9100    89590.0000    104860.1000 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 E6E8ACEC-BAE8-44D5-8FC8-4B5DBDAFE419
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.4
    UCI                 @@@@@@@5     236   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 177
    END-POINT           47018.9100    89590.0000    104860.1000 1.0000
    END-POINT           47018.9100    89590.0000    104860.1000 1.0000
    SKEY                WW
    UID                 D725A6A9-681C-4AFC-A1AD-43CC6A5F671A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 10
    WELD-TYPE           BW
    UCI                 48941345-E478-476C-AE21-3EB0BEEF4F77
ELBOW
    COMPONENT-IDENTIFIER 32
    END-POINT           47018.9100    89590.0000    104860.1000 1.0000
    END-POINT           46980.8200    89590.0000    104822.0100 1.0000
    CENTRE-POINT        47018.9100    89590.0000    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 168A98C0-7BB6-421D-BF7E-9C3261AE2555
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.3
    UCI                 @@@@@@@3     340   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 178
    END-POINT           46980.8200    89590.0000    104822.0100 1.0000
    END-POINT           46980.8200    89590.0000    104822.0100 1.0000
    SKEY                WW
    UID                 E8FDA7B9-5E72-4792-AD0F-BA2C1C20AE5E
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 11
    WELD-TYPE           BW
    UCI                 9D0CD6A2-0226-478B-B242-C2251FCB5BC6
PIPE
    COMPONENT-IDENTIFIER 34
    END-POINT           46980.8200    89590.0000    104822.0100 1.0000
    END-POINT           43024.2100    89590.0000    104822.0100 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 88818C08-864F-4FBE-8EBE-56F4FCF9BA87
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.5
    UCI                 @@@@@@@5     212   26512     540   26512
SUPPORT
    COMPONENT-IDENTIFIER 35
    CO-ORDS             45900.0000    89590.0000    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 13
    UID                 72597150-3909-4B2D-9A9B-9AAF4DB2BF78
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                GL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  32.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      86   26512     540   26512
    MESSAGE             
    TEXT                058S004, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 38
    CO-ORDS             44200.0000    89590.0000    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 A674338B-B165-46BD-9984-887659177343
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  33.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      85   26512     540   26512
    MESSAGE             
    TEXT                058S005, TP F 80
WELD
    COMPONENT-IDENTIFIER 179
    END-POINT           43024.2100    89590.0000    104822.0100 1.0000
    END-POINT           43024.2100    89590.0000    104822.0100 1.0000
    SKEY                WW
    UID                 BF93CCA6-B493-4D28-A140-A71FBBEF34B8
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 12
    WELD-TYPE           BW
    UCI                 C0E95EE8-C813-47B7-A2E6-336CCA0F5253
ELBOW
    COMPONENT-IDENTIFIER 41
    END-POINT           43024.2100    89590.0000    104822.0100 1.0000
    END-POINT           42986.1200    89551.9100    104822.0100 1.0000
    CENTRE-POINT        42986.1200    89590.0000    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 3DB1A5B1-7C0E-4C4D-90CF-33DAA73BA3FE
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.4
    UCI                 @@@@@@@3     344   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 180
    END-POINT           42986.1200    89551.9100    104822.0100 1.0000
    END-POINT           42986.1200    89551.9100    104822.0100 1.0000
    SKEY                WW
    UID                 BB8E1CBA-0CC2-46F3-A5B9-FFA2FD221298
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 13
    WELD-TYPE           BW
    UCI                 67CB0219-04A8-4BA9-A416-AAC2A98EFE59
PIPE
    COMPONENT-IDENTIFIER 43
    END-POINT           42986.1200    89551.9100    104822.0100 1.0000
    END-POINT           42986.1200    86648.5600    104822.0100 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 AB59D849-8416-4480-8232-6165F497DF57
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.6
    UCI                 @@@@@@@5     218   26512     540   26512
SUPPORT
    COMPONENT-IDENTIFIER 44
    CO-ORDS             42986.1200    89250.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 13
    UID                 0DC4A194-5BBC-464F-B09D-6C2163B1AB95
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                GL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  34.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      84   26512     540   26512
    MESSAGE             
    TEXT                058S010, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 47
    CO-ORDS             42986.1200    87250.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 79C72FBF-4510-48A0-B3B8-197315C37865
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  35.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      83   26512     540   26512
    MESSAGE             
    TEXT                058S011, TP F 80
WELD
    COMPONENT-IDENTIFIER 181
    END-POINT           42986.1200    86648.5600    104822.0100 1.0000
    END-POINT           42986.1200    86648.5600    104822.0100 1.0000
    SKEY                WW
    UID                 4A159202-B720-4A83-B738-517DF1021A3C
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 14
    WELD-TYPE           BW
    UCI                 3862FBE6-917F-4FEF-B71A-A8830CD052AE
ELBOW
    COMPONENT-IDENTIFIER 50
    END-POINT           42986.1200    86648.5600    104822.0100 1.0000
    END-POINT           42948.0300    86610.4700    104822.0100 1.0000
    CENTRE-POINT        42986.1200    86610.4700    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 3131ADD1-5A2A-4062-A8EE-7C3FB0D95556
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.5
    UCI                 @@@@@@@3     868   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 182
    END-POINT           42948.0300    86610.4700    104822.0100 1.0000
    END-POINT           42948.0300    86610.4700    104822.0100 1.0000
    SKEY                WW
    UID                 4627E864-256B-458A-91AC-AC1387141C05
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 15
    WELD-TYPE           BW
    UCI                 C42EFA3C-ABE6-4F2C-AB92-3FFEAE77C5BF
PIPE
    COMPONENT-IDENTIFIER 52
    END-POINT           42948.0300    86610.4700    104822.0100 1.0000
    END-POINT           42376.1000    86610.4700    104822.0100 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 30439FDF-D3BE-4515-A9B5-32101A30A261
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.7
    UCI                 @@@@@@@5     488   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 183
    END-POINT           42376.1000    86610.4700    104822.0100 1.0000
    END-POINT           42376.1000    86610.4700    104822.0100 1.0000
    SKEY                WW
    UID                 9FAC7B46-59B7-4CE9-ACB6-323F8A9F81A4
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 16
    WELD-TYPE           BW
    UCI                 CD026E5C-13E2-4388-945E-52D4E7B030F6
ELBOW
    COMPONENT-IDENTIFIER 53
    END-POINT           42376.1000    86610.4700    104822.0100 1.0000
    END-POINT           42338.0000    86610.4700    104783.9200 1.0000
    CENTRE-POINT        42338.0000    86610.4700    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 BC9F09E4-8182-4714-8DBE-5A92779E5753
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.6
    UCI                 @@@@@@@3     346   26512     540   26512
WELD
    COMPONENT-IDENTIFIER 184
    END-POINT           42338.0000    86610.4700    104783.9200 1.0000
    END-POINT           42338.0000    86610.4700    104783.9200 1.0000
    SKEY                WW
    UID                 C7153D5E-359E-4097-9CBE-C22A8EB2F63A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 17
    WELD-TYPE           BW
    UCI                 05751A0B-0171-4EB4-88A2-935A2FDF3A02
PIPE
    COMPONENT-IDENTIFIER 55
    END-POINT           42338.0000    86610.4700    104783.9200 1.0000
    END-POINT           42338.0000    86610.4700    102200.5100 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 E4DFCD69-39FE-482E-99F3-49139C27BAA4
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.8
    UCI                 @@@@@@@5     483   26512     540   26512
SUPPORT
    COMPONENT-IDENTIFIER 56
    CO-ORDS             42338.0000    86610.4700    104249.7300 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 12
    UID                 0D8A1F89-F2B1-4663-ADC1-97EE8DC68238
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  36.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8      90   26512     540   26512
    MESSAGE             
    TEXT                058S012, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 59
    CO-ORDS             42338.0000    86610.4700    102349.9000 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 14
    UID                 9BFA6EB5-83D8-4E91-ABEF-88B0BFF795C3
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FP06A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  37.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8      91   26512     540   26512
    MESSAGE             
    TEXT                058S013, TP F 80
WELD
    COMPONENT-IDENTIFIER 185
    END-POINT           42338.0000    86610.4700    102200.5100 1.0000
    END-POINT           42338.0000    86610.4700    102200.5100 1.0000
    SKEY                WW
    UID                 599E24AA-97EA-458D-996E-B3375307692C
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 18
    WELD-TYPE           BW
    UCI                 0442915F-1D73-454D-A3FC-2828C49D69F9
TEE
    COMPONENT-IDENTIFIER 62
    END-POINT           42338.0000    86610.4700    102200.5100 1.0000
    END-POINT           42338.0000    86610.4700    102124.3200 1.0000
    CENTRE-POINT        42338.0000    86610.4700    102162.4200
    BRANCH1-POINT       42376.0800    86610.4700    102162.4200 0.7500
    SKEY                TEBW
    MATERIAL-IDENTIFIER 15
    UID                 BF16CD54-D233-4D5E-A358-3AC38C4B8CA8
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5.1
    UCI                 @@@@@@@3     865   26512     542   26512
WELD
    COMPONENT-IDENTIFIER 205
    END-POINT           42338.0000    86610.4700    102124.3200 1.0000
    END-POINT           42338.0000    86610.4700    102124.3200 1.0000
    SKEY                WW
    UID                 5D102A71-4A11-4723-A62F-A6D5C80776A2
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 37
    WELD-TYPE           BW
    UCI                 31672ACA-18FF-47AA-92F9-35A4CA28879D
FLANGE
    COMPONENT-IDENTIFIER 121
    END-POINT           42338.0000    86610.4700    102124.3200 1.0000
    END-POINT           42338.0000    86610.4700    102068.7900 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 09004080-0164-458B-B042-76DB1524C4CA
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  14.1
    UCI                 @@@@@@@3     306   26512     223   26512
GASKET
    COMPONENT-IDENTIFIER 122
    END-POINT           42338.0000    86610.4700    102068.7900 1.0000
    END-POINT           42338.0000    86610.4700    102064.3400 1.0000
    MATERIAL-IDENTIFIER 2
    UID                 591A1190-2F4E-4F92-8CB7-70C1F969EEB5
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  17
    UCI                 12BBA8D4-58BF-4BCD-9CDE-5C5FB5FBEEB1
BOLT
    COMPONENT-IDENTIFIER 123
    CO-ORDS             42338.0000    86610.4700    102064.3400
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  21
    MATERIAL-IDENTIFIER 17
    UID                 8406B732-CB1C-4AFD-A66A-4EB66A888BED
    UCI                 4A44BB33-96E4-4F78-8DB9-051E5563283D
VALVE
    COMPONENT-IDENTIFIER 124
    END-POINT           42338.0000    86610.4700    102064.3400 1.0000
    END-POINT           42338.0000    86610.4700    101937.4200 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 18
    UID                 97B6A571-D9F8-4CB0-9A96-D71637756156
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  24.1
    SPINDLE-DIRECTION   WEST
    UCI                 @@@@@@@3    1244   26512     776   26512
GASKET
    COMPONENT-IDENTIFIER 125
    END-POINT           42338.0000    86610.4700    101937.4200 1.0000
    END-POINT           42338.0000    86610.4700    101932.9700 1.0000
    MATERIAL-IDENTIFIER 2
    UID                 D9BB0FF9-8F00-4987-9135-87CC51CA0D45
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  17
    UCI                 5FE3FB99-F863-4A38-822A-C03EC72D3902
BOLT
    COMPONENT-IDENTIFIER 126
    CO-ORDS             42338.0000    86610.4700    101932.9700
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  21
    MATERIAL-IDENTIFIER 17
    UID                 6F78E8AB-97A6-48ED-82C9-EFB6B2FDC8A4
    UCI                 F0A3EECC-59B5-4B08-98F3-C4AAD62FA35A
FLANGE
    COMPONENT-IDENTIFIER 127
    END-POINT           42338.0000    86610.4700    101932.9700 1.0000
    END-POINT           42338.0000    86610.4700    101877.4500 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 5417A468-F274-4570-B3D6-3FC8C4ED3D20
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  14.2
    UCI                 @@@@@@@3    1001   26512     776   26512
WELD
    COMPONENT-IDENTIFIER 206
    END-POINT           42338.0000    86610.4700    101877.4500 1.0000
    END-POINT           42338.0000    86610.4700    101877.4500 1.0000
    SKEY                WW
    UID                 8EEB6632-0E74-4BB8-AE45-8CE7EB7BF017
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 38
    WELD-TYPE           BW
    UCI                 ED3383B3-6870-4901-A5A6-B8F432C5B3C7
PIPE
    COMPONENT-IDENTIFIER 129
    END-POINT           42338.0000    86610.4700    101877.4500 1.0000
    END-POINT           42338.0000    86610.4700    101777.4500 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 03A1BB37-FD4C-4A0F-9DAF-BC54FC85813A
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.9
    UCI                 @@@@@@@5     676   26512     776   26512
FLOW-ARROW
    CO-ORDS             42338.0000    86610.4700    101827.4500
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 207
    END-POINT           42338.0000    86610.4700    101777.4500 1.0000
    END-POINT           42338.0000    86610.4700    101777.4500 1.0000
    SKEY                WW
    UID                 71104925-8C80-4A0A-A6C3-7737212E3609
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 39
    WELD-TYPE           BW
    UCI                 D1F2FC1A-4D24-4B1F-841B-39DE0517B8FE
ELBOW
    COMPONENT-IDENTIFIER 130
    END-POINT           42338.0000    86610.4700    101777.4500 1.0000
    END-POINT           42330.7700    86610.4700    101750.4700 1.0000
    CENTRE-POINT        42337.9800    86610.4700    101762.9800
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               2988
    UID                 8907846A-6085-4B0F-A4A4-28B9EB2FD655
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  6.2
    UCI                 @@@@@@@3     996   26512     670   26512
WELD
    COMPONENT-IDENTIFIER 208
    END-POINT           42330.7700    86610.4700    101750.4700 1.0000
    END-POINT           42330.7700    86610.4700    101750.4700 1.0000
    SKEY                WS
    UID                 7B80E81D-2A3E-4ECB-8A50-E9E7FA661AFD
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 40
    WELD-TYPE           BW
    UCI                 00D0C9C8-67E3-4CD8-AEEC-22D3D0E56A68
INSTRUMENT
    COMPONENT-IDENTIFIER 132
    END-POINT           42330.7700    86610.4700    101750.4700 1.0000
    END-POINT           42280.7800    86610.4700    101663.8700 1.0000
    CENTRE-POINT        42305.7700    86610.4700    101707.1700
    SKEY                IIBW
    MATERIAL-IDENTIFIER 19
    UID                 6417F0BE-C4C5-495F-92ED-B1F0AE21DACD
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                SP$000136
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  27.1
    UCI                 @@@@@@@3     997   26512     670   26512
WELD
    COMPONENT-IDENTIFIER 209
    END-POINT           42280.7800    86610.4700    101663.8700 1.0000
    END-POINT           42280.7800    86610.4700    101663.8700 1.0000
    SKEY                WS
    UID                 CA7D6DC0-7D0A-42DC-8F76-055143650BAC
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 41
    WELD-TYPE           BW
    UCI                 7829E7A7-7052-4F39-BCBF-86C97CA08317
INSTRUMENT
    COMPONENT-IDENTIFIER 134
    END-POINT           42280.7800    86610.4700    101663.8700 1.0000
    END-POINT           42230.8000    86610.4700    101577.2700 1.0000
    CENTRE-POINT        42255.7800    86610.4700    101620.5700
    SKEY                IIBW
    MATERIAL-IDENTIFIER 20
    UID                 30C5D093-6A22-41C0-B0EB-011997955598
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                SP$000137
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  28.1
    UCI                 @@@@@@@3     998   26512     670   26512
    END-CONNECTION-PIPELINE 
    CO-ORDS             42230.8000    86610.4700    101577.2700
    PIPELINE-REFERENCE  NOT FOUND
WELD
    COMPONENT-IDENTIFIER 210
    END-POINT           42230.8000    86610.4700    101577.2700 1.0000
    END-POINT           42230.8000    86610.4700    101577.2700 1.0000
    SKEY                WSD
    UID                 0127D7A0-D63A-4D98-B9BB-B0D55ACB4FE5
    CATEGORY            ERECTION
    STATUS              DOTTED-UNDIMENSIONED
    WELD-TYPE           BW
    UCI                 96ABFB0E-78D4-4A29-96EA-0CC991801F03
WELD
    COMPONENT-IDENTIFIER 186
    END-POINT           42376.0800    86610.4700    102162.4200 0.7500
    END-POINT           42376.0800    86610.4700    102162.4200 0.7500
    SKEY                WW
    UID                 F52B0051-689A-4759-90FB-DB86C5C47A71
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 19
    WELD-TYPE           BW
    UCI                 D74A296D-6AC0-4213-B873-5F1FCE43CA5F
PIPE
    COMPONENT-IDENTIFIER 66
    END-POINT           42376.0800    86610.4700    102162.4200 0.7500
    END-POINT           42446.0800    86610.4700    102162.4200 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 74D3C7E9-1820-46EB-BF47-70913F538853
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.1
    UCI                 @@@@@@@5     484   26512     585   26512
FLOW-ARROW
    CO-ORDS             42411.0800    86610.4700    102162.4200
    FLOW                2
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 187
    END-POINT           42446.0800    86610.4700    102162.4200 0.7500
    END-POINT           42446.0800    86610.4700    102162.4200 0.7500
    SKEY                WW
    UID                 03220E34-8924-473B-A09D-3721D5C9E617
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 20
    WELD-TYPE           BW
    UCI                 13EAA8D6-AA99-45B7-A613-3BB6A8686EE2
ELBOW
    COMPONENT-IDENTIFIER 67
    END-POINT           42446.0800    86610.4700    102162.4200 0.7500
    END-POINT           42484.1700    86610.4700    102124.3300 0.7500
    CENTRE-POINT        42484.1700    86610.4700    102162.4200
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 CBE7082E-D8A3-4AC3-870E-533DF5B050C6
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9.1
    UCI                 @@@@@@@3     866   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 188
    END-POINT           42484.1700    86610.4700    102124.3300 0.7500
    END-POINT           42484.1700    86610.4700    102124.3300 0.7500
    SKEY                WW
    UID                 863E1670-AA3D-47C6-8A9E-CA2853707C68
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 21
    WELD-TYPE           BW
    UCI                 164AE8A1-88E4-45A5-8777-A3D9D2BF1954
PIPE
    COMPONENT-IDENTIFIER 69
    END-POINT           42484.1700    86610.4700    102124.3300 0.7500
    END-POINT           42484.1700    86610.4700    101730.1800 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 B8F9F06B-24D8-4346-833D-5D795B5A423A
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.2
    UCI                 @@@@@@@5     494   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 189
    END-POINT           42484.1700    86610.4800    101730.1800 0.7500
    END-POINT           42484.1700    86610.4800    101730.1800 0.7500
    SKEY                WW
    UID                 3032E74F-BF8D-4BCE-83B4-9AA37B21841D
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 22
    WELD-TYPE           BW
    UCI                 E54C5010-AD63-4D5E-A8C9-C79107731F5B
ELBOW
    COMPONENT-IDENTIFIER 70
    END-POINT           42484.1700    86610.4800    101730.1800 0.7500
    END-POINT           42484.1700    86597.0100    101697.6700 0.7500
    CENTRE-POINT        42484.1700    86610.4700    101711.1300
    SKEY                ELBW
    MATERIAL-IDENTIFIER 10
    ANGLE               4497
    UID                 4336812A-57B3-4311-B8A4-5C2237E0C06C
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10.1
    UCI                 @@@@@@@3     885   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 190
    END-POINT           42484.1700    86597.0100    101697.6700 0.7500
    END-POINT           42484.1700    86597.0100    101697.6700 0.7500
    SKEY                WW
    UID                 C2CFA55F-0A28-4147-BDAE-B414D3C88AAF
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 23
    WELD-TYPE           BW
    UCI                 B4F2B069-1C00-4343-9BAC-D21E1B9A7438
PIPE
    COMPONENT-IDENTIFIER 72
    END-POINT           42484.1700    86597.0100    101697.6700 0.7500
    END-POINT           42484.1700    86526.7000    101627.3600 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 32984421-CEDF-4737-8854-4F8A1875CED2
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.3
    UCI                 @@@@@@@5     495   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 191
    END-POINT           42484.1700    86526.7000    101627.3600 0.7500
    END-POINT           42484.1700    86526.7000    101627.3600 0.7500
    SKEY                WW
    UID                 05E5E435-9C4E-4D55-8936-7EEA487BCE13
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 24
    WELD-TYPE           BW
    UCI                 5D2A46FD-1C7C-4864-821E-38AA3E001EBB
ELBOW
    COMPONENT-IDENTIFIER 73
    END-POINT           42484.1700    86526.7000    101627.3600 0.7500
    END-POINT           42522.2600    86499.7600    101600.4200 0.7500
    CENTRE-POINT        42484.1700    86499.7600    101600.4200
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 E3620847-4BE1-4871-8A99-8CACB2E480E0
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9.2
    UCI                 @@@@@@@3     883   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 192
    END-POINT           42522.2600    86499.7600    101600.4200 0.7500
    END-POINT           42522.2600    86499.7600    101600.4200 0.7500
    SKEY                WW
    UID                 0575951F-43C9-4414-8DB7-06453D4A7205
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 25
    WELD-TYPE           BW
    UCI                 55E743FB-D249-46A4-957F-E3728A79BE88
PIPE
    COMPONENT-IDENTIFIER 75
    END-POINT           42522.2600    86499.7600    101600.4200 0.7500
    END-POINT           42822.3000    86499.7600    101600.4200 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 1190DA23-899F-45CA-9DD0-3CA29EDCC388
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.4
    UCI                 @@@@@@@5     491   26512     585   26512
SUPPORT
    COMPONENT-IDENTIFIER 76
    CO-ORDS             42650.0000    86499.7600    101600.4200 0.7500
    SKEY                    
    MATERIAL-IDENTIFIER 21
    UID                 D2414734-DE5D-4DE9-9496-AC07F7941AFE
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    NAME                FL05A
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  38.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     152   26512     585   26512
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
WELD
    COMPONENT-IDENTIFIER 193
    END-POINT           42822.3000    86499.7600    101600.4200 0.7500
    END-POINT           42822.3000    86499.7600    101600.4200 0.7500
    SKEY                WW
    UID                 ABFA67CB-771B-465A-8DFB-04775F73563E
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 26
    WELD-TYPE           BW
    UCI                 911BEAC6-DAC6-4EF7-B68B-58615C14D598
ELBOW
    COMPONENT-IDENTIFIER 79
    END-POINT           42822.3000    86499.7600    101600.4200 0.7500
    END-POINT           42860.3800    86499.7600    101562.3300 0.7500
    CENTRE-POINT        42860.3800    86499.7600    101600.4200
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 2D98988C-263C-4F49-B47A-717FABD2906F
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9.3
    UCI                 @@@@@@@3     921   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 194
    END-POINT           42860.3800    86499.7600    101562.3300 0.7500
    END-POINT           42860.3800    86499.7600    101562.3300 0.7500
    SKEY                WW
    UID                 1AF39FA5-9DF6-4AD7-B301-B9883FECB71F
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 27
    WELD-TYPE           BW
    UCI                 9A0F63A1-07B2-491B-910C-4A788CAD9175
PIPE
    COMPONENT-IDENTIFIER 81
    END-POINT           42860.3800    86499.7600    101562.3300 0.7500
    END-POINT           42860.3800    86499.7600    101329.3300 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 1B175991-85E9-4E18-8F2A-897F134C50E7
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.5
    UCI                 @@@@@@@5     500   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 195
    END-POINT           42860.3800    86499.7600    101329.3300 0.7500
    END-POINT           42860.3800    86499.7600    101329.3300 0.7500
    SKEY                WW
    UID                 4A1F6ADB-FE1B-481B-A225-14EC939D26C3
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 28
    WELD-TYPE           BW
    UCI                 15D70399-756C-46E9-BC71-9C0EDBA71856
TEE
    COMPONENT-IDENTIFIER 82
    END-POINT           42860.3800    86499.7600    101329.3300 0.7500
    END-POINT           42860.3800    86499.7600    101272.2000 0.7500
    CENTRE-POINT        42860.3800    86499.7600    101300.7600
    BRANCH1-POINT       42831.8200    86499.7600    101300.7600 0.7500
    SKEY                TEBW
    MATERIAL-IDENTIFIER 22
    UID                 06180C08-1BBE-4098-B0B9-B9BF68B429E2
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8.1
    UCI                 @@@@@@@3     891   26512     585   26512
WELD
    COMPONENT-IDENTIFIER 203
    END-POINT           42860.3800    86499.7600    101272.2000 0.7500
    END-POINT           42860.3800    86499.7600    101272.2000 0.7500
    SKEY                WW
    UID                 E0D111D0-8CFA-40DF-8B35-2F388E3B15C6
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 35
    WELD-TYPE           BW
    UCI                 5B1F6869-5E89-4115-8412-45B15E54BF06
PIPE
    COMPONENT-IDENTIFIER 111
    END-POINT           42860.3800    86499.7600    101272.2000 0.7500
    END-POINT           42860.3800    86499.7600    101222.2000 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 6801A6C2-7577-4A64-9A15-27F8BADC5227
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.9
    UCI                 @@@@@@@5     498   26512     567   26512
FLOW-ARROW
    CO-ORDS             42860.3800    86499.7600    101247.2000
    FLOW                2
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 204
    END-POINT           42860.3800    86499.7600    101222.2000 0.7500
    END-POINT           42860.3800    86499.7600    101222.2000 0.7500
    SKEY                WW
    UID                 0F5F7592-A65C-43C8-90DC-245C06EA1B42
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 36
    WELD-TYPE           BW
    UCI                 9A68F395-F97B-42CA-BF07-99EC0B5561DC
FLANGE
    COMPONENT-IDENTIFIER 112
    END-POINT           42860.3800    86499.7600    101222.2000 0.7500
    END-POINT           42860.3800    86499.7600    101169.8400 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 5FE8525C-49E8-435A-AA6A-BF74084A09D2
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.4
    UCI                 @@@@@@@3     892   26512     567   26512
GASKET
    COMPONENT-IDENTIFIER 113
    END-POINT           42860.3800    86499.7600    101169.8400 0.7500
    END-POINT           42860.3800    86499.7600    101165.3900 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 C42B91B9-3AF0-4CEF-BAAF-130CC9543BCD
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 9A80F81A-4816-4ECE-94C0-89E882B55D2B
BOLT
    COMPONENT-IDENTIFIER 114
    CO-ORDS             42860.3800    86499.7600    101165.3900
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 61C4BE6A-AF3C-4C6B-BD3B-5726A0CBC3D7
    UCI                 59673451-5AB9-4B9A-A97C-2EB845042B4D
VALVE
    COMPONENT-IDENTIFIER 115
    END-POINT           42860.3800    86499.7600    101165.3900 0.7500
    END-POINT           42860.3800    86499.7600    101047.9900 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 18
    UID                 2688DA8A-D375-4313-A4B0-7790A315AD2A
    CATEGORY            FABRICATION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  25.2
    SPINDLE-DIRECTION   SOUTH
    UCI                 @@@@@@@3     893   26512     567   26512
GASKET
    COMPONENT-IDENTIFIER 116
    END-POINT           42860.3800    86499.7600    101047.9900 0.7500
    END-POINT           42860.3800    86499.7600    101043.5400 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 40F74F69-B983-4E77-86B9-5131464D0125
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 C74A75D5-2611-47C4-ACA6-4E6E7B83829B
BOLT
    COMPONENT-IDENTIFIER 117
    CO-ORDS             42860.3800    86499.7600    101043.5400
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 D14300EA-B1E1-4EF0-A00F-716FC3C96F3F
    UCI                 4C29283F-E407-4609-8FC1-07C32586B2A9
FLANGE-BLIND
    COMPONENT-IDENTIFIER 118
    END-POINT           42860.3800    86499.7600    101043.5400 0.7500
    END-POINT           42860.3800    86499.7600    101033.0900 0.7500
    SKEY                FLBL
    MATERIAL-IDENTIFIER 1
    UID                 9375DE51-71D6-4B08-BE76-612699E95997
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  26.1
    UCI                 @@@@@@@3     894   26512     567   26512
    END-POSITION-CLOSED 
    CO-ORDS             42860.3800    86499.7600    101033.0900
WELD
    COMPONENT-IDENTIFIER 196
    END-POINT           42831.8200    86499.7600    101300.7600 0.7500
    END-POINT           42831.8200    86499.7600    101300.7600 0.7500
    SKEY                WW
    UID                 90E19237-CAB4-4675-B1DD-189B30B694C8
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 29
    WELD-TYPE           BW
    UCI                 42A007D5-1C84-4201-AE9A-887735A73B10
PIPE
    COMPONENT-IDENTIFIER 86
    END-POINT           42831.8200    86499.7600    101300.7600 0.7500
    END-POINT           42781.8200    86499.7600    101300.7600 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 DF26DD2E-4BE3-4C86-B8AC-658EEAE80688
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.6
    UCI                 @@@@@@@5     508   26512     560   26512
FLOW-ARROW
    CO-ORDS             42806.8200    86499.7600    101300.7600
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 197
    END-POINT           42781.8200    86499.7600    101300.7600 0.7500
    END-POINT           42781.8200    86499.7600    101300.7600 0.7500
    SKEY                WW
    UID                 12880BCE-FC69-4C86-A727-640D1BDD6632
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 30
    WELD-TYPE           BW
    UCI                 64B69F84-1E42-489E-B35E-3C6A7A6A7B48
FLANGE
    COMPONENT-IDENTIFIER 87
    END-POINT           42781.8200    86499.7600    101300.7600 0.7500
    END-POINT           42729.4700    86499.7600    101300.7600 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 4B4CD0E9-421F-413F-936C-19FEFFCF174A
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.1
    UCI                 @@@@@@@3     920   26512     560   26512
GASKET
    COMPONENT-IDENTIFIER 88
    END-POINT           42729.4700    86499.7600    101300.7600 0.7500
    END-POINT           42725.0200    86499.7600    101300.7600 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 2842A620-3351-4DF0-91FC-1CD281512F75
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 BEC02567-B822-4325-8D3F-2E3697848392
BOLT
    COMPONENT-IDENTIFIER 89
    CO-ORDS             42725.0200    86499.7600    101300.7600
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 EE8E84A0-A018-4DDF-9CA0-88929741D1B6
    UCI                 3D2E8BF4-8EA7-4301-A8B5-397A4A92257A
VALVE
    COMPONENT-IDENTIFIER 90
    END-POINT           42725.0200    86499.7600    101300.7600 0.7500
    END-POINT           42607.6200    86499.7600    101300.7600 0.7500
    SKEY                VVFL
    MATERIAL-IDENTIFIER 18
    UID                 77C7736F-8534-44AC-987E-292298A8AB68
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  25.1
    SPINDLE-DIRECTION   SOUTH
    UCI                 @@@@@@@3     889   26512     560   26512
GASKET
    COMPONENT-IDENTIFIER 91
    END-POINT           42607.6200    86499.7600    101300.7600 0.7500
    END-POINT           42603.1700    86499.7600    101300.7600 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 9E198210-2E84-4F88-82BB-33BBAFAD0BA8
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 45FAD36C-58B8-48EB-A940-70937434C320
BOLT
    COMPONENT-IDENTIFIER 92
    CO-ORDS             42603.1700    86499.7600    101300.7600
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 10A4D3E6-EFCC-47E9-B12D-619E65499A5F
    UCI                 7250DEE2-02B5-4914-8A63-74459450677B
MISC-COMPONENT
    COMPONENT-IDENTIFIER 93
    END-POINT           42603.1700    86499.7600    101300.7600 0.7500
    END-POINT           42485.8800    86499.7600    101300.7600 0.7500
    CENTRE-POINT        42573.8600    86499.7600    101300.7600
    SKEY                YSFL
    MATERIAL-IDENTIFIER 24
    UID                 1110ACFB-720D-4F2A-BB24-08BB051271BB
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  11.1
    UCI                 @@@@@@@3     888   26512     560   26512
GASKET
    COMPONENT-IDENTIFIER 95
    END-POINT           42485.8800    86499.7600    101300.7600 0.7500
    END-POINT           42481.4300    86499.7600    101300.7600 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 2B132880-C561-473C-8B69-158DF8754675
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 990B4337-055B-4F6E-A7F6-6197081A5D1C
BOLT
    COMPONENT-IDENTIFIER 96
    CO-ORDS             42481.4300    86499.7600    101300.7600
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 FBFD4288-DCEC-4BEF-BD25-4868D781BFF7
    UCI                 7047D2AD-E89F-4677-A3D0-F4C9C38CDE45
FLANGE
    COMPONENT-IDENTIFIER 97
    END-POINT           42481.4300    86499.7600    101300.7600 0.7500
    END-POINT           42429.0800    86499.7600    101300.7600 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 0B0CDA2C-CA18-408A-99B6-9168225C1B74
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.2
    UCI                 @@@@@@@3     895   26512     560   26512
WELD
    COMPONENT-IDENTIFIER 198
    END-POINT           42429.0800    86499.7600    101300.7600 0.7500
    END-POINT           42429.0800    86499.7600    101300.7600 0.7500
    SKEY                WW
    UID                 2BC2D424-C221-4199-B286-136F914A4B1D
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 31
    WELD-TYPE           BW
    UCI                 CFA6452E-DE07-40D0-975A-01240EA8ECB0
PIPE
    COMPONENT-IDENTIFIER 98
    END-POINT           42429.0800    86499.7600    101300.7600 0.7500
    END-POINT           42379.0800    86499.7600    101300.7600 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 07FD49BE-AD01-480A-8E21-E7D1C416DAC6
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.7
    UCI                 @@@@@@@5     507   26512     560   26512
WELD
    COMPONENT-IDENTIFIER 199
    END-POINT           42379.0800    86499.7600    101300.7600 0.7500
    END-POINT           42379.0800    86499.7600    101300.7600 0.7500
    SKEY                WW
    UID                 58353B8B-D154-4C44-BB73-163D3B2E1A7B
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 32
    WELD-TYPE           BW
    UCI                 36E91A76-A61B-4A47-8ACF-583EA10D7B27
ELBOW
    COMPONENT-IDENTIFIER 99
    END-POINT           42379.0800    86499.7600    101300.7600 0.7500
    END-POINT           42341.0000    86537.8500    101300.7600 0.7500
    CENTRE-POINT        42341.0000    86499.7600    101300.7600
    SKEY                ELBW
    MATERIAL-IDENTIFIER 11
    ANGLE               9000
    UID                 E03DA86C-5820-47FF-8FB1-0021A1050F54
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9.4
    UCI                 @@@@@@@3     919   26512     560   26512
WELD
    COMPONENT-IDENTIFIER 200
    END-POINT           42341.0000    86537.8500    101300.7600 0.7500
    END-POINT           42341.0000    86537.8500    101300.7600 0.7500
    SKEY                WW
    UID                 0FCF1D9D-3E2E-47E9-8915-8E4069692672
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 33
    WELD-TYPE           BW
    UCI                 19DAA07C-2F4D-4CAE-868E-44DDD7C858CB
PIPE
    COMPONENT-IDENTIFIER 101
    END-POINT           42341.0000    86537.8500    101300.7600 0.7500
    END-POINT           42341.0000    86587.8500    101300.7600 0.7500
    MATERIAL-IDENTIFIER 8
    UID                 74EE61C6-B931-4D43-9E1D-E684E4321E91
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.8
    UCI                 @@@@@@@5     501   26512     560   26512
WELD
    COMPONENT-IDENTIFIER 201
    END-POINT           42341.0000    86587.8500    101300.7600 0.7500
    END-POINT           42341.0000    86587.8500    101300.7600 0.7500
    SKEY                WW
    UID                 324B37AE-66CC-4DEB-BAA0-B1AFCBE56A23
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 34
    WELD-TYPE           BW
    UCI                 833E5F98-035B-4365-A259-3E4AEA3D3744
FLANGE
    COMPONENT-IDENTIFIER 102
    END-POINT           42341.0000    86587.8500    101300.7600 0.7500
    END-POINT           42341.0000    86640.1900    101300.7600 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 16
    UID                 D88D0D2B-00E4-4687-84E5-24945BD69726
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.3
    UCI                 @@@@@@@3     900   26512     560   26512
GASKET
    COMPONENT-IDENTIFIER 103
    END-POINT           42341.0000    86640.1900    101300.7600 0.7500
    END-POINT           42341.0000    86644.6400    101300.7600 0.7500
    MATERIAL-IDENTIFIER 2
    UID                 B8B31C25-6526-4D83-A66F-AF2173A90F91
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18
    UCI                 99A9CEE5-0C7D-4A7A-A270-2A86306E551D
BOLT
    COMPONENT-IDENTIFIER 104
    CO-ORDS             42341.0000    86644.6400    101300.7600
    BOLT-DIA            0.875
    BOLT-LENGTH         47
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  20
    MATERIAL-IDENTIFIER 23
    UID                 D6AF458B-FB6F-4631-8AAB-8BE64F4F12FF
    UCI                 D7AFF576-6059-4B0D-A9B5-1BC3F8FF893D
MISC-COMPONENT
    COMPONENT-IDENTIFIER 105
    END-POINT           42341.0000    86644.6400    101300.7600 0.7500
    END-POINT           42341.0000    86794.5900    101300.7600 0.7500
    CENTRE-POINT        42341.0000    86719.6200    101300.7600
    SKEY                NCFL
    MATERIAL-IDENTIFIER 25
    UID                 D87ED666-E2F1-4BCC-871D-6DE5B48E11D3
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    REPEAT-PART-NUMBER  12.1
    UCI                 @@@@@@@3     657   26512     560   26512
FLANGE
    COMPONENT-IDENTIFIER 107
    END-POINT           42341.0000    86799.0400    101300.7600 0.7500
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 5320461D-8B09-4902-B11A-A1A4BD58971B
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    MATERIAL-LIST       EXCLUDE
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          H 30  MM
    PIPING-SPEC         PA12S
    PLANT-AREA          1
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 @@@@@@@3     918   26512     580   26512
    END-CONNECTION-PIPELINE 
    CO-ORDS             42341.0000    86851.4000    101300.7600
    PIPELINE-REFERENCE  LINE C49002-PA12S$AREA 058
WELD
    COMPONENT-IDENTIFIER 202
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    END-POINT           42341.0000    86851.4000    101300.7600 0.7500
    SKEY                WWD
    UID                 9410345E-4B15-41D0-8E54-82D32A72327F
    CATEGORY            FABRICATION
    STATUS              DOTTED-UNDIMENSIONED
    WELD-TYPE           BW
    UCI                 D53C8235-790E-46B0-A68C-E0B8D7A1F8AD
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE FBC9-551-150
    DESCRIPTION BLIND FLANGE ASME B16.5 RF, CL150, ASTM A105
    -81                 FBC9-551-150
MATERIAL-IDENTIFIER 2
    ITEM-CODE DM-551-RF-150
    DESCRIPTION SPIRAL-WOUND GASKET SS316/GRAPHITE ASME B16.20, INNER-/CENTERING RING, FOR FLANGE ACC. ASME B16.5 RF, CL150
    -81                 DM-551-RF-150
MATERIAL-IDENTIFIER 3
    ITEM-CODE SBC-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A193 GR. B7 / ASTM A194 GR. 2H, METRIC SIZE, 100.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBC-551
MATERIAL-IDENTIFIER 4
    ITEM-CODE AS1503-C9-150-RF
    DESCRIPTION GATE VALVE API 600, FTF DIM. ASME B16.10, CL150, FACE RF, ASTM A216 GR. WCB, TRIM 5-HARDFACED, HANDWHEEL
    -81                 AS1503-C9-150-RF
MATERIAL-IDENTIFIER 5
    ITEM-CODE FC9-551-150-STD
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS STD, ASTM A105
    -81                 FC9-551-150-STD
MATERIAL-IDENTIFIER 6
    ITEM-CODE RC9-551-STD
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A106 GR. B
    -81                 RC9-551-STD
MATERIAL-IDENTIFIER 7
    ITEM-CODE WC9-551-STD-XS
    DESCRIPTION WELDOLET FORGED, MSS-SP-97, STANDARD-SERIES, ASTM A105
    -81                 WC9-551-STD-XS
MATERIAL-IDENTIFIER 8
    ITEM-CODE RC9-551-XS
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A106 GR. B
    -81                 RC9-551-XS
MATERIAL-IDENTIFIER 9
    ITEM-CODE HA01A
    DESCRIPTION ROHRHALTERUNG: HA01A
MATERIAL-IDENTIFIER 10
    ITEM-CODE BC9-551-45-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-45°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-45-XS
MATERIAL-IDENTIFIER 11
    ITEM-CODE BC9-551-90-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-90°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-90-XS
MATERIAL-IDENTIFIER 12
    ITEM-CODE FL06A
    DESCRIPTION GUIDING SUPPORT
MATERIAL-IDENTIFIER 13
    ITEM-CODE GL06A
    DESCRIPTION SLIDING SUPPORT
MATERIAL-IDENTIFIER 14
    ITEM-CODE FP06A
    DESCRIPTION FIXED SUPPORT
MATERIAL-IDENTIFIER 15
    ITEM-CODE TC9-553-XS
    DESCRIPTION TEE REDUCING SEAMLESS, ASME B16.9, XS, ASTM A234 GR. WPB
    -81                 TC9-553-XS
MATERIAL-IDENTIFIER 16
    ITEM-CODE FC9-551-150-XS
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS XS, ASTM A105
    -81                 FC9-551-150-XS
MATERIAL-IDENTIFIER 17
    ITEM-CODE SBC-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A193 GR. B7 / ASTM A194 GR. 2H, METRIC SIZE, 80.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBC-551
MATERIAL-IDENTIFIER 18
    ITEM-CODE AS1502-C9-150-RF
    DESCRIPTION GATE VALVE API 602, FTF DIM. ASME B16.10, CL150, FACE RF, ASTM A105, TRIM 5-HARDFACED, HANDWHEEL
    -81                 AS1502-C9-150-RF
MATERIAL-IDENTIFIER 19
    ITEM-CODE SP-000136
    DESCRIPTION SPECIALTY COMPONENT
    -81                 SP-000136
MATERIAL-IDENTIFIER 20
    ITEM-CODE SP-000137
    DESCRIPTION SPECIALTY COMPONENT
    -81                 SP-000137
MATERIAL-IDENTIFIER 21
    ITEM-CODE FL05A
    DESCRIPTION GUIDING SUPPORT
    -81                 FL05A
MATERIAL-IDENTIFIER 22
    ITEM-CODE TC9-551-XS
    DESCRIPTION TEE STRAIGHT SEAMLESS, ASME B16.9, XS, ASTM A234 GR. WPB
    -81                 TC9-551-XS
MATERIAL-IDENTIFIER 23
    ITEM-CODE SBC-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A193 GR. B7 / ASTM A194 GR. 2H, METRIC SIZE, 75.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBC-551
MATERIAL-IDENTIFIER 24
    ITEM-CODE AF1500-C9-150-RF
    DESCRIPTION STRAINER Y-FORM IN DEPEND. ON API 6D, FTF DIM. ASME B16.10 (GLOBE), CL150, FACE RF, ASME B16.5, ASTM A216 GR. WCB
    -81                 AF1500-C9-150-RF
MATERIAL-IDENTIFIER 25
    ITEM-CODE AA1500-C9-150-RF
    DESCRIPTION THERMOSTATIC STEAM TRAP WITH DUO SS BIMETALLIC REGULATOR, GESTRA BK45, ISO 6704, FTF DIM. ISO 6554 SERIES 1, CL150, FACE RF, ASTM A105
    -81                 AA1500-C9-150-RF
