ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          INCH
UNITS-WEIGHT            KGS
UID                     489EF992-36C3-4E18-99D5-FD75126EB4BF
PIPELINE-REFERENCE      P49072
    UID                 00044CA9-1519-4714-9E88-C9FB6835B687
    AREA                1
    DATE-DMY            17/04/18
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    ITEM-ATTRIBUTE1     -81
    START-CO-ORDS       45644.2800       85106.3300       101050.0700
WELD
    COMPONENT-IDENTIFIER 106
    END-POINT           45644.2800    85106.3300    101050.0700 8.0000
    END-POINT           45644.2800    85106.3300    101050.0700 8.0000
    SKEY                WSD
    UID                 D103A797-65FD-4FEB-B582-515BA579DC7F
    CATEGORY            ERECTION
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 97292012-337B-4843-9023-E88F2FAD2BB1
FLANGE
    COMPONENT-IDENTIFIER 2
    END-POINT           45644.2800    85106.3300    101050.0700 8.0000
    END-POINT           45542.7200    85106.3300    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 B313DB43-49E1-4956-8E2A-7641969F8F41
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    MATERIAL-LIST       EXCLUDE
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 @@@@@@@3      41   26512      31   26512
END-CONNECTION-PIPELINE
    CO-ORDS             45644.2800    85106.3300    101050.0700
    PIPELINE-REFERENCE  LINE P49073-PA11$AREA 058
INSTRUMENT
    COMPONENT-IDENTIFIER 3
    END-POINT           45538.2700    85106.3300    101050.0700 8.0000
    END-POINT           45080.3200    85106.3300    101050.0700 8.0000
    CENTRE-POINT        45309.3000    85106.3300    101050.0700
    SKEY                CVFL
    MATERIAL-IDENTIFIER 1
    UID                 E884CD2F-B22C-4F9A-BD3D-3CB170671228
    CATEGORY            ERECTION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    NAME                XV$49896
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  26.1
    UCI                 @@@@@@@6       5   26512      18   26512
    MESSAGE             
    TEXT                INSULATION E THK. 70  MM
GASKET
    COMPONENT-IDENTIFIER 6
    END-POINT           45080.3200    85106.3300    101050.0700 8.0000
    END-POINT           45075.8700    85106.3300    101050.0700 8.0000
    MATERIAL-IDENTIFIER 2
    UID                 22DDFB5B-756D-46BF-BC8B-3324469FB7E2
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 F06A0ECE-442C-4868-A131-8A8142A03639
BOLT
    COMPONENT-IDENTIFIER 7
    CO-ORDS             45075.8700    85106.3300    101050.0700
    BOLT-DIA            1.25
    BOLT-LENGTH         76
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  11
    MATERIAL-IDENTIFIER 3
    UID                 6D80417D-677E-45EF-877D-FCA006FEAFD1
    UCI                 6E36E8DE-39B9-4550-BB42-49FA8F53E4C8
FLANGE
    COMPONENT-IDENTIFIER 8
    END-POINT           45075.8700    85106.3300    101050.0700 8.0000
    END-POINT           44974.3100    85106.3300    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 3DF377E6-18DB-4943-AEDD-EEF1DFE1709D
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  20.1
    UCI                 @@@@@@@3      49   26512      18   26512
WELD
    COMPONENT-IDENTIFIER 107
    END-POINT           44974.3100    85106.3300    101050.0700 8.0000
    END-POINT           44974.3100    85106.3300    101050.0700 8.0000
    SKEY                WS
    UID                 D88FF6D5-EB1D-4C87-B729-E5336FBED086
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 1
    WELD-TYPE           BW
    UCI                 25255113-EDC7-47D9-96B8-C77FB538F1F3
ELBOW
    COMPONENT-IDENTIFIER 9
    END-POINT           44974.3100    85106.3300    101050.0700 8.0000
    END-POINT           44669.5200    85411.1200    101050.0700 8.0000
    CENTRE-POINT        44669.5200    85106.3300    101050.0700
    SKEY                ELBW
    MATERIAL-IDENTIFIER 5
    ANGLE               9000
    UID                 AC7E68A1-10E6-4DCD-8F79-9EDF85457FA7
    CATEGORY            ERECTION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  18.1
    UCI                 @@@@@@@3      48   26512      18   26512
WELD
    COMPONENT-IDENTIFIER 108
    END-POINT           44669.5200    85411.1200    101050.0700 8.0000
    END-POINT           44669.5200    85411.1200    101050.0700 8.0000
    SKEY                WS
    UID                 5995A38D-57CF-49E7-8486-9894DEEDCB64
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 2
    WELD-TYPE           BW
    UCI                 864467FC-607A-4C2B-9E75-65A34D5C3DCF
PIPE
    COMPONENT-IDENTIFIER 12
    END-POINT           44669.5200    85411.1200    101050.0700 8.0000
    END-POINT           44669.5200    85806.5500    101050.0700 8.0000
    MATERIAL-IDENTIFIER 6
    UID                 D66D04DF-7047-4733-AC2C-EC20CC098AA7
    CATEGORY            ERECTION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.1
    UCI                 @@@@@@@5      22   26512      18   26512
FLOW-ARROW
    CO-ORDS             44669.5200    85523.7200    101050.0700
    FLOW                2
    SKEY                FLOW
SUPPORT
    COMPONENT-IDENTIFIER 13
    CO-ORDS             44669.5200    85636.3300    101050.0700 8.0000
    SKEY                    
    MATERIAL-IDENTIFIER 7
    UID                 CC2E1A6A-FCAE-4041-955E-6A48D8A9D8B0
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    NAME                FL05A
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  28.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8      18   26512      18   26512
    MESSAGE             
    TEXT                058K003, HE100A
    MESSAGE             
    TEXT                POS:0 1-WAY SUPPORT
WELD
    COMPONENT-IDENTIFIER 109
    END-POINT           44669.5200    85806.5500    101050.0700 8.0000
    END-POINT           44669.5200    85806.5500    101050.0700 8.0000
    SKEY                WS
    UID                 6D078F3E-1F45-47E3-B8D0-707A51F1276D
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 3
    WELD-TYPE           BW
    UCI                 CC2448A3-A561-4A9A-8CD5-842108DADC55
FLANGE
    COMPONENT-IDENTIFIER 17
    END-POINT           44669.5200    85806.5500    101050.0700 8.0000
    END-POINT           44669.5200    85908.1000    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 F0CF1307-BC09-4881-8AF6-13FAEF187BC8
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  20.2
    UCI                 @@@@@@@3      47   26512      18   26512
GASKET
    COMPONENT-IDENTIFIER 18
    END-POINT           44669.5200    85908.1000    101050.0700 8.0000
    END-POINT           44669.5200    85912.5500    101050.0700 8.0000
    MATERIAL-IDENTIFIER 2
    UID                 FAF3E12B-2A12-4491-AA51-24F65853089D
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 5CE2B856-E734-40C9-8539-C9E89337C638
BOLT
    COMPONENT-IDENTIFIER 19
    CO-ORDS             44669.5200    85912.5500    101050.0700
    BOLT-DIA            1.25
    BOLT-LENGTH         76
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  11
    MATERIAL-IDENTIFIER 3
    UID                 98C3CB95-0484-4DC3-8769-3DC9B055ED49
    UCI                 B63B79F2-448D-4A9B-993C-AA440D20E124
INSTRUMENT
    COMPONENT-IDENTIFIER 20
    END-POINT           44669.5200    85912.5500    101050.0700 8.0000
    END-POINT           44669.5200    86370.5000    101050.0700 8.0000
    CENTRE-POINT        44669.5200    86141.5300    101050.0700
    SKEY                CVFL
    MATERIAL-IDENTIFIER 8
    UID                 F62B5F7B-ECEB-4015-BD0C-02AB227E8125
    CATEGORY            ERECTION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    NAME                XV$49876
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  27.1
    SPINDLE-DIRECTION   UP
    UCI                 @@@@@@@6       6   26512      18   26512
GASKET
    COMPONENT-IDENTIFIER 22
    END-POINT           44669.5200    86370.5000    101050.0700 8.0000
    END-POINT           44669.5200    86374.9500    101050.0700 8.0000
    MATERIAL-IDENTIFIER 2
    UID                 5C30AC81-45F6-4FA0-80D0-B9C502FC35FF
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 CD6D998D-A1AF-4C49-A676-0A4E701DFAC3
BOLT
    COMPONENT-IDENTIFIER 23
    CO-ORDS             44669.5200    86374.9500    101050.0700
    BOLT-DIA            1.25
    BOLT-LENGTH         76
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  11
    MATERIAL-IDENTIFIER 3
    UID                 C2216AD7-6A12-4027-8E2B-8D201349E61E
    UCI                 B2403A8C-3381-4C03-8783-A4B002589963
FLANGE
    COMPONENT-IDENTIFIER 24
    END-POINT           44669.5200    86374.9500    101050.0700 8.0000
    END-POINT           44669.5200    86476.5200    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 4A49E86A-F5C5-43F2-910A-B485AAAD04E9
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  20.3
    UCI                 @@@@@@@3      50   26512      18   26512
WELD
    COMPONENT-IDENTIFIER 110
    END-POINT           44669.5200    86476.5200    101050.0700 8.0000
    END-POINT           44669.5200    86476.5200    101050.0700 8.0000
    SKEY                WS
    UID                 0D0FDEB0-0D6A-4268-8045-0CB7228A71FB
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 4
    WELD-TYPE           BW
    UCI                 4118CE31-1DE0-4043-BCFE-86BA7A5B9467
PIPE
    COMPONENT-IDENTIFIER 25
    END-POINT           44669.5200    86476.5200    101050.0700 8.0000
    END-POINT           44669.5200    86816.5200    101050.0700 8.0000
    MATERIAL-IDENTIFIER 6
    UID                 877ACEE9-2325-41F1-AE39-DCE9DA8AA1CC
    CATEGORY            ERECTION
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.2
    UCI                 @@@@@@@5      21   26512      20   26512
FLOW-ARROW
    CO-ORDS             44669.5200    86731.2900    101050.0700
    FLOW                2
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 119
    END-POINT           44669.5200    86816.5200    101050.0700 8.0000
    END-POINT           44669.5200    86816.5200    101050.0700 8.0000
    SKEY                WS
    UID                 9E526662-1864-4400-B0D0-51F9431D5ED9
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 15
    WELD-TYPE           BW
    UCI                 B4232043-ECE4-4924-9B07-C8F717693F55
FLANGE
    COMPONENT-IDENTIFIER 72
    END-POINT           44669.5200    86816.5200    101050.0700 8.0000
    END-POINT           44669.5200    86918.0800    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 BDA37342-AA24-4C66-905E-89CF649A50E3
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    FLOW                2
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  20.4
    UCI                 @@@@@@@3      53   26512      20   26512
GASKET
    COMPONENT-IDENTIFIER 74
    END-POINT           44669.5200    86918.0800    101050.0700 8.0000
    END-POINT           44669.5200    86922.5300    101050.0700 8.0000
    MATERIAL-IDENTIFIER 2
    UID                 EFC6D69D-DB34-4735-A569-552B71F020CC
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8
    UCI                 61D3E332-D413-486B-8604-E1858BF79235
BOLT
    COMPONENT-IDENTIFIER 75
    CO-ORDS             44669.5200    86922.5300    101050.0700
    BOLT-DIA            1.25
    BOLT-LENGTH         76
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  11
    MATERIAL-IDENTIFIER 3
    UID                 EF2A3EC0-0020-46E5-BA2B-1DF7A7411985
    UCI                 A235C37F-C3B7-4072-9987-CDB62C986EB8
FLANGE
    COMPONENT-IDENTIFIER 76
    END-POINT           44669.5200    86922.5300    101050.0700 8.0000
    END-POINT           44669.5200    87024.1000    101050.0700 8.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 9
    UID                 BDE37D3A-1090-4636-9242-AB01B231560E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5.1
    UCI                 @@@@@@@3     954   26512     617   26512
WELD
    COMPONENT-IDENTIFIER 120
    END-POINT           44669.5200    87024.1000    101050.0700 8.0000
    END-POINT           44669.5200    87024.1000    101050.0700 8.0000
    SKEY                WW
    UID                 44DF2AE9-AD45-45A0-8B57-A13D459F2BC3
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 16
    WELD-TYPE           BW
    UCI                 171C6339-4921-4AD0-A649-48CF1CF34205
REDUCER-CONCENTRIC
    COMPONENT-IDENTIFIER 77
    END-POINT           44669.5200    87024.1000    101050.0700 8.0000
    END-POINT           44669.5200    87176.4800    101050.0700 4.0000
    SKEY                RCBW
    MATERIAL-IDENTIFIER 10
    UID                 F17EE4C6-BF88-4735-9C67-5FE3CBCB1F58
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.1
    UCI                 @@@@@@@3     953   26512     617   26512
WELD
    COMPONENT-IDENTIFIER 121
    END-POINT           44669.5200    87176.4800    101050.0700 4.0000
    END-POINT           44669.5200    87176.4800    101050.0700 4.0000
    SKEY                WW
    UID                 2CBDFA82-599C-47C6-BA4B-A920FD07C9CA
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 17
    WELD-TYPE           BW
    UCI                 9ED87786-A820-4CE4-8592-CF955C7634F1
PIPE
    COMPONENT-IDENTIFIER 79
    END-POINT           44669.5200    87176.4800    101050.0700 4.0000
    END-POINT           44669.5200    87476.4800    101050.0700 4.0000
    MATERIAL-IDENTIFIER 11
    UID                 75C398C2-FC0F-4C44-8D0F-2BC709966B12
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.1
    UCI                 @@@@@@@5     534   26512     616   26512
WELD
    COMPONENT-IDENTIFIER 122
    END-POINT           44669.5200    87476.4800    101050.0700 4.0000
    END-POINT           44669.5200    87476.4800    101050.0700 4.0000
    SKEY                WW
    UID                 E212D90F-76C3-4714-8E98-E492A7C16605
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 18
    WELD-TYPE           BW
    UCI                 17FEC728-78B9-40D5-9B86-DAFA14D47268
FLANGE
    COMPONENT-IDENTIFIER 80
    END-POINT           44669.5200    87476.4800    101050.0700 4.0000
    END-POINT           44669.5200    87552.6400    101050.0700 4.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 9
    UID                 B470368B-90B0-4621-B1E9-6BF7FA38FB79
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  6.1
    UCI                 @@@@@@@3     951   26512     616   26512
GASKET
    COMPONENT-IDENTIFIER 81
    END-POINT           44669.5200    87552.6400    101050.0700 4.0000
    END-POINT           44669.5200    87557.0900    101050.0700 4.0000
    MATERIAL-IDENTIFIER 2
    UID                 58A0F42C-B632-44EA-90FE-9DCBFB372C7B
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9
    UCI                 18C71175-9CDD-4F6B-9974-8AE9D2283CDF
BOLT
    COMPONENT-IDENTIFIER 82
    CO-ORDS             44669.5200    87557.0900    101050.0700
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  12
    MATERIAL-IDENTIFIER 12
    UID                 40B98F9F-8834-4556-BA89-CF5B2ACFAE15
    UCI                 4CAB3B13-1474-4F1D-B95A-A434042DE724
VALVE
    COMPONENT-IDENTIFIER 83
    END-POINT           44669.5200    87557.0900    101050.0700 4.0000
    END-POINT           44669.5200    87785.6200    101050.0700 4.0000
    SKEY                VBFL
    MATERIAL-IDENTIFIER 13
    UID                 B4F8340C-9F26-4096-A86B-31F8F7196971
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  14.1
    SPINDLE-DIRECTION   UP
    UCI                 @@@@@@@3     952   26512     616   26512
    MESSAGE             
    TEXT                PTFE SEATED (42)(T)
GASKET
    COMPONENT-IDENTIFIER 85
    END-POINT           44669.5200    87785.6200    101050.0700 4.0000
    END-POINT           44669.5200    87790.0600    101050.0700 4.0000
    MATERIAL-IDENTIFIER 2
    UID                 AFD45215-0D5B-4F35-B970-8EF170E13368
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9
    UCI                 E76EEBE8-1340-484E-89B3-74DDD6E6959F
    END-CONNECTION-EQUIPMENT 
    CO-ORDS             44669.5200    87790.0600    101050.0700
    CONNECTION-REFERENCE V-4985/ N5
BOLT
    COMPONENT-IDENTIFIER 86
    CO-ORDS             44669.5200    87790.0600    101050.0700
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  12
    MATERIAL-IDENTIFIER 12
    UID                 34E48BB3-D17A-41A2-B7D7-1157C8701AA0
    UCI                 996F2A40-5065-4B41-A255-45F7343AA99C
TEE-SET-ON
    COMPONENT-IDENTIFIER 28
    CENTRE-POINT        44669.5200    86646.0700    101050.0700 4.0000
    BRANCH1-POINT       44576.1000    86646.0700    101050.0700 4.0000
    MATERIAL-IDENTIFIER 6
    SKEY                TESO
    UID                 CABBC747-0265-4F16-AD11-BD69282BF6C1
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.2
    UCI                 @@@@@@@3      52   26512      20   26512
WELD
    COMPONENT-IDENTIFIER 111
    MASTER-COMPONENT-IDENTIFIER 28 CP
    END-POINT           44669.5200    86646.0700    101050.0700 4.0000
    END-POINT           44669.5200    86646.0700    101050.0700 4.0000
    SKEY                WS
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 5
    WELD-TYPE           SOB
    UCI                 56911CFA-B37F-4834-AD3B-3EA243B1495F
    UID                 7FA35FFB-69B0-4E26-AB45-52801599E02D
PIPE
    COMPONENT-IDENTIFIER 30
    END-POINT           44576.1000    86646.0700    101050.0700 4.0000
    END-POINT           44260.1000    86646.0700    101050.0700 4.0000
    MATERIAL-IDENTIFIER 6
    UID                 9C750D60-9359-479A-B40A-2E70A6857C40
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16.1
    UCI                 @@@@@@@5      23   26512      19   26512
FLOW-ARROW
    CO-ORDS             44492.6000    86646.0700    101050.0700
    SKEY                FLOW
FLOW-ARROW
    CO-ORDS             44334.6000    86646.0700    101050.0700
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 118
    END-POINT           44260.1000    86646.0700    101050.0700 4.0000
    END-POINT           44260.1000    86646.0700    101050.0700 4.0000
    SKEY                WS
    UID                 7B5B956A-0231-4109-9ECD-D45AA1CDA516
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 14
    WELD-TYPE           BW
    UCI                 42F50D4A-A243-4C26-BA3A-228EF44D83CD
FLANGE
    COMPONENT-IDENTIFIER 64
    END-POINT           44260.1000    86646.0700    101050.0700 4.0000
    END-POINT           44183.9300    86646.0700    101050.0700 4.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 08923F15-4489-4C33-BED3-A806EDA6E21D
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  21.1
    UCI                 @@@@@@@3      55   26512      21   26512
GASKET
    COMPONENT-IDENTIFIER 65
    END-POINT           44183.9300    86646.0700    101050.0700 4.0000
    END-POINT           44179.4800    86646.0700    101050.0700 4.0000
    MATERIAL-IDENTIFIER 2
    UID                 026D84F6-59C4-4C4C-89BD-C7CA28DC5A27
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9
    UCI                 4EA1AFA5-5B20-483C-8395-E4C6454766EB
BOLT
    COMPONENT-IDENTIFIER 66
    CO-ORDS             44179.4800    86646.0700    101050.0700
    BOLT-DIA            1
    BOLT-LENGTH         63
    BOLT-QUANTITY       8
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  12
    MATERIAL-IDENTIFIER 12
    UID                 55464683-7186-4EB0-BE6D-2D43BC2DCD52
    UCI                 F2FA00F8-5BA9-4E54-B51D-1873E380EDF0
FLANGE-BLIND
    COMPONENT-IDENTIFIER 67
    END-POINT           44179.4800    86646.0700    101050.0700 4.0000
    END-POINT           44157.9200    86646.0700    101050.0700 4.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 14
    UID                 04CC55F7-9E57-4E29-BEEE-BAE83455A102
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  23.1
    UCI                 @@@@@@@3      56   26512      21   26512
    END-POSITION-CLOSED 
    CO-ORDS             44157.9200    86646.0700    101050.0700
OLET
    COMPONENT-IDENTIFIER 33
    CENTRE-POINT        44409.1000    86646.0700    101050.0700 1.0000
    BRANCH1-POINT       44409.1000    86646.0700    100965.9500 1.0000
    MATERIAL-IDENTIFIER 15
    SKEY                WTBW
    UID                 4885CF89-372E-4F5A-9E9E-77E39280140C
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  19.1
    UCI                 @@@@@@@3      51   26512      19   26512
WELD
    COMPONENT-IDENTIFIER 112
    MASTER-COMPONENT-IDENTIFIER 33 CP
    END-POINT           44409.1000    86646.0700    101050.0700 1.0000
    END-POINT           44409.1000    86646.0700    101050.0700 1.0000
    SKEY                WS
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 6
    WELD-TYPE           LET
    UCI                 F985DE5C-79B8-4FC8-AD98-1BB77FADBD75
    UID                 197CA95F-8920-41FA-BB7F-9BFAC057B211
WELD
    COMPONENT-IDENTIFIER 34
    MASTER-COMPONENT-IDENTIFIER 33 B1P
    END-POINT           44409.1000    86646.0700    100965.9500 1.0000
    END-POINT           44409.1000    86646.0700    100965.9500 1.0000
    SKEY                WF
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 70  MM
    PIPING-SPEC         PU14
    REPEAT-WELD-IDENTIFIER 7
    WELD-TYPE           BW
    UCI                 A6E0AAEA-C4F9-433E-B770-54A98A76751A
    UID                 79ECBC01-0810-4132-A4DA-CD49953655D2
PIPE
    COMPONENT-IDENTIFIER 37
    END-POINT           44409.1000    86646.0700    100965.9500 1.0000
    END-POINT           44409.1000    86646.0700    100862.9500 1.0000
    MATERIAL-IDENTIFIER 16
    UID                 6DE75C4E-2FA1-4F5D-820B-1DD7DCC1BAA2
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  17.1
    UCI                 @@@@@@@5      24   26512      42   26512
FLOW-ARROW
    CO-ORDS             44409.1000    86646.0700    100914.4500
    SKEY                FLOW
WELD
    COMPONENT-IDENTIFIER 38
    END-POINT           44409.1000    86646.0700    100862.9500 1.0000
    END-POINT           44409.1000    86646.0700    100862.9500 1.0000
    SKEY                WF
    UID                 B12626D4-EBEB-4FDF-A520-BB63C39C043F
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    REPEAT-WELD-IDENTIFIER 8
    WELD-TYPE           BW
    UCI                 3EC965F4-1FB1-420C-AA2B-4C97587EC6BD
FLANGE
    COMPONENT-IDENTIFIER 39
    END-POINT           44409.1000    86646.0700    100862.9500 1.0000
    END-POINT           44409.1000    86646.0700    100807.4200 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 4
    UID                 E057AE64-618B-4CA7-8D00-633C31CEBDF6
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  22.1
    UCI                 @@@@@@@3      57   26512      42   26512
GASKET
    COMPONENT-IDENTIFIER 40
    END-POINT           44409.1000    86646.0700    100807.4200 1.0000
    END-POINT           44409.1000    86646.0700    100802.9700 1.0000
    MATERIAL-IDENTIFIER 2
    UID                 D49C4E62-5E3F-4664-9EEB-2D768FBD7D7D
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10
    UCI                 A0712261-9B36-4625-8368-085A69A09338
BOLT
    COMPONENT-IDENTIFIER 41
    CO-ORDS             44409.1000    86646.0700    100802.9700
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  13
    MATERIAL-IDENTIFIER 17
    UID                 4C82B358-700A-4E7E-9508-AB7E94877398
    UCI                 34C2C63A-498C-4638-A904-6FEC6F6EDF48
FLANGE
    COMPONENT-IDENTIFIER 43
    END-POINT           44409.1000    86646.0700    100802.9700 1.0000
    END-POINT           44409.1000    86646.0700    100747.4500 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 18
    UID                 87C1F0AE-5DCA-4D3A-A119-A9B78108B2AE
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.1
    UCI                 @@@@@@@3      80   26512      43   26512
WELD
    COMPONENT-IDENTIFIER 113
    END-POINT           44409.1000    86646.0700    100747.4500 1.0000
    END-POINT           44409.1000    86646.0700    100747.4500 1.0000
    SKEY                WW
    UID                 01A919FC-D01F-4DD5-9169-186974CA1B29
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 9
    WELD-TYPE           BW
    UCI                 80B8D3AB-1E82-4132-BEF6-3418903217DE
ELBOW
    COMPONENT-IDENTIFIER 44
    END-POINT           44409.1000    86646.0700    100747.4500 1.0000
    END-POINT           44409.1000    86607.9800    100709.3600 1.0000
    CENTRE-POINT        44409.1000    86646.0700    100709.3600
    SKEY                ELBW
    MATERIAL-IDENTIFIER 19
    ANGLE               9000
    UID                 74E7B68B-E615-478F-A5F4-AF7450E54D6B
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.1
    UCI                 @@@@@@@3      81   26512      43   26512
WELD
    COMPONENT-IDENTIFIER 114
    END-POINT           44409.1000    86607.9800    100709.3600 1.0000
    END-POINT           44409.1000    86607.9800    100709.3600 1.0000
    SKEY                WW
    UID                 D8E67C53-EF88-435B-AD2D-31CB7AF986EC
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 10
    WELD-TYPE           BW
    UCI                 24C70009-489F-48FC-B95E-FF36A8070B0B
PIPE
    COMPONENT-IDENTIFIER 46
    END-POINT           44409.1000    86607.9800    100709.3600 1.0000
    END-POINT           44409.1000    86507.9800    100709.3600 1.0000
    MATERIAL-IDENTIFIER 20
    UID                 78DBC06D-91C7-4B16-ABF3-F3D65B577944
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.1
    UCI                 @@@@@@@5      40   26512      43   26512
WELD
    COMPONENT-IDENTIFIER 115
    END-POINT           44409.1000    86507.9800    100709.3600 1.0000
    END-POINT           44409.1000    86507.9800    100709.3600 1.0000
    SKEY                WW
    UID                 F8BACF73-DE23-4CA9-8B7C-8BF54EA81933
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 11
    WELD-TYPE           BW
    UCI                 3FFB632D-BE2E-43AC-B660-1E0507F5EBB2
ELBOW
    COMPONENT-IDENTIFIER 47
    END-POINT           44409.1000    86507.9800    100709.3600 1.0000
    END-POINT           44371.0100    86469.9000    100709.3600 1.0000
    CENTRE-POINT        44409.1000    86469.9000    100709.3600
    SKEY                ELBW
    MATERIAL-IDENTIFIER 19
    ANGLE               9000
    UID                 C7DFF568-4AE5-4FAA-97DC-F2AEE26E1B87
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.2
    UCI                 @@@@@@@3      83   26512      43   26512
WELD
    COMPONENT-IDENTIFIER 116
    END-POINT           44371.0100    86469.9000    100709.3600 1.0000
    END-POINT           44371.0100    86469.9000    100709.3600 1.0000
    SKEY                WW
    UID                 3FE6275C-5604-4A01-BA24-DD5DD50674D3
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 12
    WELD-TYPE           BW
    UCI                 D0C5446C-5988-4608-BED4-B79ABF529D21
PIPE
    COMPONENT-IDENTIFIER 49
    END-POINT           44371.0100    86469.9000    100709.3600 1.0000
    END-POINT           44321.0100    86469.9000    100709.3600 1.0000
    MATERIAL-IDENTIFIER 20
    UID                 AF12D315-2F07-4646-A261-48D0D35D85C5
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.2
    UCI                 @@@@@@@5      41   26512      43   26512
WELD
    COMPONENT-IDENTIFIER 117
    END-POINT           44321.0100    86469.9000    100709.3600 1.0000
    END-POINT           44321.0100    86469.9000    100709.3600 1.0000
    SKEY                WW
    UID                 89086221-DB2C-4614-9B65-E76AA1D0BF8C
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 13
    WELD-TYPE           BW
    UCI                 3307FDD7-0580-4070-BDEA-C6DAF836FB70
FLANGE
    COMPONENT-IDENTIFIER 50
    END-POINT           44321.0100    86469.9000    100709.3600 1.0000
    END-POINT           44265.4800    86469.9000    100709.3600 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 18
    UID                 885CD840-AE7D-49A7-9B8F-45F81E019D6E
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.2
    UCI                 @@@@@@@3      85   26512      43   26512
GASKET
    COMPONENT-IDENTIFIER 51
    END-POINT           44265.4800    86469.9000    100709.3600 1.0000
    END-POINT           44261.0300    86469.9000    100709.3600 1.0000
    MATERIAL-IDENTIFIER 2
    UID                 CF3939CB-B1CA-40EB-BB8E-65FF2FE7339D
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10
    UCI                 55B19D81-36E7-4FBA-88DD-421EF2E0BCE0
BOLT
    COMPONENT-IDENTIFIER 52
    CO-ORDS             44261.0300    86469.9000    100709.3600
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  13
    MATERIAL-IDENTIFIER 17
    UID                 15AEF37E-E6AD-4CE0-B652-9F420ED80B70
    UCI                 5BF59242-6DA0-4F6F-A1EE-463E3661E83F
VALVE
    COMPONENT-IDENTIFIER 54
    END-POINT           44261.0300    86469.9000    100709.3600 1.0000
    END-POINT           44134.1000    86469.9000    100709.3600 1.0000
    SKEY                VBFL
    MATERIAL-IDENTIFIER 21
    UID                 E888A098-7501-408F-A68B-B66667FCFE55
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  24.1
    SPINDLE-DIRECTION   SOUTH
    UCI                 @@@@@@@3      58   26512      22   26512
    MESSAGE             
    TEXT                FULL BORE
    MESSAGE             
    TEXT                PTFE SEATED (42)(T)
GASKET
    COMPONENT-IDENTIFIER 57
    END-POINT           44134.1000    86469.9000    100709.3600 1.0000
    END-POINT           44129.6500    86469.9000    100709.3600 1.0000
    MATERIAL-IDENTIFIER 2
    UID                 AF819718-5BF6-4A0D-B331-75FB76C7ACEB
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10
    UCI                 5551659A-45C5-4E85-8437-1E4A39995CDC
BOLT
    COMPONENT-IDENTIFIER 58
    CO-ORDS             44129.6500    86469.9000    100709.3600
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  13
    MATERIAL-IDENTIFIER 17
    UID                 74F25FBD-0E3B-46D8-B944-4427F41D6A22
    UCI                 95A4540A-23E0-4DA3-B1A0-A2321F749B24
FLANGE-BLIND
    COMPONENT-IDENTIFIER 59
    END-POINT           44129.6500    86469.9000    100709.3600 1.0000
    END-POINT           44117.6200    86469.9000    100709.3600 1.0000
    SKEY                FLBL
    MATERIAL-IDENTIFIER 14
    UID                 34E286EF-64AA-48CA-9820-AABB6ED7C3A5
    CATEGORY            ERECTION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          RELOCATE
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PU14
    PLANT-AREA          1
    REPEAT-PART-NUMBER  25.1
    UCI                 @@@@@@@3      59   26512      22   26512
    END-POSITION-CLOSED 
    CO-ORDS             44117.6200    86469.9000    100709.3600
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE XV-49896
    DESCRIPTION INSTRUMENT COMPONENT
    -81                 XV-49896
MATERIAL-IDENTIFIER 2
    ITEM-CODE DM-551-RF-150
    DESCRIPTION SPIRAL-WOUND GASKET SS316/GRAPHITE ASME B16.20, INNER-/CENTERING RING, FOR FLANGE ACC. ASME B16.5 RF, CL150
    -81                 DM-551-RF-150
MATERIAL-IDENTIFIER 3
    ITEM-CODE SBF-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A320 GR. L7 / ASTM A194 GR. 4, METRIC SIZE, 120.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBF-551
MATERIAL-IDENTIFIER 4
    ITEM-CODE F01CDC07BV05
    DESCRIPTION WN FLANGE, ASME B16.5, #150, ASTM A350-LF2, RF, BE
    -81                 F01CDC07BV05
MATERIAL-IDENTIFIER 5
    ITEM-CODE C01DC09V01
    DESCRIPTION ELBOW 90°, LR, ASME B16.9, ASTM A420-WPL6, BE, SEAMLESS
    -81                 C01DC09V01
MATERIAL-IDENTIFIER 6
    ITEM-CODE T01AC22V02
    DESCRIPTION PIPE SEAMLESS, ASTM A333-6, BE
    -81                 T01AC22V02
MATERIAL-IDENTIFIER 7
    ITEM-CODE FL05A
    DESCRIPTION GUIDING SUPPORT
    -81                 FL05A
MATERIAL-IDENTIFIER 8
    ITEM-CODE XV-49876
    DESCRIPTION INSTRUMENT COMPONENT
    -81                 XV-49876
MATERIAL-IDENTIFIER 9
    ITEM-CODE FF9-551-150-STD
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS STD, ASTM A350 GR. LF2
    -81                 FF9-551-150-STD
MATERIAL-IDENTIFIER 10
    ITEM-CODE RKF9-551-STD
    DESCRIPTION CONCENTRIC REDUCER SEAMLESS, ASME B16.9, STD, ASTM A420 GR. WPL6
    -81                 RKF9-551-STD
MATERIAL-IDENTIFIER 11
    ITEM-CODE RF9-551-STD
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A333 GR. 6
    -81                 RF9-551-STD
MATERIAL-IDENTIFIER 12
    ITEM-CODE SBF-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A320 GR. L7 / ASTM A194 GR. 4, METRIC SIZE, 100.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBF-551
MATERIAL-IDENTIFIER 13
    ITEM-CODE AH1500-F9-150-RF
    DESCRIPTION BALL VALVE EN 17292 FULL BORE, FTF DIM. ASME B16.10 LP (A), CL150, FACE RF, ASTM A352 GR. LCB, TRIM 304/R-PTFE, GF, LEVER
    -81                 AH1500-F9-150-RF
MATERIAL-IDENTIFIER 14
    ITEM-CODE F10CDC07B005
    DESCRIPTION BLIND FLANGE, ASME B16.5, #150, ASTM A350-LF2, RF
    -81                 F10CDC07B005
MATERIAL-IDENTIFIER 15
    ITEM-CODE C35DC07V01
    DESCRIPTION REDUCING WELDOLET, MSS-SP-97,  ASTM A350-LF2, BE, STD
    -81                 C35DC07V01
MATERIAL-IDENTIFIER 16
    ITEM-CODE T01AC22Z02
    DESCRIPTION PIPE SEAMLESS, ASTM A333-6, PE
    -81                 T01AC22Z02
MATERIAL-IDENTIFIER 17
    ITEM-CODE SBF-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A320 GR. L7 / ASTM A194 GR. 4, METRIC SIZE, 80.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBF-551
MATERIAL-IDENTIFIER 18
    ITEM-CODE FF9-551-150-XS
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS XS, ASTM A350 GR. LF2
    -81                 FF9-551-150-XS
MATERIAL-IDENTIFIER 19
    ITEM-CODE BF9-551-90-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-90°, XS, ASTM A420 GR. WPL6
    -81                 BF9-551-90-XS
MATERIAL-IDENTIFIER 20
    ITEM-CODE RF9-551-XS
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A333 GR. 6
    -81                 RF9-551-XS
MATERIAL-IDENTIFIER 21
    ITEM-CODE V04FDC30B3G
    DESCRIPTION BALL VALVE, BS 5351, #150, ASTM A352-LCB, RF,TWO PIECES SPLIT BODY FULL. BORE, LEVERBOLTING:A320-L7/A194-4,TRIM: 304/R-PTFE-GF, FLOATING BALL,FLANGE REF. STANDARD:ASME B16.5
    -81                 V04FDC30B3G
