ISOGEN-FILES            ISOGEN.FLS
UNITS-BORE              INCH
UNITS-CO-ORDS           MM
UNITS-BOLT-LENGTH       MM
UNITS-BOLT-DIA          INCH
UNITS-WEIGHT            KGS
UID                     CDBE7A89-5C61-41A0-AFFE-0C34F23BBEE8
PIPELINE-REFERENCE      SW49192
    UID                 CE9CD938-1E1D-4423-8FEF-A7D31F2A6BCC
    AREA                1
    DATE-DMY            17/04/18
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    ITEM-ATTRIBUTE1     -81
    START-CO-ORDS       46892.0000       90645.0000       106009.4200
VALVE
    COMPONENT-IDENTIFIER 2
    END-POINT           46892.0000    90645.0000    106009.4200 1.0000
    END-POINT           46892.0000    90645.0000    105882.4900 1.0000
    SKEY                VVFL
    MATERIAL-IDENTIFIER 1
    UID                 4C674F2F-36BA-41D5-9109-CA0392ABE18F
    CATEGORY            FABRICATION
    MATERIAL-LIST       EXCLUDE
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    SPINDLE-DIRECTION   WEST
    STATUS              DOTTED-UNDIMENSIONED
    UCI                 @@@@@@@3    1233   26512     764   26512
END-CONNECTION-PIPELINE
    CO-ORDS             46892.0000    90645.0000    106009.4200
    PIPELINE-REFERENCE  LINE SW50436-PA11$AREA 058
FLANGE
    COMPONENT-IDENTIFIER 3
    END-POINT           46892.0000    90645.0000    105878.0400 1.0000
    END-POINT           46892.0000    90645.0000    105822.5200 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 ECD897F9-5C22-46F1-B648-EECD99D82DBA
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.1
    UCI                 @@@@@@@3     335   26512     768   26512
    MESSAGE             
    TEXT                INSULATION E THK. 30  MM
WELD
    COMPONENT-IDENTIFIER 80
    END-POINT           46892.0000    90645.0000    105822.5200 1.0000
    END-POINT           46892.0000    90645.0000    105822.5200 1.0000
    SKEY                WW
    UID                 AA594495-F529-4B05-8FAE-4F50FE4A8FA2
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 1
    WELD-TYPE           BW
    UCI                 3EBAF64B-6C61-47FB-B158-BF0B13259FE0
ELBOW
    COMPONENT-IDENTIFIER 5
    END-POINT           46892.0000    90645.0000    105822.5200 1.0000
    END-POINT           46892.0000    90606.9100    105784.4300 1.0000
    CENTRE-POINT        46892.0000    90645.0000    105784.4300
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 E02D6D90-335F-4BBF-B7B3-923762211D80
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.1
    UCI                 @@@@@@@3     334   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 81
    END-POINT           46892.0000    90606.9100    105784.4300 1.0000
    END-POINT           46892.0000    90606.9100    105784.4300 1.0000
    SKEY                WW
    UID                 7029EEC4-7C6D-467F-84DE-DEAF8D64482C
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 2
    WELD-TYPE           BW
    UCI                 D3E7B40D-25F7-408E-9539-DFE4D17DD6BA
PIPE
    COMPONENT-IDENTIFIER 8
    END-POINT           46892.0000    90606.9100    105784.4300 1.0000
    END-POINT           46892.0000    89478.2700    105784.4300 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 E95B52C3-6537-4CF7-A700-E1D4B1704035
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.1
    UCI                 @@@@@@@5     215   26512     766   26512
FLOW-ARROW
    CO-ORDS             46892.0000    90248.4600    105784.4300
    SKEY                FLOW
SUPPORT
    COMPONENT-IDENTIFIER 9
    CO-ORDS             46892.0000    89890.0000    105784.4300 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 4
    UID                 EA83A7AB-274B-4089-BAB4-C187DB8A8AC0
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                FL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  11.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     187   26512     766   26512
    MESSAGE             
    TEXT                058S009, TKOF80
WELD
    COMPONENT-IDENTIFIER 82
    END-POINT           46892.0000    89478.2700    105784.4300 1.0000
    END-POINT           46892.0000    89478.2700    105784.4300 1.0000
    SKEY                WW
    UID                 B50EBE7E-D4AD-40E9-960B-3C641ADFE183
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 3
    WELD-TYPE           BW
    UCI                 6D088263-6040-4687-BDF5-3035B427BF07
ELBOW
    COMPONENT-IDENTIFIER 12
    END-POINT           46892.0000    89478.2700    105784.4300 1.0000
    END-POINT           46892.0000    89440.1800    105746.3500 1.0000
    CENTRE-POINT        46892.0000    89440.1800    105784.4300
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 C7AC0C6B-81B3-445F-A9EA-2AFC8BC1835E
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.2
    UCI                 @@@@@@@3     339   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 83
    END-POINT           46892.0000    89440.1800    105746.3500 1.0000
    END-POINT           46892.0000    89440.1800    105746.3500 1.0000
    SKEY                WW
    UID                 D605FA4F-7091-489C-8B68-890DFB6233AA
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 4
    WELD-TYPE           BW
    UCI                 E4065263-B90A-4B1E-8693-63AEECBF8E52
PIPE
    COMPONENT-IDENTIFIER 14
    END-POINT           46892.0000    89440.1800    105746.3500 1.0000
    END-POINT           46892.0000    89440.1800    104860.1000 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 C0F5D73C-9E64-447E-94CB-BC786D8B2A2C
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.2
    UCI                 @@@@@@@5     196   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 84
    END-POINT           46892.0000    89440.1800    104860.1000 1.0000
    END-POINT           46892.0000    89440.1800    104860.1000 1.0000
    SKEY                WW
    UID                 01D068B8-9320-4EBF-A6BE-75600015ECBF
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 5
    WELD-TYPE           BW
    UCI                 40F30255-714B-4D49-A9D4-8D5D18247543
ELBOW
    COMPONENT-IDENTIFIER 15
    END-POINT           46892.0000    89440.1800    104860.1000 1.0000
    END-POINT           46853.9100    89440.1800    104822.0100 1.0000
    CENTRE-POINT        46892.0000    89440.1800    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 F5B70041-6DEA-4BAE-B899-E4293B20F2A5
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.3
    UCI                 @@@@@@@3     343   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 85
    END-POINT           46853.9100    89440.1800    104822.0100 1.0000
    END-POINT           46853.9100    89440.1800    104822.0100 1.0000
    SKEY                WW
    UID                 A718E7E6-A292-4BEC-994A-CABFB9796D9F
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 6
    WELD-TYPE           BW
    UCI                 2A810ED8-9B79-4657-8CA9-9E1B0239A060
PIPE
    COMPONENT-IDENTIFIER 17
    END-POINT           46853.9100    89440.1800    104822.0100 1.0000
    END-POINT           43173.9100    89440.1800    104822.0100 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 DC1CD49F-FE04-4480-B8CE-FE852A4463C4
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.3
    UCI                 @@@@@@@5     216   26512     766   26512
SUPPORT
    COMPONENT-IDENTIFIER 18
    CO-ORDS             45900.0000    89440.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 5
    UID                 D9F9F0EB-88C5-45C1-A78A-DF723B2AE32E
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                GL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  12.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     189   26512     766   26512
    MESSAGE             
    TEXT                058S004, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 21
    CO-ORDS             44200.0000    89440.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 4
    UID                 BB426A20-B35B-4646-8998-907077CEC0F7
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                FL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  13.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     188   26512     766   26512
    MESSAGE             
    TEXT                058S005, TP F 80
WELD
    COMPONENT-IDENTIFIER 86
    END-POINT           43173.9100    89440.1800    104822.0100 1.0000
    END-POINT           43173.9100    89440.1800    104822.0100 1.0000
    SKEY                WW
    UID                 8E186DA3-9D23-4951-968A-51818C3302EF
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 7
    WELD-TYPE           BW
    UCI                 E9F90CBD-2B64-497E-BD32-7B8FF3240CF7
ELBOW
    COMPONENT-IDENTIFIER 24
    END-POINT           43173.9100    89440.1800    104822.0100 1.0000
    END-POINT           43135.8200    89402.1000    104822.0100 1.0000
    CENTRE-POINT        43135.8200    89440.1800    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 49986679-6FA2-4B6A-992F-23C5B8F97F98
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.4
    UCI                 @@@@@@@3     353   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 87
    END-POINT           43135.8200    89402.1000    104822.0100 1.0000
    END-POINT           43135.8200    89402.1000    104822.0100 1.0000
    SKEY                WW
    UID                 5E63AB61-935E-4060-8B83-227731E39918
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 8
    WELD-TYPE           BW
    UCI                 575B185D-E22A-4BFB-B674-18A1B537D6EC
PIPE
    COMPONENT-IDENTIFIER 26
    END-POINT           43135.8200    89402.1000    104822.0100 1.0000
    END-POINT           43135.8200    87008.0800    104822.0100 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 A73F0BE5-3D26-43A9-8838-0078E05983B8
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.4
    UCI                 @@@@@@@5     227   26512     766   26512
SUPPORT
    COMPONENT-IDENTIFIER 27
    CO-ORDS             43135.8200    89250.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 5
    UID                 0379085F-41B1-44A3-962C-524972F4B4CB
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                GL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  14.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     190   26512     766   26512
    MESSAGE             
    TEXT                058S010, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 30
    CO-ORDS             43135.8200    87250.1800    104822.0100 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 4
    UID                 2DC2B075-56C0-4F77-BDFC-90236FC716A1
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                FL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  15.1
    SUPPORT-DIRECTION   DOWN
    UCI                 @@@@@@@8     191   26512     766   26512
    MESSAGE             
    TEXT                058S011, TP F 80
WELD
    COMPONENT-IDENTIFIER 88
    END-POINT           43135.8200    87008.0800    104822.0100 1.0000
    END-POINT           43135.8200    87008.0800    104822.0100 1.0000
    SKEY                WW
    UID                 9368C6B1-160F-4BEB-83C2-0DFA161854B4
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 9
    WELD-TYPE           BW
    UCI                 8D86F3C7-A164-4632-85CC-E8CA638A8D2A
ELBOW
    COMPONENT-IDENTIFIER 33
    END-POINT           43135.8200    87008.0800    104822.0100 1.0000
    END-POINT           43135.8200    86970.0000    104783.9200 1.0000
    CENTRE-POINT        43135.8200    86970.0000    104822.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 8DF796D7-3C8F-409B-974F-BF4DC0C6CFAC
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.5
    UCI                 @@@@@@@3    1238   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 89
    END-POINT           43135.8200    86970.0000    104783.9200 1.0000
    END-POINT           43135.8200    86970.0000    104783.9200 1.0000
    SKEY                WW
    UID                 1DA33CFD-AC48-4A32-8C74-A5F6C9916C2E
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 10
    WELD-TYPE           BW
    UCI                 7CD53303-DDA9-4E32-81EC-77DE2F0250F6
PIPE
    COMPONENT-IDENTIFIER 35
    END-POINT           43135.8200    86970.0000    104783.9200 1.0000
    END-POINT           43135.8200    86970.0000    104731.1000 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 2F54D4C1-1156-47A6-84DE-4669238B3BCF
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.5
    UCI                 @@@@@@@5     674   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 90
    END-POINT           43135.8200    86970.0000    104731.1000 1.0000
    END-POINT           43135.8200    86970.0000    104731.1000 1.0000
    SKEY                WW
    UID                 F4C401FA-D1E1-452C-A4A0-6FD23E0BEF31
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 11
    WELD-TYPE           BW
    UCI                 BE2BCC58-7FA0-48E5-A827-AF2ACD44C7EF
ELBOW
    COMPONENT-IDENTIFIER 36
    END-POINT           43135.8200    86970.0000    104731.1000 1.0000
    END-POINT           43097.7300    86970.0000    104693.0100 1.0000
    CENTRE-POINT        43135.8200    86970.0000    104693.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 78E1B335-615C-4856-86E2-A892C1C26BB6
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.6
    UCI                 @@@@@@@3    1239   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 91
    END-POINT           43097.7300    86970.0000    104693.0100 1.0000
    END-POINT           43097.7300    86970.0000    104693.0100 1.0000
    SKEY                WW
    UID                 70D0BD37-2918-4AE0-924E-0DA031327504
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 12
    WELD-TYPE           BW
    UCI                 A47B6A65-59EE-440F-8E0B-C2CF2E6E42A4
PIPE
    COMPONENT-IDENTIFIER 38
    END-POINT           43097.7200    86970.0000    104693.0100 1.0000
    END-POINT           42540.3500    86970.0100    104693.0100 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 44F07566-1BEB-4DAD-B1C2-86CDA60F7520
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.6
    UCI                 @@@@@@@5     512   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 92
    END-POINT           42540.3500    86970.0100    104693.0100 1.0000
    END-POINT           42540.3500    86970.0100    104693.0100 1.0000
    SKEY                WW
    UID                 311E7FEE-23C5-4032-A182-28453443B47E
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 13
    WELD-TYPE           BW
    UCI                 82D4F8F5-0E4A-4E98-BAAC-EC5D2EF4E5CF
ELBOW
    COMPONENT-IDENTIFIER 39
    END-POINT           42540.3500    86970.0100    104693.0100 1.0000
    END-POINT           42502.2000    86954.2000    104693.0100 1.0000
    CENTRE-POINT        42518.0000    86970.0000    104693.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 6
    ANGLE               4497
    UID                 E279EAFC-938B-4E79-917E-D559E5FC575A
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.1
    UCI                 @@@@@@@3     922   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 93
    END-POINT           42502.2000    86954.2000    104693.0100 1.0000
    END-POINT           42502.2000    86954.2000    104693.0100 1.0000
    SKEY                WW
    UID                 6364AC36-FC3F-4259-92C4-0B2A311965F8
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 14
    WELD-TYPE           BW
    UCI                 A1B63B4F-9472-4E96-9615-365DB0326763
PIPE
    COMPONENT-IDENTIFIER 41
    END-POINT           42502.1800    86954.1800    104693.0100 1.0000
    END-POINT           42364.9200    86816.9200    104693.0100 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 46636DFD-657F-4EAA-AC1A-552794B6EE2D
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.7
    UCI                 @@@@@@@5     511   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 94
    END-POINT           42364.9200    86816.9200    104693.0100 1.0000
    END-POINT           42364.9200    86816.9200    104693.0100 1.0000
    SKEY                WW
    UID                 8BB42ECB-3323-4CF5-8C2D-CB008745A084
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 15
    WELD-TYPE           BW
    UCI                 D92D33F7-FEC1-42C8-8DB4-7FE9CD2E09F6
ELBOW
    COMPONENT-IDENTIFIER 42
    END-POINT           42364.9200    86816.9200    104693.0100 1.0000
    END-POINT           42338.0000    86790.0000    104654.9200 1.0000
    CENTRE-POINT        42338.0000    86790.0000    104693.0100
    SKEY                ELBW
    MATERIAL-IDENTIFIER 2
    ANGLE               9000
    UID                 EE41E9AC-BE35-4FDB-BC05-3518DA2F4724
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  2.7
    UCI                 @@@@@@@3     351   26512     766   26512
WELD
    COMPONENT-IDENTIFIER 95
    END-POINT           42338.0000    86790.0000    104654.9200 1.0000
    END-POINT           42338.0000    86790.0000    104654.9200 1.0000
    SKEY                WW
    UID                 AD55CFE4-072D-46DA-8F7C-205C7B1DF622
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 16
    WELD-TYPE           BW
    UCI                 66BF697D-31A1-46B5-B59C-536B5D40DC0F
PIPE
    COMPONENT-IDENTIFIER 44
    END-POINT           42338.0000    86790.0000    104654.9200 1.0000
    END-POINT           42338.0000    86790.0000    102124.2300 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 45D6402A-7A7B-431F-BD78-545258641088
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.8
    UCI                 @@@@@@@5     200   26512     766   26512
SUPPORT
    COMPONENT-IDENTIFIER 45
    CO-ORDS             42338.0000    86790.0000    104249.7300 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 4
    UID                 AA7D2DA5-FB9F-48B0-93ED-929D7D20DD94
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                FL06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  16.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8     154   26512     766   26512
    MESSAGE             
    TEXT                058S012, TP F 80
SUPPORT
    COMPONENT-IDENTIFIER 48
    CO-ORDS             42338.0000    86790.0000    102349.4200 1.0000
    SKEY                    
    MATERIAL-IDENTIFIER 7
    UID                 B5F86758-F7C0-4E31-9B65-4E9977F573AF
    CATEGORY            ERECTION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                FP06A
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  17.1
    SUPPORT-DIRECTION   EAST
    UCI                 @@@@@@@8     153   26512     766   26512
    MESSAGE             
    TEXT                058S013, TP F 80
WELD
    COMPONENT-IDENTIFIER 96
    END-POINT           42338.0000    86790.0000    102124.2300 1.0000
    END-POINT           42338.0000    86790.0000    102124.2300 1.0000
    SKEY                WW
    UID                 93345A1E-1333-4FB3-B6D9-40D020CE214A
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 17
    WELD-TYPE           BW
    UCI                 03C177B1-79C3-479C-B517-1644D073189D
FLANGE
    COMPONENT-IDENTIFIER 51
    END-POINT           42338.0000    86790.0000    102124.2300 1.0000
    END-POINT           42338.0000    86790.0000    102068.7000 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 2080C45B-2B5C-49D7-882E-C3154535DA2C
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.2
    UCI                 @@@@@@@3     316   26512     766   26512
GASKET
    COMPONENT-IDENTIFIER 52
    END-POINT           42338.0000    86790.0000    102068.7000 1.0000
    END-POINT           42337.9500    86790.0000    102064.2500 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 BB7CA8D8-C6BF-4D88-B38D-382B6164ED30
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5
    UCI                 99484B4C-B6D7-419F-8C73-E4909F69CA2C
BOLT
    COMPONENT-IDENTIFIER 53
    CO-ORDS             42337.9500    86790.0000    102064.2500
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  6
    MATERIAL-IDENTIFIER 9
    UID                 D94547BE-0986-4E01-898B-B898293C4215
    UCI                 F2488320-02E9-4392-8DF6-B60AB5354C85
VALVE
    COMPONENT-IDENTIFIER 54
    END-POINT           42337.9500    86790.0000    102064.2500 1.0000
    END-POINT           42337.9500    86790.0000    101937.3300 1.0000
    SKEY                VBFL
    MATERIAL-IDENTIFIER 10
    UID                 06BA9CED-CAC7-4F52-B6B1-366D548D3440
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  7.1
    SPINDLE-DIRECTION   WEST
    UCI                 @@@@@@@3    1246   26512     785   26512
    MESSAGE             
    TEXT                PTFE SEATED (42)(T)
GASKET
    COMPONENT-IDENTIFIER 56
    END-POINT           42337.9500    86790.0000    101937.3300 1.0000
    END-POINT           42337.9500    86790.0000    101932.8800 1.0000
    MATERIAL-IDENTIFIER 8
    UID                 8409C747-3281-410C-8738-E5E7AB9EAAAF
    CATEGORY            FABRICATION
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  5
    UCI                 7474780F-72AA-4CBF-97FF-0E2047044184
BOLT
    COMPONENT-IDENTIFIER 57
    CO-ORDS             42337.9500    86790.0000    101932.8800
    BOLT-DIA            0.875
    BOLT-LENGTH         50
    BOLT-QUANTITY       4
    CATEGORY            FABRICATION
    REPEAT-PART-NUMBER  6
    MATERIAL-IDENTIFIER 9
    UID                 40159741-0E71-455A-A24D-386F3AD41DBE
    UCI                 FAD54E94-307A-47AE-B43F-E8770FB123A0
FLANGE
    COMPONENT-IDENTIFIER 58
    END-POINT           42337.9500    86790.0000    101932.8800 1.0000
    END-POINT           42337.9500    86790.0000    101877.3600 1.0000
    SKEY                FLWN
    MATERIAL-IDENTIFIER 1
    UID                 BEE0414A-A2F8-4461-A1CC-CA9DF843F1C3
    CATEGORY            FABRICATION
    FLANGE-LEFT-LOOSE   OFF
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  4.3
    UCI                 @@@@@@@3    1166   26512     785   26512
WELD
    COMPONENT-IDENTIFIER 97
    END-POINT           42337.9500    86790.0000    101877.3600 1.0000
    END-POINT           42337.9500    86790.0000    101877.3600 1.0000
    SKEY                WW
    UID                 7C2269DD-BF13-49C4-A96B-95E4B0156E09
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 18
    WELD-TYPE           BW
    UCI                 F56E37B6-228A-4B6B-AEAC-B701184803C1
PIPE
    COMPONENT-IDENTIFIER 59
    END-POINT           42337.9500    86790.0000    101877.3600 1.0000
    END-POINT           42337.9500    86790.0000    101777.3200 1.0000
    MATERIAL-IDENTIFIER 3
    UID                 3D0A11D2-0904-4559-81C5-036002298FAD
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  1.9
    UCI                 @@@@@@@5     677   26512     737   26512
WELD
    COMPONENT-IDENTIFIER 98
    END-POINT           42337.9500    86790.0000    101777.3200 1.0000
    END-POINT           42337.9500    86790.0000    101777.3200 1.0000
    SKEY                WW
    UID                 8A1B8CA6-0D9C-4610-98E6-09C562015794
    CATEGORY            FABRICATION
    REPEAT-WELD-IDENTIFIER 19
    WELD-TYPE           BW
    UCI                 015814E7-FFB3-45B1-A6E7-9E68FBE89133
ELBOW
    COMPONENT-IDENTIFIER 60
    END-POINT           42337.9500    86790.0000    101777.3200 1.0000
    END-POINT           42330.7200    86790.0000    101750.3500 1.0000
    CENTRE-POINT        42337.9300    86790.0000    101762.8600
    SKEY                ELBW
    MATERIAL-IDENTIFIER 6
    ANGLE               2988
    UID                 13FF18FE-277D-4C14-93FC-6FCA74FAE392
    CATEGORY            FABRICATION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  3.2
    UCI                 @@@@@@@3    1176   26512     737   26512
WELD
    COMPONENT-IDENTIFIER 99
    END-POINT           42330.7200    86790.0000    101750.3500 1.0000
    END-POINT           42330.7200    86790.0000    101750.3500 1.0000
    SKEY                WS
    UID                 2E1058E7-93A0-42D6-9FD2-21081700B141
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 20
    WELD-TYPE           BW
    UCI                 692E94C8-8C0D-4922-A0F0-82CEBDDC6A4D
INSTRUMENT
    COMPONENT-IDENTIFIER 62
    END-POINT           42330.7200    86790.0000    101750.3500 1.0000
    END-POINT           42305.7300    86790.0000    101707.0500 1.0000
    CENTRE-POINT        42318.2200    86790.0000    101728.7000
    SKEY                IIBW
    MATERIAL-IDENTIFIER 11
    UID                 26E318DB-7D89-49AA-B28C-B3B68E0C2AFC
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                SP$000104
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  8.1
    UCI                 @@@@@@@3    1177   26512     737   26512
WELD
    COMPONENT-IDENTIFIER 100
    END-POINT           42305.7300    86790.0000    101707.0500 1.0000
    END-POINT           42305.7300    86790.0000    101707.0500 1.0000
    SKEY                WS
    UID                 CF7BEE51-598B-46ED-90F9-4F9B27F20687
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 21
    WELD-TYPE           BW
    UCI                 262A66C1-1D7A-497E-8934-326F67B77D95
INSTRUMENT
    COMPONENT-IDENTIFIER 64
    END-POINT           42305.7300    86790.0000    101707.0500 1.0000
    END-POINT           42280.7500    86790.0000    101663.7500 1.0000
    CENTRE-POINT        42293.2300    86790.0000    101685.4000
    SKEY                IIBW
    MATERIAL-IDENTIFIER 12
    UID                 1CCC9036-7F35-4893-9740-0A611347EF37
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                SP$000074
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  9.1
    UCI                 @@@@@@@3    1178   26512     737   26512
WELD
    COMPONENT-IDENTIFIER 101
    END-POINT           42280.7500    86790.0000    101663.7500 1.0000
    END-POINT           42280.7500    86790.0000    101663.7500 1.0000
    SKEY                WS
    UID                 3227677A-1D28-4C9B-9374-CF12A8889FFE
    CATEGORY            ERECTION
    REPEAT-WELD-IDENTIFIER 22
    WELD-TYPE           BW
    UCI                 D2143C30-DFB2-47C8-A53E-60D83DDF392F
INSTRUMENT
    COMPONENT-IDENTIFIER 66
    END-POINT           42280.7500    86790.0000    101663.7500 1.0000
    END-POINT           42230.7600    86790.0000    101577.1500 1.0000
    CENTRE-POINT        42255.7500    86790.0000    101620.4500
    SKEY                IIBW
    MATERIAL-IDENTIFIER 13
    UID                 2B9792C8-3652-403A-8D78-08F2C790B2FD
    CATEGORY            ERECTION
    INSULATION          ON
    MISC-SPEC1          BY PIPING
    MISC-SPEC2          NEW PREARRANGED OR TA ERECTION
    MISC-SPEC3          UNDEFINED
    MISC-SPEC4          E 30  MM
    NAME                SP$000139
    PIPING-SPEC         PA11
    PLANT-AREA          1
    REPEAT-PART-NUMBER  10.1
    UCI                 @@@@@@@3    1179   26512     737   26512
    END-CONNECTION-PIPELINE 
    CO-ORDS             42230.7600    86790.0000    101577.1500
    PIPELINE-REFERENCE  NOT FOUND
WELD
    COMPONENT-IDENTIFIER 102
    END-POINT           42230.7600    86790.0000    101577.1500 1.0000
    END-POINT           42230.7600    86790.0000    101577.1500 1.0000
    SKEY                WSD
    UID                 DA48E4AF-A24E-4072-8D89-18092B3A2BDB
    CATEGORY            ERECTION
    STATUS              DOTTED-UNDIMENSIONED
    WELD-TYPE           BW
    UCI                 E2422165-68EA-4FB5-9290-C33362DC3183
MATERIALS
MATERIAL-IDENTIFIER 1
    ITEM-CODE FC9-551-150-XS
    DESCRIPTION WN-FLANGE ASME B16.5 RF, CL150, CONN. WALL THICKNESS XS, ASTM A105
    -81                 FC9-551-150-XS
MATERIAL-IDENTIFIER 2
    ITEM-CODE BC9-551-90-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-90°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-90-XS
MATERIAL-IDENTIFIER 3
    ITEM-CODE RC9-551-XS
    DESCRIPTION PIPE SEAMLESS, ASME B36.10M, ASTM A106 GR. B
    -81                 RC9-551-XS
MATERIAL-IDENTIFIER 4
    ITEM-CODE FL06A
    DESCRIPTION GUIDING SUPPORT
MATERIAL-IDENTIFIER 5
    ITEM-CODE GL06A
    DESCRIPTION SLIDING SUPPORT
MATERIAL-IDENTIFIER 6
    ITEM-CODE BC9-551-45-XS
    DESCRIPTION ELBOW SEAMLESS, ASME B16.9-LR-45°, XS, ASTM A234 GR. WPB
    -81                 BC9-551-45-XS
MATERIAL-IDENTIFIER 7
    ITEM-CODE FP06A
    DESCRIPTION FIXED SUPPORT
MATERIAL-IDENTIFIER 8
    ITEM-CODE DM-551-RF-150
    DESCRIPTION SPIRAL-WOUND GASKET SS316/GRAPHITE ASME B16.20, INNER-/CENTERING RING, FOR FLANGE ACC. ASME B16.5 RF, CL150
    -81                 DM-551-RF-150
MATERIAL-IDENTIFIER 9
    ITEM-CODE SBC-551
    DESCRIPTION STUD BOLT & 2 NUTS, DIN 976-1 FORM B, EN 4032, ASTM A193 GR. B7 / ASTM A194 GR. 2H, METRIC SIZE, 80.0MM BOLT LENGTH, 2 NUTS PER BOLT
    -81                 SBC-551
MATERIAL-IDENTIFIER 10
    ITEM-CODE AH1500-C9-150-RF
    DESCRIPTION BALL VALVE EN 17292 FULL BORE, FTF DIM. ASME B16.10 LP (A), CL150, FACE RF, ASTM A216 GR. WCB, TRIM 304/R-PTFE, GF, LEVER
    -81                 AH1500-C9-150-RF
MATERIAL-IDENTIFIER 11
    ITEM-CODE SP-000104
    DESCRIPTION SPECIALTY COMPONENT
MATERIAL-IDENTIFIER 12
    ITEM-CODE SP-000074
    DESCRIPTION SPECIALTY COMPONENT
MATERIAL-IDENTIFIER 13
    ITEM-CODE SP-000139
    DESCRIPTION SPECIALTY COMPONENT
